.categoryIntro {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.categoryIntro.row > .categoryData {
    width: 100%;
    padding-left: 9;
    position: relative;
    z-index: 5;
    padding-top: 90px;
    padding-bottom: 20px;
    text-align: center;
    background: #fafafa;
}
.pageWrapper.categoryPageWrapper .product_grid_ui .productGridItem .dataWrapper:hover h4 {
    display: inline-block;
}

.col.productGridItem .dataWrapper h4 {
}
.product_inventory_gridui .category a.inv_btn {
    color: rgba(254, 100, 110, 0.45);
    border: 1px solid rgba(254, 100, 110, 0);
    padding-bottom: 10px;
    padding-top: 8px;
    font-weight: bold;
    background: #f4f4f4;
    letter-spacing: 0.128em;
    height: 30px;
    width: 95px;
    font-size: 11px;
    white-space: nowrap;
    width: 60vw;
    max-width: 330px;
}
body.categories.category .mainHeader  ul.header_link_list.as_r.tab.left_float {
    padding-left: 20px;
}
#loading-spinner > .discoball{
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: discoball_hue;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  /* background: #e1e1e1; */
  border-radius: 200px;
  border: 2px solid #e1e1e1;
  height: 70px;
  width: 70px;
  /* box-shadow: 0 3px 200px -3px #e1e1e1; */
  margin: -15px auto 0;
}

@-webkit-keyframes discoball_hue {
  from {
    -webkit-filter: hue-rotate(0deg) saturate(0%);
  }
  
  to {
    -webkit-filter: hue-rotate(360deg) saturate(0%);
  }
}

.discoball img{
  width:100%;
  height:100%;
  margin-top: 0px;
}
.hanger {
  background: #e1e1e1;
  width: 2px;
  height: 60px;
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -1px;
}

.product_inventory_gridui .category a.inv_btn:hover {
    color: #000000;
    border-color: transparent;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.45);
}
.categoryIntro.row > .categoryFeaturedVids {
    width: 53%;
    display: none!important;
    position: relative;
    z-index: 2;
}
.pageWrapper.categoryPageWrapper .product_grid_ui .productGridItem {
    margin-top: 0px;
}
.productVideoSlider video {
    width: 127%!important;
    margin-left: -12%;
}

h1.as_l {
    font-size: 66px;
    font-weight: 200;
    letter-spacing: .12em;
    text-transform: uppercase;
}
.categoryIntro.row > .categoryData > div.indentedSubCategories > .col > div {
    width: 100%;
    display: block;
}
.productVideoSlider .btn.btn_white.abs_trans_center {
    height: 48px;
    color: #242424;
    padding: 18px 32px;
    background: hsla(0, 0%, 100%, 0.94);
    border: 0;
    font-weight: 600;
    letter-spacing: .12em;
}
.categoryIntro.row > .categoryData > div.indentedSubCategories .col > div {
    display: block;
}
.categoryIntro.row > .categoryData > div {
    width: calc(100% - 28px);
    position: relative;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 400px;
}

.categoryIntro.row > .categoryData > div > h1 {
    display: inline-block;
    font-size: 65px;
    text-transform: capitalize;
    vertical-align: top;
    font-weight: 600;
    margin-top: -9px;
    line-height: 44px;
    color: #000000;
    letter-spacing: .191em;
    /* font-style: italic; */
    margin-left: -10px;
    font-size: 84px;
    text-align: Center;
    letter-spacing: .035em;
    font-family: 'Savoy Regular', times, serif;
    font-style: italic;
}
.pageWrapper.categoryPageWrapper.collaborations div.categoryData .header h1.as_l {
    font-size: 66px;
}
.categoryIntro.row > .categoryData .subHeader a > img {
    width: 71px;
    float: left;
    margin-right: 12px;
    margin-left: -9px;
}
.categoryIntro.row > .categoryData > div.header .btn {
    background: transparent;
    width: 127px;
    position: absolute;
    height: 47px;
    text-indent: .1em;
    margin-top: -12px;
    padding: 17px 2px;
    border-width: 2px;
    font-weight: 600;
    margin-right: 2px;
    border: 0;
    right: 0;
    font-size: 10.5px;
    border: 2px solid transparent;
    background: #FFFFFF;
    top: 7px;
    color: rgb(36, 38, 43);
    letter-spacing: .125em;
    font-weight: 400;
}

.categoryIntro.row > .categoryData .subHeader {
   /* padding-left: 64px;*/
   float: none;
   width: 100%;
   margin-bottom: 0;
   max-width: 400px;
   margin-left: auto;
   display: none;
}

.categoryIntro.row > .categoryData > div.header .btn:hover {
    color: #FFFFFF;
    background: rgb(36, 38, 43);
    font-weight: 800;
}

.categoryIntro.row > .categoryData .subHeader a {
    display: block;
    padding-left: 9;
    padding-right: 27px;
    padding-top: 0;
    margin-left: 24px;
    padding-bottom: 9;
    -webkit-transition: background-color .15s ease,color .15s ease,border .15s ease,opacity .15s ease;
    transition: background-color .15s ease,color .15s ease,border .15s ease,opacity .15s ease;
    background: #FFFFFF;
    /* border-top: 1px solid rgba(36, 38, 43, 0.05); */
    /* border-left: 1px solid rgba(36, 38, 43, 0.05); */
    /* border-right: 1px solid rgba(36, 38, 43, 0.05); */
    background-image: linear-gradient(180deg,transparent 0%,#eacecf 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    margin-right: 2px;
    text-decoration: none;
    -webkit-transition: background-size 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-size 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.categoryIntro.row > .categoryData .subHeader a h2.as_l {
    display: inline-block;
    float: left;
    font-weight: 400;
    color: #24262b;
    padding-top: 36px;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 5px;
    letter-spacing: .315em;
    font-weight: 500;
    font-size: 16px;
}

.categoryIntro.row > .categoryData .subHeader a h2.count_ui {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    vertical-align: bottom;
    text-align: right;
    padding-top: 6px;
    color: #24262b;
    float: right;
    text-align: left;
    text-transform: lowercase;
    margin-top: -6px;
    padding-top: 11px;
    padding-left: 12px;
    width:120px;
}
.centeredContent.row.centered.uiFormatter_exhbitions.radioOptionsModule.Story.View div.listIconWrapper {}

.centeredContent.row.centered.uiFormatter_exhbitions.radioOptionsModule.Story.View div.listIconWrapper span,.centeredContent.row.centered.uiFormatter_exhbitions.radioOptionsModule.Story.View div.listIconWrapper span:before {
    background: rgba(36, 38, 43, .35);
}

.switch-view:hover .centeredContent.row.centered.uiFormatter_exhbitions.radioOptionsModule.Story.View div.listIconWrapper span, .switch-view:hover .centeredContent.row.centered.uiFormatter_exhbitions.radioOptionsModule.Story.View div.listIconWrapper span:before {
    background: rgba(36, 38, 43, .65);
}
.categoryIntro.row > .categoryData .subHeader a:after {
    clear: both;
    content: '';
    display: table;
}

h2.as_l {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: .12em;
}

.categoryIntro.row > .categoryData .subHeader a h2.count_ui span {
    letter-spacing: .265em;
    font-size: 10px;
    margin-left: 5px;
    line-height: 1;
    margin-top: 2px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    text-transform: uppercase;
}

.categoryIntro.row > .categoryData > div.indentedSubCategories {
    width: 100%;
    /*padding-left: 50px;*/
    padding-top: 13px;
    margin-top: 0;
    display: block;
    padding-bottom: 8px;
    border: 0;
    float: none;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

a.no_border {
    border: none!important;
}

.categoryIntro.row > .categoryData > div.indentedSubCategories a {
    font-size: 12px;
    height: auto;
    padding: 11px 0 11px 0;
    text-align: left;
    margin-left: 24px;
    color: #24262b;
    letter-spacing: .31em;
    font-weight: 500;
    background-image: linear-gradient(180deg,transparent 65%,#eacecf 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    -webkit-transition: background-size 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-size 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.categoryIntro.row > .categoryData > div.indentedSubCategories a:hover {
}

.inventoryFilterBar {
    width: 100%;
    background: transparent;
    line-height: 44px;
    position: relative;
    z-index: 10;
    height: 100%;
}

.productVideoSlider .quickBuyBox {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #FFFFFF;
    height: 116px;
    padding: 22px 30px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.05);
}

.productVideoSlider {
    margin-bottom: -6px;
}

.content_width_172 {
    margin: 0 0 0 0;
}

.inventoryFilterBar .left_float a {font-family: 'lyontext', serif;color: rgba(36, 38, 43, 0.65);}
.subcategoryPageWrapper .breadcrumbs .row {}

.subcategoryPageWrapper .breadcrumbs .row > .right_float .col:first-child {
    margin-right: 2px;
}

p {}

.filtersSidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 200px;
    top: 92px;
    -webkit-transition: -webkit-transform .1s cubic-bezier(0.28, 0.11, 0.32, 1),height .15s cubic-bezier(0.28, 0.11, 0.32, 1), background-color .25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -moz-transition: -moz-transform .1s cubic-bezier(0.28, 0.11, 0.32, 1),height .15s cubic-bezier(0.28, 0.11, 0.32, 1), background-color .25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: -o-transform .1s cubic-bezier(0.28, 0.11, 0.32, 1),height .15s cubic-bezier(0.28, 0.11, 0.32, 1), background-color .25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: transform .1s cubic-bezier(0.28, 0.11, 0.32, 1),height .15s cubic-bezier(0.28, 0.11, 0.32, 1), background-color .25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    will-change: height, transfrom, -webkit-transform;
    height: calc(100vh - 92px);
    background: #F5F5F5;
}

.inventoryFilterBar .left_float.row .col {
    display: inline-block;
    float: left;
    width: initial;
    margin-bottom: 2px;
}

.content_width_172.row {
    height: 100%;
}
.down_arrow icon {
    background-image: url(../assets/img/white_dropdown_arrow.png);
    width: 9px;
    height: 9px;
    margin-left: 2px;
    top: 3px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.productVideoSlider .quickBuyBox h2.as_l {
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 11px;
}

.productVideoSlider .quickBuyBox h2.as_l span {
    margin-left: 27px;
}
.categoryIntro.row > .categoryData > div.indentedSubCategories a:hover {background-size: 100% 100%;cursor: pointer;color: #000;}

.categoryIntro.row > .categoryData .subHeader a:hover h2 {
    color: #FFFFFF;
}

.categoryIntro.row > .categoryData .subHeader h2 {
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}
h4.as_l {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .12em;
}

.quickBuyBox .optionBox p {
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.quickBuyBox .optionBox {
    padding: 0px 16px;
    height: 39px;
    line-height: 40px;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    border: 1px solid transparent;
}

.quickBuyBox label.col > h4 {
    padding: 11px 0px;
    margin-right: 13px;
    font-weight: 300;
}


.optionBox > input {
    display: none;
}

.quickBuyBox .optionBox.selected {
    border-color: #000000;
}

.quickBuyBox .optionBox.selected > p {
    color: #000000;
}

.optionBox {
    cursor: pointer;
}

.quickBuyBox .optionBox:hover p {
    color: #000000;
}
.clearanceCopy {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 24px;
    box-shadow: 0 0px 0 1px rgba(156, 156, 156, 0.2);
    display: inline-block;
    background: #FFFFFF;
    padding-left: 17px;
    padding-right: 18px;
    width: calc(100% - 4px);
    max-width: 100%;
    letter-spacing: .01em;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.65;
    background: #24262b;
    padding: 40px 50px 41px;
    font-weight: 300;
}

.clearancePageWrapper .col.productsUI-layout-toggler {
    display: none!important;
}

.clearancePageWrapper .inventoryFilterBar .hidden.dropdownContent {
    width: calc(100vw - 80px);
    position: relative;
    margin-top: -6px;
    background: transparent;
    max-height: initial;
}

.clearancePageWrapper .inventoryFilterBar .hidden.dropdownContent a.col.sizeBox {
    float: left;
    display: inline-block;
    width: initial!important;
    margin-right: 4px!important;
    min-width: 157px!important;
}

.subcategoryPageWrapper.clearancePageWrapper .breadcrumbs {
    height: initial;
}

.subcategoryPageWrapper.clearancePageWrapper .breadcrumbs .toggle_dropdown.toggleFilterOptions.down_arrow {
    display: none!important;
}

.subcategoryPageWrapper.clearancePageWrapper .breadcrumbs .col {
    height: initial;
}

.clearanceCopy > p {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    font-size: 12.5px;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 1.65;
    font-weight: 300;
    text-align: justify;
}

.clearanceCopyRow {
    margin-top: 55px;
    background: transparent;
    padding-top: 63px;
    text-align: center;
}
.categoryMarketingHero {
    position: relative;
    height: 39vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
    min-height: 440px;
}

.categoryMarketingHero .mediaWrapper,.categoryMarketingHero > a {
    width: 100%;
    display:block;
    position:relative;
    height: 100%;
}

.categoryMarketingHero a div.abs_trans_center {
    background: rgb(244, 244, 244);
    text-align: center;
    width: 100%;
    left: 50%;
    border-radius: 9px;
    padding: 16px 28px 20px;
    -webkit-filter-backdrop: blur(9px);
    max-width: 666px;
}

.categoryMarketingHero a div.abs_trans_center h4 {
    color: #000000;
    padding-bottom: 14px;
    font-weight: 100;
    font-family: 'CortadoScriptWeb', serif;
    text-transform: lowercase;
    letter-spacing: -.01em;
    font-size: 36px;
    text-align: left;
    margin-bottom: -12px;
    letter-spacing: -.091em;
    font-family: 'Warnock', times, serif;
    text-transform: lowercase;
    font-style: italic;
}

.categoryMarketingHero a div.abs_trans_center p {
    color: #000000;
    font-size: 16.5px;
    line-height: 29px;
    font-family: 'Azo Sans', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    letter-spacing: .015em;
    font-size: 14.5px;
    line-height: 1.65;
    font-weight: 400;
}

.inventoryFilterBar .filterOption .row > .col {margin-right: 30px;width: auto;margin-bottom: 15px;font-family: 'Azo Sans', Arial, sans-serif;}



.inventoryFilterBar .row > .col a:hover {
    color: #000000;
    z-index: 1000;
}

.inventoryFilterBar .row > .col > div.toggle_dropdown > a {
    display: block;
    padding: 1px 22px;
    height: 48px;
    padding-top: 2px;
}

.inventoryFilterBar .left_float.row{
    margin-left: 0;
    float: none;
    height: 100%;
    display: block;
}





.inventoryFilterBar .row > .col > div.toggle_dropdown > a:hover icon {
    -webkit-filter: brightness(0);
}

a {}

.inventoryFilterBar .row > .col > div.toggle_dropdown > a:hover {
}

h3.cal_r {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .12em;
}

.product_inventory_gridui .cushion_h3 {
    text-align: center;
    padding-bottom: 0;
    padding-top: 33px;
    background: #FFFFFF;
    margin-top: -1px;
}

.dropdown_ui > .hidden {
    position: absolute;
    left: 0;
    visibility: hidden;
    z-index: 100;
}

.dropdown_ui {
    position: relative;
    background: #FFFFFF;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 8px;
}

.inventoryFilterBar .right_float > label,.inventoryFilterBar .right_float > div {
    display: inline-block;
    vertical-align: top;
}

.inventoryFilterBar .right_float > div.dropdown_ui {
    max-height: 30px;
    margin-top: 8px;
    width: 151px;
    cursor: pointer;
    height: auto;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    padding-left: 7px;
    border: 1px solid transparent;
}

.dropdown_ui icon {
    background-image: url(../assets/img/white_dropdown_arrow.png);
    width: 7px;
    height: 6px;
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    right: 9px;
    top: 13px;
}

.inventoryFilterBar .right_float > label {
    margin-right: 7px;
    text-transform: uppercase;
    color: #9c9c9c;
    padding-top: 1px;
}

.inventoryFilterBar .right_float > div .visible {
    line-height: normal;
    padding: 8px 3px;
}

.inventoryFilterBar .right_float > div.dropdown_ui p {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 9.5px;
    letter-spacing: .11em;
    padding-top: 2px;
}
.mainPageInventoryUI.product_inventory_gridui .product_grid_ui {
    transition: padding-bottom .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

.mainPageInventoryUI.product_inventory_gridui .product_grid_ui.loadingProcessActive {
    padding-bottom: 160px;
}

div#loading-spinner.loading_spinner_active {
    opacity: 1;
}
div#loading-spinner {
    position: absolute;
    /* display: none; */
    width: 80px;
    height: 160px;
    padding-top: 80px;
    padding-bottom: 31px;
    /* opacity: 0; */
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    pointer-events: none;
    opacity: 0;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.hanger:before {
    background-image: linear-gradient(180deg, #f4f4f4 0%, rgba(244, 244, 244, 0) 100%);
    content: '';
    position: absolute;
    top: -1px;
    left: -3px;
    right: -3px;
    height: 74px;
}
.row.row_of_4 > .col {
    width: 25%;
    position: relative;
}

.col.productGridItem .mediaWrapper {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 4px;
    left: 4px;
}

.col.productGridItem {
    background: rgba(250, 250, 250, 0.95);
    height: 0;
    position: relative;
    padding-bottom: calc(25% + 88px);
}

.row.row_of_4.product_grid_ui {
    padding-right: 4px;
    background: rgba(250, 250, 250, 1);
    margin-bottom: 16px;
}

.col.productGridItem:before {content: '';position: absolute;top: 2px;right: 0px;bottom: 0px;left: 2px;background: #FFFFFF;box-shadow: 0 0 0 1px rgba(0, 0, 0, 0) inset;-moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);-o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);-webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);}

.product_inventory_gridui {
    text-align: center;
}

.product_inventory_gridui .category {
    margin-bottom: 52px;
}

.col.productGridItem .dataWrapper {
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.col.productGridItem .dataWrapper h4 {
    font-weight: 400;
    letter-spacing: .08em;
    font-size: 14.5px;
    margin-bottom: 0px;
}
.col.productGridItem > a:hover .media {
/*    -webkit-filter: brightness(115%);
*/}

.col.productGridItem > a .media {
    transition: .25s all cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: .25s all cubic-bezier(0.01, 0.98, 0.265, 0.98);
}
.col.productGridItem > a {
    cursor: pointer;
}

.col.productGridItem a:hover .dataWrapper {
    opacity: 1;
}

.dropdown_ui.dropdown_ui_active .hidden p.as_l {
    padding-left: 10px;
    height: auto;
    padding-top: 9px;
    font-weight: 500;
    padding-bottom: 7px;
    position: relative;
    font-size: 10.5px;
    letter-spacing: .015em;
    text-transform: capitalize;
    line-height: normal;
}

.dropdown_ui.dropdown_ui_active .hidden > .option.selected p {
    color: #000000;
}

.filterMenus {
    overflow: hidden;
    background: #f4f4f4;
    max-height: 0;
    color: #000000;
    width: 100%;
    height: auto;
    -moz-transition: max-height 0.5s cubic-bezier(0.01, 0.98, 0.265, 0.98),background-color 1s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: max-height 0.5s cubic-bezier(0.01, 0.98, 0.265, 0.98),background-color 1s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: max-height 0.5s cubic-bezier(0.01, 0.98, 0.265, 0.98),background-color 1s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: max-height 0.5s cubic-bezier(0.01, 0.98, 0.265, 0.98),background-color 1s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.inventoryFilterBar > .filterMenus {top: 1px;position: relative;display: none;}

a.optionBox.colorSwatchBox {}

a.colorSwatchBox .media {
    width: 25px;
    height: 25px;
    border-radius: 1px;
    position: relative;
    z-index: 1;
    top: 0px;
    display: inline-block;
}

a.colorSwatchBox h5 {
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
    font-size: 10.5px;
    margin-top: 7px;
    margin-right: 10px;
    font-weight: 600;
    line-height: normal;
}

.inventoryFilterBar > .filterMenus .filterOption {
    margin-top: 0;
    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    height: auto;
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: 0s visibility .7s, .5s -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) .1s, .15s opacity cubic-bezier(0.19, 1, 0.22, 1) .2s, 0s max-height .75s;
    transition: 0s visibility .7s, .5s transform cubic-bezier(0.19, 1, 0.22, 1) .1s, .15s opacity cubic-bezier(0.19, 1, 0.22, 1) .2s, 0s max-height .75s;
}

h5.as_t {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .12em;
}

.inventoryFilterBar .row > .col > div.toggle_dropdown > a span {text-transform: uppercase;}

a.col.colorSwatchBox > .optionBox {
    display: inline-block;
    border: 0;
    border-radius: 2px;
    position: relative;
    padding-left: 16px;
    width: 100%;
    height: 32px;
}

a.col.colorSwatchBox > .optionBox > div {
    margin: 0px;
    height: 24px;
    border-radius: 0;
}

a.col.colorSwatchBox > .optionBox.selected {
    border-color: #000000;
    background-color: #eee;
}

.toggleFilterOptions.activeFilterOption span {
    color: #000000;
}

.toggleFilterOptions.activeFilterOption icon {
    -webkit-filter: brightness(0%);
    -moz-filter: brightness(0%);
    filter: brightness(0%);
    transform: scaleY(-1) translateY(4px);
}

a.inv_btn.tiny_inv_btn {
    font-size: 11.5px;
    font-weight: 400;
    display: inline-block;
    border-width: 1px;
    letter-spacing: .08em;
    height: 28px;
    width: 40px;
    color: #666666;
    border-color: #666666;
}

.inventoryFilterBar > .filterMenus .filterOption > .row {
    width: 100%;
}

.filterMenus.filterMenusActive {
    max-height: 3500px;
}

.inventoryFilterBar > .filterMenus .filterOption.filterOptionActive {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0s visibility 0s, .5s -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) .1s, .15s opacity cubic-bezier(0.19, 1, 0.22, 1) .2s;
    transition: 0s visibility 0s, .5s transform cubic-bezier(0.19, 1, 0.22, 1) .1s, .15s opacity cubic-bezier(0.19, 1, 0.22, 1) .2s;
    max-height: 600px;
    overflow: visible;
}

.inventoryFilterBar > .filterMenus > .content_width_172 {
    border-top: 2px solid rgba(102, 102, 102, 0.04);
}

.inventoryFilterBar .filterOption .row > .col.sizeBox {
    width: auto;
    width: 100%!important;
    min-width: calc(16.6667% - (90px / 6))!important;
    margin-right: 18px!important;
    text-align: left;
    height: 32px;
    margin-bottom: 0px;
}

.filterMenus.filterMenusActive .filterOption {
    -webkit-transition: 0s visibility .7s, .5s -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) .1s, .15s opacity cubic-bezier(0.19, 1, 0.22, 1) .2s, 0s max-height 0s;
    transition: 0s visibility .7s, .5s transform cubic-bezier(0.19, 1, 0.22, 1) .1s, .15s opacity cubic-bezier(0.19, 1, 0.22, 1) .2s, 0s max-height 0s;
}

.inventoryFilterBar > .filterMenus .filterOption > .row {
    margin-bottom: 11px;
    padding-top: 35px;
}

.inventoryFilterBar > .filterMenus .filterOption > .right_float {
    position: relative;
    margin-top: 34px;
}
.activeFilters.row > .content_width_172 {
    border-top: 2px solid rgba(102, 102, 102, 0.04);
    padding-top: 2px;
    padding-bottom: 2px;
}
.activeFilters {
    padding-bottom: 4px;
    margin-top: -2px;
    background: #f4f4f4;
}
.inventoryFilterBar .filterOption .row > .col.sizeBox h5 {
    display: inline-block;
    text-align: left;
    padding: 12px 7px 11px;
    width: calc(100% - 14px);
    background: transparent;
    vertical-align: top;
    border-radius: 0px;
    height: 32px;
    font-size: 10px;
    line-height: 10px;
    border: 0;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    font-size: 10px;
    font-weight: 900;
    color: rgba(53, 55, 62, 0.65);
}
.activeFiltersBoxesWrapper label {
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-weight: 300;
    color: #000000;
    position: relative;
    top: 3px;
}
.inventoryFilterBar .filterOption .row > .col.sizeBox > div {padding-left: 18px;height: 32px;}
.productVideoSlider .image_mask {
    max-height: 54vw;
}

.productVideoSlider .btn.btn_white.abs_trans_center p {
    font-size: 12.5px;
    font-weight: 800;
}
.inventoryFilterBar .filterOption .row > .col.sizeBox .optionBox.selected h5 {color: rgba(36, 38, 43, 1);}
div#applyFilter {
    background-color: transparent!important;
    margin-top: 8px;
    border: 1px solid rgba(225, 225, 225, 0);
    border-radius: -5px;
    overflow: hidden;
    position: absolute;
    margin: 0;
    border: 0;
    width: 0!important;
    visibility: hidden;
    height: 30px;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.inventoryFilterBar .row div#applyFilter a {
    height: 26px;
    line-height: normal;
    padding: 0px 6px 3px 8px;
    text-align: center;
    color: #9c9c9c;
    border: 2px solid #8c8c8c;
    font-weight: 500;
}

.inventoryFilterBar .row div#applyFilter a em {
    font-weight: 600;
    letter-spacing: .14em;
    font-size: 11.5px;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    color: #8c8c8c;
}

.inventoryFilterBar .row div#applyFilter:hover {
    background-color: #FFFFFF;
}

.inventoryFilterBar .right_float > div.dropdown_ui:hover {
    box-shadow: 0 0px 0px 1px rgba(225, 225, 225, 0.8);
}

.inventoryFilterBar .right_float > div.dropdown_ui.dropdown_ui_active:hover {
    box-shadow: none;
}

.dropdown_ui.dropdown_ui_active {
    box-shadow: 1px 2px 5px -2px rgba(0, 0, 0, 0.1),-1px 2px 5px -2px rgba(0, 0, 0, 0.1);
}

.dropdown_ui.dropdown_ui_active .hidden p.as_l:after {
    position: absolute;
    content: '';
    left: 10px;
    bottom: 0;
    height: 1px;
    right: 12px;
    background: #f4f4f4;
}
body.categories.category .pageWrapper.categoryPageWrapper .product_grid_ui .col.productGridItem:before{
bottom:4px;
}
.dropdown_ui.dropdown_ui_active .hidden .option:last-child p.as_l:after {
    background: transparent;
}
.inventoryFilterBar .row div#applyFilter:hover span em {
    color: #000;
}
div#showQuickView {
    top: 4px;
    background-color: #b3b3b5;
    left: 50%;
    position: absolute;
    width: 160px;
    border: 0;
    padding: 6px 25px 5px;
    color: #FFFFFF!important;
    transform: translateX(-50%);
    cursor: pointer;
    font-weight: bold;
    z-index: 10;
    display: none!important;
    pointer-events: none!important;
    text-transform: uppercase;
    opacity: 0;
    padding-top: 0;
    line-height: 36px;
    height: 32px;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

div#showQuickView > h5 {
    font-size: 10.5px;
    color: #FFFFFF;
    font-weight: 900;
    letter-spacing: .125em;
}

.col.productGridItem:hover #showQuickView {
    opacity: 1;
}

div#showQuickView:hover {
    color: #FFFFFF;
    background-color: #707275;
}
div#clearFilter .tooltip {
    position: relative;
    width: 131px;
    background: transparent;
    height: 30px;
    text-transform: uppercase;
    font-family: 'Azo Sans', Helvetica, sans-serif;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    float: left;
    letter-spacing: .3em;
    padding-left: 38px;
    color: rgba(53, 55, 62, 0.65);
    line-height: normal;
    pointer-events: none;
    margin-left: 0px;
    -webkit-transition: -webkit-transform .25s cubic-bezier(0.28, 0.11, 0.32, 1),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: transform .25s cubic-bezier(0.28, 0.11, 0.32, 1),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

div#clearFilter .tooltip:before {
    background-color: #e1e1e1;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    content: '';
    position: absolute;
    top: calc(100% - 8px);
    left: 50%;
    margin-left: -6px;
    display: none;
}

.inventoryFilterBar .row > .col > div.toggle_dropdown#clearFilter > a span em span {
    width: 10px;
    height: 1px;
    display: block;
    background-color: rgba(53, 55, 62, 0.65);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 2px;
    margin-top: 1px;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.inventoryFilterBar .row > .col > div.toggle_dropdown#clearFilter > a span em span:last-child {
    transform: rotate(-45deg);
}
.categoryMarketingHero h4.as_l.absCenterNoBG {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 100%;
    transform: translate(-50%,-50%);
    font-weight: 500;
    text-transform: lowercase;
    font-size: 64px;
    font-family: 'CortadoScriptWeb', serif;
    letter-spacing: -.01em;
    letter-spacing: -.091em;
    font-family: 'Warnock', times, serif;
    text-transform: lowercase;
    font-style: italic;
}
.media.fullWidthCatIndexBanner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
div#clearFilter > a {
    height: 46px;
    margin-top: 0;
    padding-right: 0;
    padding-left: 12px;
    margin-left: 0;
    padding-left: 0;
    position: relative;
    padding-top: 10px;
}

div#clearFilter > a:hover .tooltip {
}

div#clearFilter > a:hover em span {
    background-color: rgba(53, 55, 62, 0.85)!important;
}
.inventoryFilterBar .row div#applyFilter a:hover {
    border-color: #000000;
    color: #FFFFFF;
}

.inventoryFilterBar .row div#applyFilter a:hover em {
    color: #000000;
}
.col.categoryFeaturedVids.imageContained {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.filterMenus a.col.colorSwatchBox > .optionBox {
    text-align: left;
    min-width: 208px;
    background: #FFFFFF;
    box-shadow: 0 0 0 1px transparent;
    border-radius: 0;
    width: 100%;
    padding-top: 5px;
    max-width: 100%;
    padding-left: 6px;
    padding-bottom: 4px;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}
.filterMenus a.col.colorSwatchBox > .optionBox.selected {
    border-color: rgb(0, 0, 0)!important;
    background-color: rgba(255,255,255,.7);
    box-shadow: 0 1px 1px 1px rgba(255,255,255,.5)!important;
}

.filterMenus a.col.colorSwatchBox > .optionBox:hover {
    box-shadow: 0 0 0 1px #e1e1e1;
}

div#applyFilter.applyBtnActive a {
    background-color: rgba(97,181,255,1)!important;
    color: #FFFFFF!important;
    border-color: rgba(0, 0, 0, 0.06)!important;
}

div#applyFilter.applyBtnActive a em {
    color: #FFFFFF!important;
}
.inventoryFilterBar .filterOption .row > .col.sizeBox:nth-child(6n) {
    margin-right: 0!important;
}

.inventoryFilterBar .filterOption .row > .col.sizeBox .optionBox:hover h5 {color: rgba(36, 38, 43, 1);}
div.infoWrapper .info .btn.btn_charcoal:before {
    left: 50%;
    height: 2px;
    right: 50%;
    background-color: rgb(254, 100, 110);
    -webkit-transition: left .5s ease,right .5s ease;
    transition: left .5s ease,right .5s ease;
}

a:hover div.infoWrapper .info .btn.btn_charcoal:before {
    left: 0;
    right: 2px;
}
.filterMenus a.col.colorSwatchBox > .optionBox h5.as_t {
    width: calc(100% - 35px);
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    margin-right: 0;
    margin-top: 7px;
    margin-left: 2px;
}
.categoryIntro.row > .categoryData .subHeader a h2.as_l:before {content: 'Almost Soldout';position: absolute;bottom: 40px;letter-spacing: .215em;font-size: 10px;font-weight: 100;text-transform: uppercase;color: #24262b;color: rgba(36, 38, 43, 0.3);font-weight: 600;}

.pageWrapper.categoryPageWrapper .product_inventory_gridui {
    padding-bottom: 100px;
    padding-top: 48px;
}

.product_inventory_gridui .category .row.row_of_4.product_grid_ui {
    background: transparent;
    margin-bottom: 27px;
}

.product_inventory_gridui .category .row.row_of_4.product_grid_ui .col.productGridItem {
    background: transparent;
}

.pageWrapper.categoryPageWrapper {
}

.product_inventory_gridui .category a.inv_btn > p {
    font-weight: 400;
}

.pageWrapper.categoryPageWrapper .product_grid_ui .productGridItem:hover {
}

div#showQuickView:hover h5 {
}
.col.categoryFeaturedVids.imageContained .btn.btn_white.abs_trans_center {
    display: none;
}

.categoryIntro.row.white {}

.categoryIntro.row.white .categoryData > div > h1 {
}

.categoryIntro.row.white .subHeader {}
.pageWrapper.pageLeftNavSidebar .inventoryFilterBar .filterOption .row > .col:nth-child(4n) {
    margin-right: 0;
}
.categoryIntro.row.white .subHeader h2.as_l {
    color: #FFFFFF!important;
}
.productVideoSlider a:hover .btn.btn_white.abs_trans_center {
    background: #000000;
    color: #FFFFFF;
}

.contextualHeader {}

.contextualHeader > h3.title {
    font-weight: 300;
    font-size: 20px;
    font-family: 'Warnock', times, serif;
    margin-bottom: 15px;
    letter-spacing: .125em;
    text-transform: uppercase;
}

.contextualHeader {
    max-width: 520px;
    margin: 0 auto;
    padding: 56px 0 50px;
    text-align: center;
}

.contextualHeader > p.desc {
    font-size: 16px;
    line-height: 1.65;
    font-weight: 300;
    position: relative;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.contextualHeader span.sep {
    display: block;
    height: 6px;
    width: 15px;
    margin: 7px auto 15px;
    background: #000000;
}

.primaryFeatured .infoWrapper .info span.sep, .secondaryFeatured .infoWrapper .info span.sep, .tertiaryFeatured .infoWrapper .info span.sep {
    display: block;
    background: #000000;
    height: 6px;
    width: 15px;
    margin: 12px 0 15px;
}

.contextualHeader > .btn {
    font-size: 10px;
    font-weight: 400;
    padding: 15px 24px 13px;
    height: initial;
    color: #FFFFFF;
    letter-spacing: .125em;
}

.btn.btn_charcoal {
    background: rgba(36, 38, 43, 0);
    border: 0;
    color: #24262b;
    border: 1px solid rgba(36, 38, 43, 0.1);
}

.btn.btn_charcoal:hover {
    background-color: #24262b;
    color: #FFFFFF;
    font-weight: 800;
}

.primaryFeatured {
    position: relative;
    height: initial;
    float: left;
}

.primaryFeatured .mediaWrapper {
    width: 50%;
    display: inline-block;
}

.primaryFeatured .mediaWrapper img {
    width: 100%;
}

.secondaryFeatured {
    width: 100%;
    top: -25vw;
    position: relative;
    float: right;
    height: initial;
}

.secondaryFeatured .mediaWrapper {
    float: right;
}

.secondaryFeatured > a {
    display: block;
}

.primaryFeatured .swatchImage {
    width: 110px;
    position: absolute;
    top: 20px;
    left: 65%;
    margin-left: -56px;
    z-index: 3;
    transform: rotate(45deg);
    display: none;
}

.primaryFeatured .infoWrapper {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: calc(100vh - 30vw);
    float: right;
    position: relative;
}

.primaryFeatured .mediaWrapper .mainImage {
    z-index: 1;
    position: relative;
}

.primaryFeatured .swatchImage img {
    width: 100%;
    border: 2px solid #FFFFFF;
}

.secondaryFeatured .mediaWrapper {
    width: 50%;
}

.secondaryFeatured .mediaWrapper img {
    border: 2px solid #FFFFFF;
    width: 100%;
}

.primaryFeatured .infoWrapper .info, .secondaryFeatured .infoWrapper .info, .tertiaryFeatured .infoWrapper .info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.primaryFeatured .infoWrapper .info h5.title, .secondaryFeatured .infoWrapper .info h5.title, .tertiaryFeatured .infoWrapper .info h5.title {
    font-weight: 100;
    font-size: 25px;
    font-family: 'Savoy Regular', times, serif;
    letter-spacing: 0;
}

.tertiaryFeatured {
    top: -27vw;
    position: relative;
    float: left;
    z-index: 3;
}

.tertiaryFeatured .mediaWrapper {
    width: 50%;
    float: left;
    display: inline-block;
}

.tertiaryFeatured .mediaWrapper img {
    width: 100%;
    border: 0;
}

.mainCategoryFeaturedProducts {
    max-width: 1180px;
    margin: 0 auto -56px;
    z-index: 3;
    background: #FFFFFF;
    overflow: hidden;
    border-bottom: 1px solid #f5f5f;
}

.primaryFeatured .infoWrapper .info p.desc, .secondaryFeatured .infoWrapper .info p.desc, .tertiaryFeatured .infoWrapper .info p.desc {
    font-size: 12.5px;
    line-height: 1.65;
    font-weight: 300;
    margin-bottom: 12px;
}

.infoWrapper .info .btn.btn_charcoal {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    font-weight: 400;
    height: 13px;
    position: relative;
    background: transparent;
    color: #24262b;
}

.infoWrapper .info .btn.btn_charcoal:after,.infoWrapper .info .btn.btn_charcoal:before {
    position: absolute;
    content: '';
    background-color: rgba(254, 100, 110, 0.27);
    left: 0;
    right: 2px;
    bottom: -3px;
    height: 1px;
    -webkit-transition: background-color .15s ease,color .15s ease,border .15s ease,opacity .15s ease;
    transition: background-color .15s ease,color .15s ease,border .15s ease,opacity .15s ease;
}

.primaryFeatured:hover {}

.primaryFeatured:hover .btn.btn_charcoal:after {}

a:hover .infoWrapper .info .btn.btn_charcoal:after {
}

.secondaryFeatured .infoWrapper {
    float: left;
    width: 50%;
    vertical-align: bottom;
    position: relative;
    text-align: right;
    margin-top: calc(25vw - 18px);
    height: calc(100vh - 25vw);
}

.secondaryFeatured .infoWrapper span.sep {
    margin-left: auto!important;
    margin-right: 0!important;
}

.tertiaryFeatured .infoWrapper {
    width: 50%;
    float: right;
    display: inline-block;
    vertical-align: top;
    height: calc(100vh - 50px);
    position: relative;
}
.categoryIntro.row.white .subHeader h2.count_ui {
    color: #FFFFFF!important;
}


.inventoryFilterBar.clearanceFilterBar {
    position: relative;
    margin-top: 0;
    background: #FFFFFF;
    border-bottom: 1px solid #f4f4f4;
    z-index: 10;
    border-top: 2px solid #f4f4f4;
}
.mainCategoryFeaturedProducts > .contentWidth {
    margin-left: 2px;
}

.mainCategoryFeaturedProducts > .contentWidth:after {
    clear: both;
    content: '';
    display: table;
}

.mainCategoryFeaturedProducts > .contentWidth:before {content: '';display: table;}

.infoWrapper {}
body.clearance .noGutter_content_width.product_inventory_gridui.mainPageInventoryUI {
    margin-top: 0;
    margin-top: -1px;
    padding-top: 0px;
}

body.clearance .col.productGridItem > a .media {
    background-size: 92%;
    margin-top: -10%;
}

body.clearance.index {
    background: #f4f4f4;
}

body.clearance .productGridItem .productGridItemSwatches {
    bottom: -7px;
}
.breadcrumbs .right_float.inventoryFilterBar label.lyon_r.dg > em {
    font-style: normal!important;
    letter-spacing: .25em;
    font-size: 8px;
    font-weight: 600;
}

div#livechat-compact-container {}

.accordionUI.accordionUI_leftSidebar .hidden ul {
    overflow: scroll;
    max-height: calc(100vh - 240px);
}
body.clearance .col.productGridItem .dataWrapper {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: .135em;
    margin-bottom: 3px;
    line-height: 1.1;
    opacity: 1;
    bottom: 53px;
}
body.categories .pageWrapper.subcategoryPageWrapper.pageLeftNavSidebar {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
}
body.clearance .col.productGridItem .dataWrapper h4 {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: .135em;
    line-height: 1.5;
}

.inventoryFilterBar.clearanceFilterBar #clearFilter .tooltip {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%) translateX(0px)!important;
    transform: translateY(-50%) translateX(0px)!important;
    opacity: 1;
    visibility: visible;
    pointer-events: all!important;
}

.inventoryFilterBar.clearanceFilterBar #clearFilter .tooltip:before {
    left: calc(0% + 8px);
    top: 50%;
}

body.clearance .inventoryFilterBar .filterOption .row > .col.sizeBox {
    margin-bottom: 6px;
}

body.clearance .inventoryFilterBar > .filterMenus > .content_width_172 {
    border-top: 0;
}

body.clearance.index .mainHeader {
    box-shadow: none;
}
.clearanceCopy > div {
    text-align: left;
}

.clearanceCopy > div > span {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: 800;
    padding-left: 12px;
    display: block;
    font-size: 10.5px;
    font-family: 'Warnock', times, serif;
    font-size-adjust: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-top: 15px;
}
.filtersSidebar.filtersSidebarShifted {
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    height: calc(100vh - 58px);
}

.subcategoryPageWrapper .breadcrumbs.breadcrumbsShifted {
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
}

.breadcrumbs .otherSubCats .col p {
    padding: 2px 20px 0;
}

.inventoryFilterBar .row > .col > div.toggle_dropdown > a:hover {
}

.subcategoryPageWrapper .product_inventory_gridui .collectionRow {
    border-bottom: 1px solid rgba(156, 156, 156, 0.2);
    padding-top: 12px;
    padding-bottom: 12px;
}
.switch-view .col.ex_uiFormatterOption {
    background: transparent;
    width: 26px!important;
    height: 48px;
    border: 0;
    margin-left: -1px;
    vertical-align: top;
    float: left!important;
    display: inline-block!important;
    margin-right: 0px;
    padding-top: 13px;
    pointer-events: none;
}

.switch-view {
    padding-bottom: 12px;
}
.tileIconWrapper > .row > span {
    width: calc(50% - 1px)!important;
    background: rgba(36, 38, 43, 1);
    height: 9px;
    margin-right: 1px;
    margin-bottom: 1px!important;
    display: inline-block!important;
    float: left!important;
    -webkit-transition: background-color .15s ease,color .15s ease,border .15s ease,opacity .15s ease,background-size 0.55s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color .15s ease,color .15s ease,border .15s ease,opacity .15s ease,background-size 0.55s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}
.tileIconWrapper > .row {
    width: 10px;
    margin: 0 auto;
    margin-right: 1px;
    float: left;
    display: inline-block;
}
.cushion_h1_title.exhibitionsIndexTitleCushion .uiFormatter_exhbitions .ex_uiFormatterOption:last-child {
    border-radius: 0 5px 5px 0;
}
.ex_uiFormatterOption.listIconWrapper > span {
    margin-left: 4px;
    height: 3px;
    width: 18px;
    display: block;
    background: rgba(36, 38, 43, 1);
    margin-bottom: 4px;
}
.pageWrapper.subcategoryPageWrapper.pageLeftNavSidebar.searchResultsPageWrapper .product_inventory_gridui {
    padding-top: 148px;
}
.pageWrapper.subcategoryPageWrapper .productGridItem .productGridItemSwatches .slick-track {
    /* width: 100%!important; */
    text-align: center;
}

.pageWrapper.subcategoryPageWrapper .productGridItem .productGridItemSwatches .slick-track .productGridItemSwatchWrapper.slick-slide {}
.ex_uiFormatterOption.listIconWrapper > span:before {
    content: '';
    width: 3px;
    height: 3px;
    background: rgba(36, 38, 43, 1);
    margin-right: 2px;
    display: block;
    margin-left: -5px;
}
.inventoryFilterBar .filterOption .row > .col.sizeBox .optionBox:hover:before, .inventoryFilterBar .filterOption .row > .col.sizeBox .optionBox.selected:before {
    background-color: rgba(53, 55, 62, 1);
}
.col.categoryFeaturedVids:before {content: '';position: absolute;top: 0;bottom: 0;right: 100%;width: 47vw;background: rgba(250, 250, 250, 0.95);}

.col.ex_uiFormatterOption.listIconWrapper.optionBoxRadio.checkboxUX {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    margin-left: 20px;
    margin-right: 18px;
}
.contextualHeader a.show_mdl .btn.btn_charcoal {
    font-size: 10.5px;
    height: 48px;
    padding-top: 19px;
    padding-left: 24px;
    padding-right: 24px;
}

.category_banner {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/img/category_banner.jpg');
}

.sale_icon {

}

/*.productModelSolo h6 {
    text-align: center;
}
*/
.centere/*dContent.row.centered.uiFormatter_exhbitions.radioOptionsModule.Grid.View {
    margin-*/