div#mainHeader.mainHeaderCheckoutFlow .right_float {
    position: absolute;
    top: 0;
    right: 30px;
    color: #FFFFFF;
}

a.shopReturnBtn {
    text-transform: uppercase;
    font-size: 12px;
    height: 60px;
    letter-spacing: .12em;
    display: block;
    display: none;
    padding: 0 12px;
}
.checkout_bottom {
    padding-top: 20px;
    padding-bottom: 30px;
}
a#paypalPayBtnClicker > span.media {
    display: inline-block;
    width: 68px;
    margin-left: -3px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 17px;
    vertical-align: top;
    margin-top: -2px;
}
.giftCardSection > input.btn {
    background: rgba(36, 38, 43, 0.35);
    color: #FFFFFF;
    border: 0;
    height: 36px;
    padding-top: 2px;
    margin-top: -7px;
    width: initial;
    font-size: 10.5px;
    max-width: 201px;
    font-weight: 900;
    top: 10px;
    position: absolute;
    right: 3px;
    -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
}

.giftCardSection > input.btn:hover {
    background: rgba(36, 38, 43, 0.85);
    color: #FFFFFF;
}
select#ship_speed {
        width: 100%;
    /* max-width: 300px; */
    border: 1px solid rgba(36, 38, 43, 0.25)!important;
    background: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-family: 'Alright Sans',sans-serif!important;
    border-radius: 0;
    /* padding: 13px 18px; */
    padding-left: 13px;
    outline: 0;
    position: relative;
    color: #1b1b20;
        letter-spacing: .15em;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
}
 span.ship_arrow {
    position: absolute;
    width: 11px;
    top: 6px;
    right: 22px;
}
span.ship_arrow path {
        fill: rgba(36, 38, 43, 0.25);
    stroke: rgba(36, 38, 43, 0.25);
}

input#giftCardInput, input#couponInput {
    max-width: 300px;
    width: 100%;
    display: block;
        height: 43px;
    border: 1px solid rgba(36, 38, 43, 0.25)!important;
    border-radius: 0;
    padding: 2px 13px 0px;
    line-height: 1;
    color: #000000;
    margin-bottom: 24px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}


}
h7.title img {
    width: 100px;
    padding: 0px 5px 5px;
}

a#paypalPayBtnClicker {
    padding-top: 17px;
    float: right;
    display: inline-block;
    max-width: 100%;
}
input#checkoutEmail {
    width: 300px;
    /*margin-right: calc(100% - 302px);*/
    margin: 8px 0;
    height: 40px;
}
div#paypalPayment .media {
    width: 68px;
    height: 18px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -2px;
    margin-left: 2px;
}
body.checkout .footerNavigationalSection {
    display: none;
}
.billShipNotice {
    width: 90%;
    margin: 0 auto;
}
.billShipNotice p {
    font-size: 12px;
    font-style: italic;
}

a.shopReturnBtn p {
    letter-spacing: .12em;
    font-weight: 600;
    font-size: 10.5px;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    padding: 14px 28px 11px;
    background: rgba(0, 0, 0, 0.37);
    color: rgba(156, 156, 156, 0.9);
    border: 1px solid rgba(156, 156, 156, 0.3);
}
div#paypalPayment {
    background: transparent!important;
    text-align: left;
    padding-left: 0;
    margin-bottom: 25px;
}

.paymentFormWrapperCol div.paypalOr {
    text-align: center;
    max-width: 300px;
    border: 1px solid #e1e1e1;
    margin-bottom: -43px;
    background: #fffffff;
    margin-top: 20px;
    height: 47px;
}

.paypalOr > h5 {
    margin-top: -8px;
    background: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    text-transform: uppercase;
    position: relative;
    padding-left: 4px;
    color: #9c9c9c;
    padding-right: 4px;
}

div#paypalPayment p {
    width: auto;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 3px;
}
ul.header_link_list.left_float.as_r.checkoutFlowStepList:after {
    clear: both;
    content: '';
    display: table;
}

div input[type="text"]:focus, div input[type="email"]:focus, div input[type="tel"]:focus {
    border-color: rgba(36, 38, 43, 0.65)!important;
    box-shadow: 0 1px 1px rgba(36, 38, 43, 0.1);
}
button.paypal-button {
    visibility: hidden;
    opacity: 0;
    height: 0!important;
    width: 0!important;
}
.bagItemsCol h1.as_l {
    font-size: 33px;
    font-weight: 300;
    padding-top: 5px;
    letter-spacing: 0.05em;
    color: #000000;
    display: inline-block;
    color: #000000;
    font-weight: 100;
    font-family: 'Savoy Regular', times, serif;
    font-size: 40px;
}

.col.bagItemsCol > .header {
/*
    width: 100%;
    padding-bottom: 4px;
    text-align: left;
    border-bottom: 1px solid rgba(36, 38, 43, 0.15);
    padding-bottom: 12px;
    z-index: 10;
    position: relative;
*/
        width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 6px solid #000;
    padding: 15px 20px;
    z-index: 10;
    position: relative;
}


.col.bagItemsCol {
    width: calc(100% - 350px);
}

.col.bagItemsCol > .header .btn {
    font-size: 14px;
    font-weight: 900;
    width: auto;
    max-width: 300px;
    border-color: transparent;
    border-width: 2px;
}

.shoppingInfoCol.col {
    width: 240px;
    margin-left: 110px;
}

.labelDataBox {
    background: transparent;
    width: 100%;
    padding: 8px;
    
    font-size: 12px;
    color: #666666;
    margin-bottom: 0;
    padding-top: 14px;
}

.labelDataBox label {
    text-transform: uppercase;
    height: 26px;
    line-height: 35px;
    display: block;
    border-bottom: 1px solid rgba(36, 38, 43, 0.15);
    margin-bottom: 12px;
    font-size: 12px;
    color: rgba(36, 38, 43, 0.3);
    font-weight: 600;
    letter-spacing: .15em;
}

.labelDataBox p {
    font-weight: 500;
    letter-spacing: .01em;
    margin-bottom: 3px;
    line-height: 18px;
    color: #24262b;
    text-align: left;
    line-height: 1.8;
    font-weight: 300;
    font-size: 12px;
}

.labelDataBox p b {
    display: block;
    font-weight: 500;
    color: #000000;
    margin-bottom: 4px;
}

.labelDataBox img {
    width: 37px;
    /*margin-bottom: 15px;*/
    max-width: 200px;
    margin-right: 25px;
}

.bagItemsListWrapper .col.bagItemImg {
    width: 100px;
    float: left;
    /*margin-right: 30px;*/
    /*padding-top: 35px;*/
}

.bagItemsListWrapper .col.bagItemImg img {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
}

.bagItemsListWrapper .col.bagItemInfo {
    float: left;
    padding-left: 24px;
    padding-right: 12px;
    position: relative;
}

.bagItemsListWrapper .col.bagItemPrice {
    width: 120px;
    padding-top: 22px;
    height: 100%;
    float: left;
    margin-left: 20px;
}

.bagItemsListWrapper .col h6 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 12px;
    letter-spacing: .05em;
    line-height: 20px;
}

.bagItemsListWrapper ul li {
    border-bottom: 1px solid rgba(156, 156, 156, 0.15);
    padding-bottom: 15px;
    padding-top: 15px;
    min-height: 131px;
}

.bagItemInfoItem {
    width: 100%;
    padding-right: 12px;
    max-width: 224px;
    margin-bottom: 33px;
}

.bagItemsListWrapper .col h8 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .03em;
    font-weight: 500;
    color: #bababa;
}

h6.as_l.bagItemInfoName {
    float: left;
    letter-spacing: .315em;
    font-weight: 500;
    font-size: 12px;
    padding-top: 15px;
    width: 205px;
    margin-right: 20px;
}
body.checkout .footerNavigationalSection {
    display: none;
}

body.checkout .mainPageContainer,body.cart .mainPageContainer {
    width: 100%;
}

body.checkout .mainRightSidebar, body.cart .mainRightSidebar{
    display: none;
}
.bagItemsListWrapper .col .footer {
    position: absolute;
    top:10px;
    right: 0;
}

.bagItemsListWrapper li > div.row {
    position: relative;
}

.bagItemsListWrapper .col .footer .btn_oreo {
    border-width: 1px;
    font-weight: 600;
    font-size: 11.5px;
    letter-spacing: .11em;
    height: 32px;
    padding: 11px 3px;
    line-height: normal;
    width: 92px;
    display: block;
    color: #FFFFFF;
    border: 0;
    font-weight: 800;
    letter-spacing: .125em;
    background-color: rgba(36, 38, 43, 0.35);
}
div#creditCardIcons > .media {
    background-image: url(../assets/img/creditcards@2x.png);
    background-repeat: no-repeat;
    background-position: 0 -25px;
    width: 40px;
    height: 25px;
    -webkit-background-size: 120px 75px;
    -moz-background-size: 120px 75px;
    background-size: 120px 75px;
    margin-right: 1px;
    margin-left: auto;
    margin-top: 5px;
}
div#creditCardIcons.visa > .media {
    background-position: -40px 0;
    width: 40px;
    height: 25px;
}
div#creditCardIcons.mc > .media {
    background-position: -40px -25px;
    width: 40px;
    height: 25px;
}

div#creditCardIcons.amex > .media {
    background-position: -80px 0;
    width: 40px;
    height: 25px;
}

div#creditCardIcons.disc > .media {
    background-position: -40px -50px;
    width: 40px;
    height: 25px;
}
.footer {}
body.checkout.delivery li[data-step_name="shipping"] p {
    color: rgba(36, 38, 43, 1)!important;
}
body.checkout.delivery li[data-step_name="shipping"]:after, body.checkout.delivery li[data-step_name="shipping"]:before,body.checkout.delivery li[data-step_name="checkemail"]:before, body.checkout.delivery li[data-step_name="checkemail"]:after{
    background: rgb(36, 38, 43)!important;
}
body.checkout.delivery li[data-step_name="checkemail"]:before,body.checkout.delivery li[data-step_name="checkemail"]:after{}
input.quantityValue {border-radius: 0;background: #f5f5f5;margin-left: 5px;height: 60px;width:66px;line-height: 35px;padding-top: 5px;margin-left: 23px;font-weight: 500;font-size: 13.5px;background: transparent;
    line-height: 60px;
    font-size: 22px;
    text-align: center;
    padding-left: 10px;
    border: 2px solid rgba(225, 226, 230, .65);
}

.bagItemsListWrapper .col.bagItemImg p {
    font-size: 10.5px;
    text-transform: uppercase;
    color: #666666;
    font-weight: 500;
    text-align: center;
    letter-spacing: .06em;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

a.btn.btn_full_width {
    width: 100%;
}

.col.bagItemsCol > a.btn.btn_black.btn_full_width {
    font-size: 18px;
    font-weight: 900;
    height: 56px;
    margin-top: -11px;
    padding-top: 19px;
    position: relative;
    transform: scale(1);
    line-height: normal;
    border-width: 2px;
    border-color: transparent;
    background-color: #00AAF5;
}
span.optional {
    -webkit-filter: brightness(80%);
    text-transform: lowercase;
    font-size: 12.5px;
    letter-spacing: .005em;
    font-weight: 300;
}
a.btn.btn_black.btn_full_width {}
body.checkout.payment li[data-step_name="payment"] p {
    color: rgba(36, 38, 43, 1)!important;
}
body.checkout.payment li[data-step_name="payment"]:before,body.checkout.payment li[data-step_name="payment"]:after,body.checkout.payment li[data-step_name="shipping"]:before,body.checkout.payment li[data-step_name="shipping"]:after{
    background:rgba(36, 38, 43, 1)!important;
}
fieldset.selectUIWrapper,fieldset.selectUIWrapper.selectExpYear {
    border: 0;
    width: 100%;
    position: relative;
    max-width: 300px;
    padding-left: 0;
    /*margin-bottom: 16px;*/
    padding-top: 0;
    height: 40px;
}
.creditCardPaymentFormSection {
    margin-bottom: -12px;
}
fieldset.selectUIWrapper select, fieldset.selectUIWrapper.selectExpYear select {
    width: 100%;
    /*max-width: 200px;*/
/*    max-width: 300px;*/
    border: 1px solid rgba(36, 38, 43, 0.25)!important;
    background: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 42px;
    line-height: 43px;
    font-size: 12px;
    font-family: 'Alright Sans',sans-serif!important;
    border-radius: 0;
    /* padding: 13px 18px; */
    padding-left: 13px;
    color: #000000;
    outline: 0;
    border-radius: 5px;
}

div#creditCardIcons {
    position: absolute;
    right: 4px;
    top: -4px;
    height: 34px;
}

.cardNumberInputWrapper {
    position: relative;
/*    max-width: 400px;*/
    width: 100%;
}

div#creditCardIcons > .media {}

fieldset.selectUIWrapper select:hover, fieldset.selectUIWrapper.selectExpYear select:hover {
    border-color: rgba(36, 38, 43, 0.5)!important;
}

.cvv_help_box > .trigger {
    width: 24px;
    height: 23px;
    border-radius: 0px;
    border: 1px solid #e1e1e1;
    padding: 7px;
    background: #f4f4f4;
    margin-bottom: 5px;
    margin-left: 10px;
}

.cvv_help_box > .ccv_help_box {
    position: absolute;
    width: 240px;
    background: #FFFFFF;
    padding: 13px;
    line-height: 1.65;
    border: 1px solid #e1e1e1;
    pointer-events: none;
    font-size: 10.5px;
    opacity: 0;
    letter-spacing: .005em;
    color: #666666;
    left: calc(100% + 12px);
    bottom: 5px;
}

.cvv_help_box > .ccv_help_box > span {
    display: block;
    width: calc(100% + 26px);
    background: #f4f4f4;
    margin-left: -13px;
    padding-left: 13px;
    padding-top: 9px;
    margin-bottom: -13px;
    height: 40px;
    margin-top: 9px;
}

.cvv_help_box > .ccv_help_box > span svg {
    width: 80px;
    display: block;
}

.cvv_help_box > .trigger > span {
    display: block;
    width: 14px;
    margin-top: -8px;
}

.cvv_help_box:hover > .ccv_help_box {
    opacity: 1;
}

.cvv_help_box {
    position: absolute;
    right: 10px;
    top: 41px;
}

input#secCode {
    max-width: 300px;
}
fieldset.selectUIWrapper > span > svg, fieldset.selectUIWrapper.selectExpYear > span > svg {
    width: 100%;
}
fieldset.selectUIWrapper > span, fieldset.selectUIWrapper.selectExpYear > span {
    position: absolute;
    width: 11px;
    top: 12px;
    right: 22px;
}
.row.row_right.finalTotal {
    background: #f7f8fa;
    position: relative;
    height: 69px;
    margin-top: 6px;
    margin-bottom: -9px;
    line-height: 72px;
    /* border-left: 1px solid rgba(225, 225, 225, 0.4); */
    /* border-right: 1px solid rgba(225, 225, 225, 0.4); */
    padding-top: 0;
}

.orderTotalsData {
    border-top: 2px solid #000000;
    text-align: right;
    position: relative;
    top: -1px;
    padding-top: 13px;
}

.orderTotalsData > .row {
    padding: 0;
    height: initial;
    line-height: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.row.row_right.finalTotal:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: '';
}
.col.orderDataLabel {
    width: 400px;
    text-align: left;
    padding-left: 20px;
    display: inline-block;
    float: left;
}



.col.orderDataLabel p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .15em;
    color: #1b1b20;
}
.col.orderDataLabel#special_notice {
    background: #44a8f2;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #000;
}
.col.orderDataLabel#special_notice p {
    color: #fff;
    width: 95%;
    margin: 0 auto;
    font-weight: 300;
    text-transform: capitalize;
}
.col.orderDataLabel#special_notice p span {
        letter-spacing: .01em;
    margin-bottom: 3px;
    line-height: 18px;
    text-align: left;
    line-height: 1.8;
    font-weight: 300;
    font-size: 10px;
    font-style: italic;
    text-transform: none;
}
a.shopReturnBtn:hover p {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.col.orderDataValue p {
    text-transform: uppercase;
    letter-spacing: .06em;
    font-size: 12.5px;
    font-weight: 600;
    text-align: left;
    letter-spacing: .315em;
    font-weight: 500;
    font-size: 11px;
    vertical-align: top;
}

.col.orderDataValue {
    float: right;
    text-align: left;
    width: 230px;
    vertical-align: top;
    position: relative;
}
.pageWrapper.confirmationPageWrapper .cushion_h3 {
    padding-bottom: 21px;
    text-align: center;
    padding-top: 55px;
    margin-bottom: -20px;
}

.pageWrapper.confirmationPageWrapper .cushion_h3 h8.as_m {
    font-family: 'Dji', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 62px !important;
    letter-spacing: .110em;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    color: #707473;
}

.pageWrapper.confirmationPageWrapper .cushion_h3 h3 {
    text-align: center;
    color: #ccc;
    letter-spacing: 0;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 25px;
}



.pageWrapper.confirmationPageWrapper .cushion_h3 h2 {
    font-size: 44px;
    font-weight: 300;
    letter-spacing: .015em;
}

.pageWrapper.confirmationPageWrapper {
    background: #f4f4f4;
}

.pageWrapper.confirmationPageWrapper .contentWidthGutter.content_width_1000 {
    padding: 24px 33px;
    margin-top: 48px;
    padding-top: 0;
    text-align: center;
    background: #FFFFFF;
    margin-bottom: 48px;
}

.pageWrapper.confirmationPageWrapper h3.as_m.lines_on_sides {
    font-weight: 500;
    font-size: 14.5px;
    letter-spacing: .12em;
    color: #000000;
    text-transform: uppercase;
    padding-top: 7px;
    margin-top: 24px;
    position: relative;
    display: inline-block;
    font-weight: 500;
    margin-top: 4px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 36px;
    color: #8e8e8e;
    margin-top: 100px;
    margin-bottom: 48px;
}

.pageWrapper.confirmationPageWrapper .product-name {
    font-weight: 600;
    margin-bottom: 13px;
}

.pageWrapper.confirmationPageWrapper .product-price{
    font-weight: 300;
    padding-bottom: 100px;
    border-bottom: 3px solid #8080801c;
    /*margin-bottom: 13px;*/
}

.pageWrapper.confirmationPageWrapper .confirmation_label {
    font-weight: 600;
    margin-bottom: 10px;
}

.pageWrapper.confirmationPageWrapper .confirmation_text {
    margin-bottom: 28px;
}

.pageWrapper.confirmationPageWrapper .confirmation_border {
    padding-bottom: 100px;
    border-bottom: 3px solid #8080801c;
}



.pageWrapper.confirmationPageWrapper img {
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-top: -26px;
    max-width: 240px;
}

/*.pageWrapper.confirmationPageWrapper h3.as_m.lines_on_sides:before {content: '';position: absolute;height: 2px;background: #000000;right: calc(100% + 9px);width: 24px;top: 13px;}

.pageWrapper.confirmationPageWrapper h3.as_m.lines_on_sides:after {
       content: '';
    position: absolute;
    height: 2px;
    background: #000000;
    left: calc(100% + 9px);
    width: 24px;
    top: 13px;
}*/

.col.bagItemsCol > .header>h1.dji-blue.dji-text {
/*
    font-size: 46px;
    text-align: left;
    display: inline-block;
    color: #1b1b20;
*/
        font-size: 28px;
    text-align: left;
    display: inline-block;
    color: #000;
    margin-top: 15px;
    letter-spacing: 2px;
}

.col.bagItemsCol > .header>.right_float {
    vertical-align: top;
    z-index: 100;
}

.orderTotalsData > .row:after {
    clear: both;
    content: '';
    display: table;
}

.pageWrapper.confirmationPageWrapper .contentWidthGutter.content_width_1000 > div,.pageWrapper.confirmationPageWrapper .contentWidthGutter.content_width_1000 > label {
    display: block;
}
.row.row_right.finalTotal p {
    font-size: 13px;
    line-height: 79px;
    display: block;
}

.col.bagItemsCol > a.btn.btn_black.btn_full_width:hover {
    background-color: rgba(202, 81, 89, 1);
    border-color: rgba(202, 81, 89, 1);
}
.pageWrapper.checkoutPageWrapper {
    min-height: 100vh;
    padding-bottom: 120px;
    background: #ffffff;
}

.emailFormWrapperCol.col {
    width: calc(100% - 350px);
    padding-right: 40px;
    padding-bottom: 0;
}

.checkoutPageWrapper .header {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 6px solid #000;
    padding:15px 0;
    z-index: 10;
    position: relative;
}
.checkoutPageWrapper .header > h1.dji-text {
    font-size: 28px;
    text-align: left;
    display: inline-block;
    color: #000;
    letter-spacing: 2px;
}
.emailFormWrapperCol.col > .sub_header {
    margin-top:50px;
    margin-bottom: 30px;
}

input#delivery-submit {
        background: #44a8f2;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFFFFF;
    vertical-align: top;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .05em;
    border-radius: 3px;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
    text-decoration: none;
}
input#delivery-submit:hover {
    cursor: pointer;
}
.shoppingInfoCol.col.shoppingInfoColPayment#mobile_show {
    display: none;
}
.redeem_coupon {
    position: relative;
    padding-left: 11px;
}
.redeem_coupon input {
    margin-bottom: 0 !important;
}
a#do_coupon {
        background: rgba(36, 38, 43, 0.35);
    color: #FFFFFF;
    border: 0;
    height: 36px;
    padding-top: 2px;
    width: initial;
    font-size: 10.5px;
    max-width: 201px;
    font-weight: 900;
    top: 32px;
    position: absolute;
    right: 3px;
        font-family: 'Gotham', Helvetica, sans-serif;
        padding: 5px 7px 2px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
div#mainHeader.mainHeaderCheckoutFlow .logoBlock > a.homeLink {
    margin: 2px;
    display: block;
    width: initial;
}

body.cart ul.header_link_list.checkoutFlowStepList li[data-step_name="cart"]:before,body.cart ul.header_link_list.checkoutFlowStepList li[data-step_name="cart"]:after {
    background-color: #000000;
}

.pageWrapper.cartPageWrapper > .content_width_1000 {
    max-width: 100vw;
    min-height: 1050px;
}

.pageWrapper.cartPageWrapper > .content_width_1000 .shoppingInfoCol.col {

    margin-left: 0;
    position: absolute;
    left: 0;
    width:330px;
    background: #f7f8fa;
    top: 0;
    padding-left: 7px;
    padding-right: 7px;
}
body.checkout .mainFooterWrapper {
    display: none;
}
    .pageWrapper.cartPageWrapper > .content_width_1000 .shoppingInfoCol.col.fixed {
        position: fixed;
    }

.pageWrapper.cartPageWrapper > .content_width_1000 .col.bagItemsCol, .pageWrapper.cartPageWrapper > .content_width_1000 .emailFormWrapperCol {
    width: calc(100% - 400px);
    float: none;
    display: block;
    margin-left: auto;
    margin-right: 0;
}
.pageWrapper.cartPageWrapper > .content_width_1000 .col.bagItemsCol {
     width: calc(100% - 400px);
    margin-right: 50px;
}
.pageWrapper.cartPageWrapper:before {content: '';position: absolute;left: 0;width: 330px;top: 0;bottom: 0;background: #F5F5F5;}

.emailFormWrapperCol.col > h8 {
    letter-spacing: .02em;
    font-size: 14px;
    display: block;
    line-height: 1.45;
    font-weight: 400;
    width: 100%;
    margin-bottom: 15px;
}

.btn.btn_black.btn_blue {
    color: #FFFFFF;
    padding: 15px;
    font-weight: 600;
    background: #00AAF5;
    border: 0;
    font-size: 12px;
    height: 58px;
    padding-top: 16px;
    padding-left: 29px;
    padding-right: 29px;
    
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .05em;
    border-radius: 3px;
}

.btn.btn_black.btn_blue.btn_full_width {
    width: 100%;
    font-size: 14px;
}
a.btn.solidBlueBtn.updateBtn,
div.col.bagItemPrice > div > a:nth-child(2){
        padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    line-height: 40px;
}
a.btn.solidBlueBtn.updateBtn img {
    width:20px;
}
.pageWrapper.checkoutPageWrapper .row .col label {
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: .015em;
    display: block;
    font-size: 13px;
    color: rgba(36, 38, 43, 1);
    margin-bottom: 3px;
}

.pageWrapper.checkoutPageWrapper .row .col input[type="text"], input[type="email"],input[type="tel"]{
    width: 100%;
    height: 35px;
    border: 1px solid rgba(36, 38, 43, 0.25)!important;
    border-radius: 0;
    padding: 2px 13px 0px;
    line-height: 1;
    color: #000000;
    margin-bottom: 24px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.btn.btn_black.btn_blue:hover {
    text-shadow: none;
    background: rgba(202, 81, 89, 1)!important;
    border-color: rgba(202, 81, 89, 1)!important;
}

.emailFormWrapperCol.col > h1:after, .emailFormWrapperCol.col > h1:before {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.emailFormWrapperCol.col > h1:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}
.emailFormWrapperCol.col > h1:before {
    border-color: rgba(225, 225, 225, 0);
    border-top-color: #E1E1E1;
    border-width: 11px;
    margin-left: -11px;
}

.emailFormWrapperCol.col .btn.btn_blue,
input#delivery-submit{
    max-width: 500px;
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}
.row.secondaryFocus {
    margin-top: 72px;
    background: transparent;
    position: relative;
    padding: 9px 9px;
}

.row.secondaryFocus:before {content: '';position: absolute;left: 0;right: 0;top: -36px;background: rgba(36, 38, 43, 0.15);height: 1px;}

a.as_r.goBackBtn {
    float: left;
    display: block;
    line-height: 44px;
    padding-left: 0;
    padding-right: 4px;
    width: auto;
    height: 42px;
    /* background: #FFFFFF; */
}

a.as_r.goBackBtn icon {
    display: inline-block;
    width: 6px;
    margin-top: 0px;
}

a.as_r.goBackBtn p {
    text-transform: uppercase;
    font-size: 12.5px;
    letter-spacing: .1em;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
    margin-left: 4px;
    transition: 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98) all;
    color: #9c9c9c;
}

a.as_r.goBackBtn icon path,a.as_r.goBackBtn icon line {
    stroke-width: 42px;
    stroke: #9c9c9c;
    transition: 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98) all;
}

a.as_r.goBackBtn:hover p {
    color: #000;
}

a.as_r.goBackBtn:hover line,a.as_r.goBackBtn:hover path {
    stroke: #000000;
}
.orderSummaryTotal {
    /*background: #f4f4f4;*/
}
.orderSummaryTotal p {
    text-align: right !important;
    font-size: 20px !important;
}
.orderSummaryTotal p b {
    font-size: 20px !important;
}
p.price_bag {
    text-align: right !important;
}
p.price_bag b {
    text-align: left !important;
}
.labelDataBox.orderSummaryDataBox {
    background: transparent;
    border-color: #f4f4f4;
    position: relative;
    left: 8px;
}

.labelDataBox.orderSummaryDataBox label {
}
body.checkout.email ul li[data-step_name="checkemail"] p {
    color: rgba(36, 38, 43,1)!important;
}
.labelDataBox.orderSummaryDataBox p {
    font-size: 14px;
    text-align: left;
}
ul.paymentScreenBagItems .bagItemImg > a > .col {
    float: left;
    width: calc(100% - 80px);
}

ul.paymentScreenBagItems .bagItemImg > a > .col:last-child {
    float: right;
    width: 80px;
}

ul.paymentScreenBagItems > li > .bagItemImg {
    border-bottom: 1px solid rgba(36, 38, 43, 0.15);
    padding-bottom: 2px;
    /*margin-bottom: 10px;*/
        display: flex;
    justify-content: flex-start;
    padding-top: 25px;
}

body.checkout .mainFooterWrapper {
    padding-top: 10px;
}
.btn.btn_black.btn_blue:focus {
    box-shadow: 0 0 0px 4px rgba(254, 100, 110,.2);
}
.labelDataBox.orderSummaryDataBox b {
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
    float: left;
    color: #666666;
    font-size: 12px;
    letter-spacing: .08em;
    font-size: 12px;
    color: rgba(36, 38, 43, 0.3);
    font-weight: 600;
    letter-spacing: .15em;
}

.labelDataBox.orderSummaryDataBox p:after {content: '';clear: both;display: table;}

.orderSummaryTotal p {
    /*margin: 0 8px;*/
    color: #000000;
    font-weight: 500;
    /*padding: 12px 0 5px;*/
}
.emailFormWrapperCol.col h7 {
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 0;
    font-size: 22px;
    margin: 36px 0 21px;
    display: block;
    letter-spacing: .06em;
    text-transform: uppercase;
    color: #000000;
}


input#checkoutFName,input#fname,input#lname,
input#checkoutLName,
input#shipzip,
input#cardUserName,
input#ccnumber,
input#checkoutPhone,
input#checkoutCity,
input#checkoutAddress1,input#checkoutAddress2 {
/*    max-width: 300px;*/
/*max-width: 200px;*/
font-size: 12px;
border-radius: 5px;
}

div.form50 {
    width: 48%;
    display: inline-block;
}

div.form30 {
    width: 30%;
    display: inline-block;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
div.form30#no_margin {
    margin-left: 0;
    height: 40px !important;
}

.pageWrapper.checkoutPageWrapper .row .col.shippingFormWrapperCol input[type="text"],.pageWrapper.checkoutPageWrapper .row .col.shippingFormWrapperCol input[type="tel"] {
    height: 40px;
    font-size: 14.5px;
    margin-bottom: 8px;
    margin-top: 8px !important;
}

.pageWrapper.checkoutPageWrapper .row .col.shippingFormWrapperCol label {
    font-size: 12.5px;
}



h1 icon.truck_icon {
    background-image: url(../assets/img/delivery_truck.png);
    -webkit-filter: brightness(0%);
    width: 47px;
    display: inline-block;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 12px;
    vertical-align: top;
    margin-right: 12px;
}

input#checkoutZip {
    width: 150px;
}

.row.secondaryFocus input.btn.btn_black.btn_blue.btn_full_width {
    height: 42px;
    line-height: normal;
    padding: 14px;
    font-size: 14px;
    box-shadow: 0 0 0 0 transparent;
}
fieldset.selectUIWrapper select:hover + span.downArrowICon path, fieldset.selectUIWrapper.selectExpYear select:hover + span.downArrowICon path {
    fill: rgba(36, 38, 43, 1);
    stroke: rgba(36, 38, 43, 1);
}

fieldset.selectUIWrapper select + span.downArrowICon path, fieldset.selectUIWrapper.selectExpYear select + span.downArrowICon path {
    fill: rgba(36, 38, 43, 0.25);
    stroke: rgba(36, 38, 43, 0.25);
}
.row.secondaryFocus .right_float {
    width: 100%;
    max-width: 100%;
    position: relative;
    float: none;
}

.checkboxUX.optionBoxCheckboxUIWrapper p {
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
    color: #666666;
    letter-spacing: .02em;
}

input#checkoutRegion {
    max-width: 300px;
    border-radius: 5px;
}

.checkboxUI {
    display: inline-block;
    border: 1px solid rgba(36, 38, 43, 1);
    width: 17px;
    border-radius: 0px;
    position: relative;
    top: 4px;
    height: 17px;
    background: #FFFFFF;
}

.optionBox.optionBoxCheckboxUIWrapper.shippingOption {
    height: 40px;
    line-height: 40px;
    margin-bottom: -5px;
}

.checkboxUX.highlightedCheckoutOptionBox {
    background: transparent;
    border: 0px solid #DBEEFF;
    padding: 9px 14px;
    max-width: 400px;
    padding-left: 0;
}

.checkboxUX.highlightedCheckoutOptionBox input {
    display: none;
}

.checkboxUX.highlightedCheckoutOptionBox .checkboxUI {
    position: relative;
    top: 6px;
}

.checkboxUX.optionBoxCheckboxUIWrapper p {
    color: #000000;
    padding-left: 7px;
    letter-spacing: .015em;
    font-weight: 600;
    text-overflow: ellipsis;
    font-size: 14px;
    color: rgba(36, 38, 43, 1);
    overflow: hidden;
    padding-top: 1px;
    white-space: pre;
    vertical-align: top;
}

.optionBox.highlightedCheckoutOptionBox.selected {
    background: transparent;
}

.optionBox.optionBoxCheckboxUIWrapper.selected .checkboxUI icon {
    opacity: 1;
}

.checkboxUI icon {
    display: block;
    width: 5px;
    height: 9px;
    border: solid #000000;
    border-width: 0 1px 1px 0;
    position: absolute;
    opacity: 0;
    top: 42%;
    left: 50%;
    -ms-transform: translate(-50%,-50%) rotate(45deg);
    -moz-transform: translate(-50%,-50%) rotate(45deg);
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}

p.caption {
    font-size: 12.5px;
    display: block;
    margin-top: -2px;
    margin-bottom: 6px;
}

.emailFormWrapperCol.col h7:last-of-type {
    margin-bottom: 15px;
    margin-top: 33px;
}

.pageWrapper.checkoutPageWrapper .row .col input[type="text"]:focus {
}

.emailFormWrapperCol.shippingFormWrapperCol.col {
    width: calc(100% - 400px);
    padding-right: 40px;
    padding-bottom: 14px;
}

.pageWrapper.checkoutPageWrapper .content_width_1000 {
    max-width: 100vw;
    padding-top: 12px;
}

.pageWrapper.checkoutPageWrapper.shippingCheckoutPageWrapper .row.secondaryFocus {
    margin-top: 54px;
    padding-left: 0;
    padding-top: 0;
}
.shoppingInfoCol.col.shoppingInfoColPayment {
    width: 300px;
    margin-left: 70px;
}

.emailFormWrapperCol.shippingFormWrapperCol.paymentFormWrapperCol.col {
    width: calc(100% - 400px);
    padding-right: 20px;
}

.row.secondaryFocus input.btn.btn_black.btn_blue.btn_full_width:hover {}

.row.secondaryFocus .right_float icon {
    position: absolute;
    transform: scaleX(-1);
    z-index: 10;
    width: 10px;
    right: 13px;
    top: 14px;
    height: 10px;
    display: block;
}

.row.secondaryFocus .right_float icon path,.row.secondaryFocus .right_float icon line {
    stroke: #FFFFFF;
    stroke-width: 29px;
}
.bagItemsListWrapper .bagItemInfoItem .col:last-child h8 {
    color: #000000;
    font-weight: 500;
}

.bagItemInfoItem.row.row_of_2 > .col {
    width: 70px;
}

.bagItemInfoItem.row.row_of_2 > .col {
    width: calc(100% - 90px);
    text-align: right;
}

h8.as_l.bagItemInfoName.expandQuantityOptions {
    vertical-align: top;
    margin-top: -9px;
}

.bagItemsCol > a.btn.btn_black.btn_full_width:hover:after {}

.col.bagItemsCol > .header .btn:after {
    content: '';
}

.col.bagItemsCol > .header .btn:hover:after {
}
.checkboxUX.highlightedCheckoutOptionBox p {
    padding-top: 5px;
}
input.btn.btn_black.btn_blue:after {
    content: '';
    background-image: linear-gradient(#fff,#e1e8ed);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    opacity: 0;
}

input.btn.btn_black.btn_blue:hover:after {
    opacity: .15;
}

.pageWrapper.checkoutPageWrapper .row .col input[type="text"]:hover, input[type="email"]:hover, .pageWrapper.checkoutPageWrapper .row .col input[type="text"]:focus, input[type="email"]:focus,input[type="tel"]:hover,input[type="tel"]:focus {
    border-color: rgba(36, 38, 43, 0.5)!important;
}

@media screen and (max-width:710px){

}
body.checkout.email ul li[data-step_name="checkemail"]:before, body.checkout.email ul li[data-step_name="checkemail"]:after,body.checkout.email ul li[data-step_name="cart"]:before, body.checkout.email ul li[data-step_name="cart"]:after {
    background-color: rgba(36, 38, 43, 1)!important;
}

.shoppingInfoCol .orderSummaryDataBox .col.bagItemImg img {
    -moz-filter: brightness(96%);
    -ms-filter: brightness(96%);
    -webkit-filter: brightness(96%);
    -o-filter: brightness(96%);
    filter: brightness(96%);
    width: 100%;
    max-width: 80px;
    max-height: 80px;
    vertical-align: top;
    float: left;
    display: inline-block;
}

.shoppingInfoCol .orderSummaryDataBox .col.bagItemImg p {
    width: 100%;
    float: right;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .125em;
    vertical-align: top;
    padding-right: 10px;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 6px;
    color: rgba(36, 38, 43, 0.65);
    white-space: pre;
}

.shoppingInfoCol .orderSummaryTotal span.triangleBorder {
    display: none;
}

.col.bagItemImg:after {
    clear: both;
    content: '';
    display: table;
}
.giftCardSection {
    max-width: 300px;
    position: relative;
}
.giftCardSection#cartPage {
    margin-right: auto;
    margin-left: left;
    padding-left: 20px;
}
.giftCardSection#cartPage input#giftCardInput, .giftCardSection#cartPage input#couponInput {
        text-transform: uppercase;
    letter-spacing: .06em;
    font-size: 12.5px;
    font-weight: 600;
    text-align: left;
    letter-spacing: .315em;
    font-weight: 500;
    font-size: 11px;
    vertical-align: top;
}
.billingAddressInfo.hiddenShippingInfo {
    max-height: 0px;
}

.billingAddressInfo {
    max-height: 850px;
    transition: .2s ease;
    height: auto;
    overflow: hidden;
}
input#creditCardPayBtn {
    margin-top: -16px;
    margin-bottom: 48px;
    height: 54px;
    font-size: 16px;
    line-height: 54px;
    padding-top: 2px;
}
ul.paymentScreenBagItems .col.bagItemImg > a:after {
    clear: both;
    content: '';
    display: table;
}
.right_float.checkoutNextStepFloat {
    float: none;
    max-width: 400px;
    margin-top: 18px;
    position: relative;
}

.right_float.checkoutNextStepFloat icon {
    position: absolute;
    right: 18px;
    top: 50%;
    height: 29px;
    display: block;
    width: 20px;
    -webkit-transform: scaleX(-1) translateY(-50%);
    transform: scaleX(-1) translateY(-50%);
}

.right_float.checkoutNextStepFloat icon path{stroke: #FFFFFF;}

.right_float.checkoutNextStepFloat icon line{
    stroke: #FFFFFF;
}

/*CONFIRMATION*/
@media screen and (max-width:1220px){
    .pageWrapper.confirmationPageWrapper .cushion_h3 h8.as_m {
        font-size: 32px !important;
    }

    .pageWrapper.confirmationPageWrapper h3.as_m.lines_on_sides {
        font-size: 24px;
    }

    .pageWrapper.confirmationPageWrapper .cushion_h3 h3 {
        font-size: 19px;
    }
}


.ship_statement {
    letter-spacing: .02em;
    font-size: 14px;
    display: block;
    line-height: 1.45;
    font-weight: 400;
    width: 100%;
    margin-bottom: 15px;
    margin-top: -20px;
    font-size: 10px !important;
    color: grey;
}

.phone_statement {
    margin-top: auto;
}

.total_cost {
    display: inline-block;
    margin-left: 30px;
    margin-top: -13px;
}

.pageWrapper.checkoutPageWrapper .total_cost.orderSummaryTotal b {
    display: block;
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
}

.pageWrapper.checkoutPageWrapper .total_cost.orderSummaryTotal {
    margin-left: 30px;
    right: auto;
    margin-top: 5px;
}

.pageWrapper.checkoutPageWrapper .total_cost.orderSummaryTotal p {
    font-weight: normal;
    font-size: 17px !important;
}

.total_costs {
    display: flex;
}