.questionsSeachWrapper {
    max-width: 560px;
    width: calc(100% - 56px);
    position: relative;
    margin: 0 auto 26px;
}
.pageWrapper.faqPageWrapper .row.row_of_3 {
    max-width: 1280px;
    width: calc(100% - 56px);
    margin: 0 auto 72px;
}
.questionsSeachWrapper.faqSearchActive p.placeholder,.questionsSeachWrapper > input:focus + p {
    opacity: 1;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: calc(25% + 8px);
}
.questionsSeachWrapper > input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: 12px 20px 12px 39px;
    font-size: 20px;
    -webkit-transition: all 300ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 300ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 300ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 300ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    border: 1px solid rgba(27, 27, 32, 0.15);
    color: rgba(27, 27, 32, 1);
    font-size: 16.5px;
    padding-top: 16px;
    height: 42px;
    line-height: 44px;
}
.questionsSeachWrapper.faqSearchActive p.placeholder span {
    opacity: 0;
}

.questionsSeachWrapper p.placeholder span {
    -webkit-transition: all 200ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 200ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 200ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 200ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    color: rgba(27, 27, 32, .5);
}
.questionsSeachWrapper > input:focus {
    border-color: rgba(27, 27, 32, 0.55);
    box-shadow: inset 0 0 0 1px rgba(27, 27, 32, 0.55);
}
.questionsSeachWrapper > p {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 14px;
    pointer-events: fill;
    opacity: 1;
    padding-top: 1px;
    pointer-events: none;
    will-change: opacity,left;
    -webkit-transition: all 300ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -moz-transition: all 300ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    -o-transition: all 300ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
    transition: all 300ms cubic-bezier(0.330, 0.975, 0.245, 0.910);
}
.questionsSeachWrapper.faqSearchActive {}

.questionSearchWrapper > input:focus{
    border-color:rgb(127, 140, 193);
}
.questionsSeachWrapper.faqSearchActive p.placeholder {}
.questionsSeachWrapper > p > icon {
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
    margin-top: 3px;
    transform: rotate(-12deg);
}
.pageWrapper.faqPageWrapper.cmsPageWrapper {
    background: #F7F8FA;
    min-height: calc(100vh - 66px);
}

.pageWrapper.faqPageWrapper.cmsPageWrapper>h1.dji-text.dji-blue {
    padding: 48px 0 44px;
    text-align: center;
    line-height: 1;
}

.questionsSeachWrapper.faqSearchActive p.placeholder>span, .questionsSeachWrapper > input:focus + p>span {
    opacity: .15;
}

.row.row_of_3.faq_ui_wrapper {
    border: 1px solid rgba(225, 226, 230, 1);
    margin-top: 56px!important;
    background: #FFFFFF;
}

.row.row_of_3.faq_ui_wrapper>h6.big {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05em;
    padding: 24px 0 22px;
    text-align: center;
    color: rgba(27, 27, 32, 0.55);
    border-bottom: 1px solid rgba(225, 226, 230, 1);
}

.row.row_of_3.faq_ui_wrapper .col {
    width: 100%;
    display: inline-block;
    min-height:180px;
    padding-top: 28px;
    padding-left: 32px;
    padding-bottom: 28px;
    border-bottom: 12px solid #F7F8FA;
}

.row.row_of_3.faq_ui_wrapper:after {
    clear: both;
    content: '';
    display: table;
}

.row.row_of_3.faq_ui_wrapper .col > .questionUI {
    padding-right: 24px;
}

.row.row_of_3.faq_ui_wrapper .col:last-child {
    border-bottom:0;
}

.row.row_of_3.faq_ui_wrapper .col h4.gothamLight {
    font-size: 20px;
    font-weight: 600;
    color: rgba(27, 27, 32, 1);
}

.row.row_of_3.faq_ui_wrapper .col p.gothamLight {
    padding-top: 7px;
    font-size: 12.5px;
    line-height: 1.45;
    color: rgba(27, 27, 32, 1);
}
.questionsSeachWrapper.faqSearchActive >p.placeholder {
    opacity: 0;
}

.row.row_of_3.page_ui_wrapper {
    border: 1px solid rgba(225, 226, 230, 1);
    background: #FFFFFF;
}

.row.row_of_3.page_ui_wrapper>p {
    padding: 10px 25px;
    font-size: 15px;
    line-height: 1.45;
    letter-spacing: .05em;
    color: rgba(27, 27, 32, 1);
}

@media only screen and (max-width:768px){
    div.row.row_of_3.faq_ui_wrapper .col{
        display:block!important;
        float:none;
        width:100%;
        border-right:0!important;
    }
    div.questionsSeachWrapper > p{
    width: 100%;
    padding-left: 17px;
    font-size: 12.5px;
    padding-top: 2px;
}
    div.questionsSeachWrapper.faqSearchActive p.placeholder, .questionsSeachWrapper > input:focus + p{-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);left: 50%;}
}