section.productDetailMainHero {
    height: 45vw;
    position: relative;
    display: none;
}

    .productDetailsActionBox {
        width: 35% !important;
    }

.productText_row h1.dji-text {
    line-height: 1.15em !important;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.pageWrapper.productPageWrapper {
    padding-top: 100px;
}

section.productDetailMainHero > .heroMedia {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}
p#top_rating {
    font-size: 13px;
    margin-bottom: 10px;
}
p#top_rating span {
        border-bottom: 1px solid #000;
    transition: padding 0.5s ease;
    font-size: 13px;
    margin-left: 15px;
}
p#top_rating span:hover {
    padding-bottom: 5px;
    cursor: pointer;
}
.the_price {
    display: block;
    clear: both;
    margin-bottom: 33px;
}
.the_price h6 span.sale_price {
    font-size: 14px;
    color:rgba(78, 78, 78, 0.6);
    text-decoration: line-through;
    margin-right: 10px;
}
.the_price h6 span.blue_font {
    color:#44a8f2;
}
.absTransCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}

section.productDetailMainHero .absTransCenter {
    max-width: 1080px;
    width: calc(100vw - 30px);
    padding-top: 32px;
    color: #FFFFFF;
    z-index: 10;
    text-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
}

section.productDetailMainHero .absTransCenter h4.gothamLight {
    color: #FFFFFF;
    margin: 38px 0 42px;
    font-size: 25px;
}

.productHero-videos {
    height: 136px;
    width: 400px;
    position: relative;
    margin: 0 auto;
}

.productHero-videos .video-slide {
}
.productHero-videos .video-slide.swiper-slide-prev {
}
.swiper-slide.video-slide {
    height: 136px;
    box-shadow: 0 4px 12px 0px rgba(27, 27, 32, 0.35);
    margin-right: 12px;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.165,.84,.44,1),opacity .2s ease-in-out .1s;
    transition: transform .3s cubic-bezier(.165,.84,.44,1),opacity .2s ease-in-out .1s;
}
.videoThumb.media {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.swiperContainer-productHero-videos.swiper-container-horizontal {
    overflow: hidden;
    padding: 14px;
    margin-left: -7px;
}

icon.djiicon.djiIconPlay {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: 2;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

icon.djiicon.djiIconPlay {}
.productHero-videos .video-slide.swiper-slide-active {
    transform: scale(1.2);
    width: 240px!important;
    transform: translateX(-52px) scale(1.1);
    z-index: 100;
    opacity: 1;
    -webkit-filter: cadetblue;
    box-shadow: 0 6px 14px 0px rgba(27, 27, 32, 0.75);
}

.productHero-videos .video-slide.swiper-slide-next {
    transform: translateX(-130px) scale(.9);
    -webkit-filter: brightness(65%);
}

.productHero-videos .video-slide.swiper-slide-prev {
    opacity: 1;
    -webkit-filter: brightness(65%);
    transform: scale(.9) translateX(24px);
}

.productHero-videos .video-slide icon.djiicon.djiIconPlay {
    opacity: 0;
}

.productHero-videos .video-slide.swiper-slide-active icon.djiicon.djiIconPlay {
    opacity: 1;
}
.swiperContainer-productHero-videos.swiper-container-horizontal .swiper-button-prev {
    left: -42px;
    margin-top: -12px;
}

.swiperContainer-productHero-videos.swiper-container-horizontal .swiper-button-next {
    right: -42px;
    margin-top: -12px;
}
section.productDetailMainHero > .heroMedia:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(27,27,32,0.15);
}
.productDetailsSubHeader.mainLinksListWrapper {
    margin-left: 0;
    border-bottom: 1px solid #00abf2;
    width: 100%;
    margin-top: 14px;
    position: relative;
    text-align: center;
}

ul.productDetailsSubHeader_Links p {
    color: #4f4f4f;
    line-height: 50px;
    padding-top: 2px;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}

div.productDetailsSubHeader .scrollTrigger {
    padding-left: 28px;
    padding-right: 28px;
    vertical-align: top;
    display: block;
    height: 50px;
    line-height: 50px;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}

.productDetailsActionBox {
    float: right;
    width: 400px;
    margin-top: 40px;
    position: relative;
    margin-bottom: 100px;
}

a.scrollTrigger.activePageSection {
    box-shadow: 0 1px 0 0 #00abf2;
}

a.scrollTrigger.activePageSection > p {
    color: #00abf2;
    font-weight: 500;
}

a.scrollTrigger:hover > p {
    color: #4e4e4e;
    font-weight: 500;
}

a.scrollTrigger:hover {
    box-shadow: 0 1px 0 0 #4e4e4e;
}

.productDetailsSubHeader.mainLinksListWrapper ul li {
/*    float: left;*/
}

.productDetails_contentWrapper {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.productDetailsActionBox .priceBar, .cartView .priceBar {
    background: #FFFFFF;
    display: block;
    width: 100%;
    color: rgba(78, 78, 78, 0.9);
    height: 58px;
    padding: 17px 26px;
}

.productDetailsActionBox .priceBar {
    height: 38px !important;
}

.productDetailsActionBox .priceBar .price_text {
    display: none;
}
.productDetailsActionBox .priceBar {
    padding: 0;
}
.productText_row {
    margin-bottom: 20px;
}
.productText_row ul {
    margin-top: 5px;
    padding-left: 10px;
    
}
.productText_row ul li {
        font-size: 13px;
    line-height: 1.5em;
    list-style-type: disc;
    margin-left: 5px;
}
.row:after {
    clear: both;
    content: '';
    display: table;
}

.productDetailsActionBox > .priceBar h6.gothamLight,.cartView > .priceBar h6.gothamLight {
    display: inline-block;
    font-weight: 100;
}

.productDetailsActionBox > .priceBar .right_float,.cartView > .priceBar .right_float {
    float: right;
}

.productDetailsActionBox > .priceBar .right_float > p,.cartView > .priceBar .right_float > p {
    display: inline-block;
    font-size: 10.5px;
    font-weight: 600;
    letter-spacing: .01em;
    margin-left: 12px;
    margin-top: 6px;
}

.cartView:after {
    content: '';
    position: absolute;
    top: 58px;
    border: 1px solid rgba(225, 226, 230, 1);
    border-top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
}

.productDetailsActionBox > .variations,.cartView > .variations {
    padding: 24px 26px;
    position: relative;
    z-index: 2;
}
.productDetailsActionBox > .variations {
    padding: 0;
    padding-top: 20px;
    display: none;
}

.checkboxUX > input {
    display: none;
}
a.mainProd.addToFavorites {
    display: inline-block;
}
a.mainProd.addToFavorites p {
    font-size: 13px;
    border-bottom: 1px solid #000;
    transition: padding 0.5s ease;
}
a.mainProd.addToFavorites p:hover {
    padding-bottom: 5px;
}
.variations.radioOptionsModule > .checkboxUX {
    border: 2px solid rgba(225, 226, 230, .65);
    border-radius: 4px;
    height: 60px;
    margin-bottom: 4px;
    padding-bottom: 6px;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
    cursor: pointer;
}

.variations .checkboxUX.optionBoxRadio.selected {
    border-color: #44a8f2!important;
}

.variations.radioOptionsModule > .checkboxUX .content img {
    height: 28px;
    margin: 17px 9px;
}

.variations.radioOptionsModule > .checkboxUX .content p.name {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .05em;
    color: #4c4d4e;
    opacity: .4;
    overflow: hidden;
    line-height: 1;
    white-space: pre;
    text-overflow: ellipsis;
    padding-top: 10px;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}

.variations.radioOptionsModule > .checkboxUX .content > div:last-child {
    width: calc(100% - 100px);
    display: inline-block;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 6px;
}

.variations.radioOptionsModule > .checkboxUX .content p.price {
    font-size: 10.5px;
    font-weight: 400;
    letter-spacing: .05em;
    color: #4c4d4e;
    opacity: .4;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    padding-top: 8px;
    line-height: 1;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}

.variations .checkboxUX.optionBoxRadio.selected p.name {
    color: #44a8f2!important;
    opacity: 1!important;
}

.variations .checkboxUX.optionBoxRadio.selected p.price {
    opacity: 1!important;
    color: #44a8f2!important;
}
.variations.radioOptionsModule > .checkboxUX:hover {border-color: rgba(76, 77, 78, 0.5);}

.variations.radioOptionsModule > .checkboxUX:hover p {
    color: rgb(76, 77, 78)!important;
    opacity: .65!important;
}

.productSecondaryActions.row {
/*    padding: 26px;*/
    padding-top: 10px;
    position: relative;
    z-index: 2;
}

.variations.radioOptionsModule > .checkboxUX:last-child {
    margin-bottom: 0;
}

.col.left_float.quantity.numbersRow {
    width: 83px;
    border: 2px solid rgba(225, 226, 230, .65);
    height: 43px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 7px;
}

.spareCol.col.left_float.quantity.numbersRow  {
    width: 70px;
    height: 38px;
    margin: auto;
    float: none;
}
.spareCol.col.left_float.quantity.numbersRow > input#product-quantity {
    height: 38px;
    line-height: 30px;
}
.spareCol.col.left_float.quantity.numbersRow .quantToggleButtons {
    height: 38px;
}
.spareCol.col.left_float.quantity.numbersRow .quantToggleButtons .button > span {
    height: 1px;
}
.spareCol.col.left_float.quantity.numbersRow .quantToggleButtons > .button {
    height: 17px;
}
.variations.radioOptionsModule > .checkboxUX > .content > .left_float {
    width: 75px;
    overflow: hidden;
}

.col.left_float.quantity.numbersRow > input#product-quantity {
    width: calc(100% - 30px);
    line-height: 60px;
    background: transparent;
    text-align: center;
    height: 43px;
    font-size: 14px;
    float: left;
    font-weight: 400;
}

.quantToggleButtons > .button {
    background: #F7F8FA;
    position: relative;
    height: 50%;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
    cursor: pointer;
}

.quantToggleButtons {
    width: 33px;
    display: inline-block;
    height: 41px;
    border-left: 2px solid rgba(225, 226, 230, .65);
    position: absolute;
    right: 0;
    background: #F7F8FA;
    top: 0;
    bottom: 0;
}
body.products header.mainHeaderWrapper {
    position: absolute;
}
.quantToggleButtons > .inc.button {
    border-bottom: 2px solid rgba(225, 226, 230, .65);
}
.quantToggleButtons > .button.disabled {
    pointer-events: none;
}

.quantToggleButtons > .button.disabled > span {
    background: #bababd;
}

.quantToggleButtons > .button:hover {
    background: rgba(225, 226, 230, 0.65);
}
.quantToggleButtons .button > span {
    background: #717172;
    border-radius: 5px;
    height: 2px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0px);
    transform: translate3d(-50%,-50%,0px);
    position: absolute;
    width: 8px;
    display: block;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}

.quantToggleButtons > .inc.button > span:last-child {
    -webkit-transform: translate(-50%,-50%) rotate(90deg);
    transform: translate(-50%,-50%) rotate(90deg);
}

.quantToggleButtons .button:hover > span {
    background: #1b1b20;
}
.col.right_float.mainActions > a.solidBlueBtn {
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    background: #44a8f2;
    margin-bottom: 20px;
}
.fav_btn {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
a.solidBlueBtn.addToFavorites {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
        height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    background: transparent;
    font-size: 13px;
    padding-top: 16px;
    border: 2px solid rgba(78, 78, 78, 0.6);
    color:rgba(78, 78, 78, 0.9);
}
div.twitterShareButton {
    padding-top: 12px;
    display: inline-block;
    vertical-align: middle;
}
.fb-share-button {
          display: inline-block;
    vertical-align: middle;  
}
div.pinterestShareButton {
        display: inline-block;
    vertical-align: middle;
    padding-top: 4px;
}
.col.right_float.mainActions > a.solidBlueBtn > p {
    line-height: 60px;
}

.col.right_float.mainActions {
    width: calc(100% - 124px);
}

.col.right_float.mainActions > a.solidBlueBtn:hover {
    background: #2f8cd2;
}

a.goCheckout{
    display:none;
}
.productDetailsActionBox.sticky {
    position: fixed;
    top: 0;
    margin-top: 0;
    right: calc((100vw - 1180px) / 2);
}

.productDetailSection {
    min-height: 50vh;
    position: relative;
    z-index: 1;
}

.productDetailsSubHeader.mainLinksListWrapper.sticky {
    width: initial;
    margin-top: 0;
    padding-top: 7px;
    background: #FFFFFF;
    text-align: center;
}



.stickyElementsWrapper.mainContentWidth {
/*
    position: absolute;
    top: 0;
    left: calc((100vw - 1180px) / 2);
    right: calc((100vw - 1180px) / 2);
    z-index: 10;
*/
    overflow:hidden;
}
.productDetailSection.mainProductInfo {
    padding-top: 25px;
    width: 55%;
    float: left;
}

/*SLICK SLIDER*/

#product__slider {
    width: 100%;
}
.product__slider-main {
    text-align: center;
}
.product__slider-main img {
    height: 400px;
}
.product__slider-main img:hover {
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
.slide a {
    outline: 0;   
}
.slick_slide > div {
    float: left;
}

.slick-slide {
    float: left;
    outline:0;
}
.product__slider-thmb .slick-track {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.slick-initialized {
    overflow: hidden;
}
.product__slider-thmb .slick-track img {
    width: 50px;
    outline: 0;
}
.slick-prev:before, .slick-next:before {
    color:#44a8f2 !important;
    font-size: 32px !important;
    
}
.product__slider-thmb .slide {
    height: 50px;
    overflow: hidden;
}
.product__slider-thmb .slide img {
    border:1px solid rgba(78, 78, 78, 0.4);
    height: 50px;
    padding:3px;
    -moz-transition:border .2s ease-in;
    -o-transition:border .2s ease-in;
    -webkit-transition:border .2s ease-in;
}
.product__slider-thmb .slide img:hover {
    border:1px solid #44a8f2;
    cursor: pointer;
    
}
.slick-lightbox-close:hover::before {
    color:#44a8f2;
}
.product__slider-thmb .slick-current .slide img {
    border:1px solid #44a8f2;
}
.slick-prev,
.slick-next {
    top: 200px !important;
    height: 32px !important;
    width: 32px !important;
}
.slick-prev {
      left: 0 !important;  
    z-index: 9999 !important;
}
 .slick-next {
    right: 0 !important;
     z-index: 9999 !important;
}



div.stickyElementsWrapper.mainContentWidth > div.productDetailSection.mainProductInfo > div {
    width: 100%;
}
.productMainImagesWrapper {
    width: 100%;
}

.productMainImagesWrapper .swiper-slide .media {
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 32vw;
    margin: 0 auto;
    
          -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.productMainImagesWrapper .swiper-slide .media:hover {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
.productMainImagesWrapper .swiper-slide .media:hover .swiper-button-prev {
    opacity: 0 !important;
}

.productMainImagesWrapper .swiper-wrapper {
    width: 100%;
    position: relative;
}

.swiperContainer-mainProductImages {position: relative;}

.productMainDetailsWrapper > p {
    text-align: center;
    font-weight: 300;
    max-width: 690px;
    color: #1b1b20;
    line-height: 1.65;
    margin: 0 auto;
    font-size: 16.5px;
}
.swiperContainer-mainProductImages .swiper-button-prev {
    background-size: contain;
    left: 0;
    margin-top: -38px;
    width: 29px;
    height: 82px;
    opacity: .5;
}

.swiperContainer-mainProductImages .swiper-button-next {
    background-size: contain;
    right: 0;
    margin-top: -38px;
    width: 29px;
    height: 82px;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
    opacity: .5;
}

.swiperContainer-mainProductImages .swiper-button-next:hover {
    opacity: 1;
}

.swiperContainer-mainProductImages .swiper-button-prev:hover {
    opacity: 1;
}
.productDetailSection.suggestedAccessories > .mainContentWidth {
    padding-top: 58px;
    padding-bottom: 70px;
}

.productDetailSection.suggestedAccessories {
    background: rgba(247, 248, 250, 0.85);
}

.productDetailSection.mainProductInfo {
    padding-bottom: 66px;
}

.productDetailSectionHeader h6.gothamLight {
    text-transform: uppercase;
    letter-spacing: .11em;
    font-size: 30px;
    display: inline-block;
    font-weight: 100;
    padding-top: 3px;
    color: #1b1b20;
}

.productDetailSectionHeader > .right_float {
    vertical-align: top;
    margin-top: -12px;
}

.productDetailSectionHeader > .right_float a.underlineBtn.underlineBtn-blue.underlineBtn-blue-black {
    height: 44px;
    line-height: 44px;
}

.row.row_of_3 > .col {
    display: inline-block;
    float: left;
    width: 33.333%;
}

.suggestedAccessories .mainContentWidth.row.row_of_3 > .col {
    background: #FFFFFF;
    border: 1px solid rgba(225, 226, 230, .65);
    width: 25%;
    vertical-align: top;
/*    margin-right: 33px;*/
    height: 253px;
    position: relative;
    margin-bottom: 0px;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}

.productDetailSectionHeader {
    margin-bottom: 44px;
    text-align: center;
}

.suggestedAccessories .mainContentWidth.row.row_of_3 > .col:nth-child(odd) {
    margin-right: 0;
}

a.gridProductContent > img {
    height: 65px;
    display: block;
    margin: 0 auto 10px;
    top: 0;
}

a.gridProductContent {
    padding-top: 10px;
    text-align: center;
    display: block;
}

a.gridProductContent p.name {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 1.4;
    padding-left: 20px;
    height: 32px;
    color: #4c4d4e;
    opacity: .85;
    padding-right: 20px;
    height: 55px;
}

.suggestedAccessories .mainContentWidth.row.row_of_3 > .col:hover {
    box-shadow: 0px 5px 20px -6px rgba(27, 27, 32, 0.15);
    border-color: rgba(225, 226, 230, 1);
}

.suggestedAccessories .mainContentWidth.row.row_of_3 > .col .btnRow {
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 0;
    right: 0;
}

a.solidBlueBtn.hollowBlueBtn {
    background: transparent;
    border: 2px solid #abb0b3;
    color: #abb0b3;
    text-align: center;
}

a.solidBlueBtn.hollowBlueBtn > p {
    line-height: 50px;
}
.suggestedAccessories .row_of_3 .col:hover .solidBlueBtn {
    border-color: #44a8f2;
    color: #44a8f2;
}
a.gridProductContent p.price {
    font-size: 12px;
    font-weight: 600;
    opacity: .85;
    color: #44a8f2;
    margin: 5px 0;
}

a.gridProductContent:hover p.name {
    opacity: 1;
}
a.solidBlueBtn.hollowBlueBtn:hover {
    background: #44a8f2;
    border-color: #44a8f2;
    color: #FFFFFF!important;
}
.productDetailSection.productDetailSpecs {
    padding-top: 100px;
    padding-bottom: 100px;
}
.current_review {
    padding-bottom: 50px;
    overflow: hidden;
}
.productDetailSection.productDetailSpecs > .mainContentWidth h4.phantomLight,
.current_review h4.phantomLight {
    text-transform: uppercase;
    letter-spacing: .11em;
    font-size: 32px;
    display: block;
    font-weight: 100;
    padding-top: 0;
    /*margin-top: 100px;*/
    /*margin-bottom: 32px;*/
    text-align: center;
    color: #1b1b20;
    line-height: 1.5;
}

.productDetailSection.productDetailSpecs > .mainContentWidth h4.phantomLight span, 
.current_review h4.phantomLight span{
    color: #44a8f2;
}
.current_review h4.phantomLight {
    margin-bottom: 30px;
}
.current_review h3 {
        text-transform: uppercase;
    font-size: 25px;
    letter-spacing: .11em;
    font-weight: 100;
    color: #4c4d4e;
    margin-bottom: 22px;
    padding-bottom: 0px;
    margin-top: 40px;
}
.current_review h5 {
    font-size: 20px;
    letter-spacing: .05em;
    line-height: 2em;
    text-align: center;
    color: #4c4d4e;
    text-transform: uppercase;
}
.current_review a.fa.fa-star {
    font-size: 20px;
}

.current_review a.fa-star:before {
    content:"\f006";
    padding-right:5px;
    color:#999999;
}

a.fa-star.active:before {
    content:"\f005";
    color:#44a8f2;
}
a.fa-star.empty:before {
    content:"\f006";
    padding-right:5px;
    color:#999999;
}
.stars {
    margin-bottom: 10px;
    unicode-bidi:bidi-override;
    direction:ltr;
    text-align: left;
}
a.fa-star:before {
    color: #44a8f2 !important;
}
a.fa-star.filled:before {
    content:"\f005";
    color:#44a8f2;
}
section.review_overlay.add_own_review {
    float: left;
    width: 50%;
    border-top: 1px solid rgba(225, 226, 230, .95);
     border-right: 1px solid rgba(225, 226, 230, .95);
    padding-right: 50px;
}
section.review_overlay.reviews .review_section{
    float: left;
    width: 50%;
    padding-left: 50px;
    padding-bottom: 100px;
    border-top: 1px solid rgba(225, 226, 230, .95);
   
}
.a_review {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(225, 226, 230, .35);
}
.a_review:last-child {
    border-bottom: 0;
}
.a_review p {
        font-size: 13.5px;
    color: #1b1b20;
    line-height: 1.7;
}
.current_review input {
        text-transform: uppercase;
    letter-spacing: .06em;
    font-weight: 600;
    text-align: left;
    letter-spacing: .315em;
    font-size: 11px;
    
    
        max-width: 500px;
    width: 100%;
    display: block;
    height: 43px;
    border: 1px solid rgba(36, 38, 43, 0.25)!important;
    border-radius: 0;
    padding: 2px 13px 0px;
    line-height: 1;
    color: #000000;
    outline: none;
    font-weight: 400;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}
.current_review input#body_text {
    padding-top: 20px;
    padding-bottom: 86px;
    word-wrap: break-word;
    word-break: break-all;
}

.current_review a.solidBlueBtn  {
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    line-height: 40px;
}
.productDetailSpecs .row.row_specs {
    text-align: center;
    padding-bottom: 12px;
    padding-top: 12px;
}

.productDetailSpecs .row.row_specs > .col {
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
    text-align: center;
    padding-bottom: 18px;
}

.productDetailSection.productDetailSpecs .collapsedSection {
    text-align: left;
    max-height: 528px;
    overflow: hidden;
    position: relative;
}
.productDetailSpecs .row.row_specs > .col p {
    max-width: 112px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: #4c4d4e;
    opacity: .65;
    margin-top: 4px;
}

.productDetailSpecs .row.row_specs > .col icon.djiIcon.djiSpecsIcon {
    background-image: url(../assets/img/productDetailAttributeIcons.png);
    background-size: 98px 304px;
    width: 48px;
    height: 48px;
    display: block;
    margin: 0 auto;
}
icon.djiIcon.djiSpecsIcon.djiSpecsIcon4k {
    background-position: 2px -114px;
}

icon.djiIcon.djiSpecsIcon.djiSpecsIcon30min {
    background-position: -48px -114px;
}

icon.djiIcon.djiSpecsIcon.djiSpecsIconImage {
    background-position: 2px -163px;
}

icon.djiIcon.djiSpecsIcon.djiSpecsIconHd {
    background-position: -48px -163px;
}

icon.djiIcon.djiSpecsIcon.djiSpecsIconCoding {
    background-position: 2px -212px;
}

icon.djiIcon.djiSpecsIcon.djiSpecsIconObstacle {
    background-position: -48px -212px;
}

icon.djiIcon.djiSpecsIcon.djiSpecsIconMechanical {
    background-position: 2px -260px;
}

.row.row_of_2.row_specs_stacked {
    padding-top: 4px;
}

.row.row_of_2.row_specs_stacked > .col {
    display: inline-block;
    width: 50%;
    float: left;
    padding-right: 48px;
}

.row.row_of_2.row_specs_stacked > .col:last-child {
    padding-right: 0;
}

.specsCategory > h6 {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: .11em;
    font-weight: 100;
    color: #4c4d4e;
    margin-bottom: 22px;
    border-bottom: 1px solid rgba(225, 226, 230, .65);
    padding-bottom: 0px;
    margin-top: 60px;
}

.specsCategory > ul {}

.specsCategory > ul > li {
    margin-bottom: 22px;
}

.specsCategory > ul > li > label {
    width: 180px;
    color: #44a8f2;
    display: inline-block;
    font-size: 12px;
    letter-spacing: .05em;
    font-weight: 600;
    line-height: 1.5;
    vertical-align: top;
}

.specsCategory > ul > li > p {
    display: inline-block;
    font-size: 12px;
    color: #1b1b20;
    line-height: 1.7;
    vertical-align: top;
    float: right;
    width: calc(100% - 180px);
    padding-left: 22px;
}

.productDetailSpecs .collapsedSection:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0.5) 82%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255, 255, 255, 0.94) 82%, rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0.5) 82%, rgba(255,255,255,0) 100%);
    content: '';
    z-index: 100;
    height: 50px;
}

.specsCategory > ul > li > p br {
    line-height: 1.9;
}

.specsCategory > ul > li:after {
    clear: both;
    content: '';
    display: table;
}

.collapsedSection a.expandParent {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 1000;
    letter-spacing: .05em;
    box-shadow: 0px -3px 4px -3px rgba(27, 27, 32, 0.1);
    color: rgba(76, 77, 78, 0.35);
    font-weight: 600;
    font-size: 14px;
    border-top: 1px solid rgba(225, 226, 230, .65);
    padding-top: 13px;
    background: #FFFFFF;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
    padding-bottom: 12px;
    font-size: 10.5px;
}
.productDetailSection.videosSection {
    background: #1b1b20;
    min-height: initial;
    padding-bottom: 46px;
    display: none;
}

.collapsedSection a.expandParent:hover {
    color: rgba(76, 77, 78, 0.85);
}

.productDetailSection.videosSection > h6.gothamLight {
    text-transform: uppercase;
    letter-spacing: .11em;
    font-size: 30px;
    display: block;
    font-weight: 100;
    padding-top: 36px;
    color: #FFFFFF;
    max-width: 1180px;
    padding-bottom: 28px;
    width: calc(100vw - 30px);
    margin-left: auto!important;
    margin-right: auto!important;
}
.swiperContainer-allVideos.swiper-container-horizontal {
    width: calc(100vw - 80px);
    margin-left: auto!important;
    margin-right: auto!important;
    position: relative;
    padding: 0 30px;
}

.swiperContainer-allVideos.swiper-container-horizontal .swiper-button-prev,.swiperContainer-allVideos.swiper-container-horizontal .swiper-button-next {
    background-size: 7px 24px;
    width: 14px;
    left: 0;
    height: 32px;
    margin-top: -25px;
    background-color: rgba(8, 8, 8, 0.65)!important;
    width: 50px;
    z-index: 100;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 4px 12px 0px rgba(27, 27, 32, 0.35);
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}

.swiperContainer-allVideos.swiper-container-horizontal .swiper-button-next {
    left: initial!important;
    right: 0!important;
}

.swiperContainer-allVideos.swiper-container-horizontal .swiper-wrapper {
}

.swiperContainer-allVideos.swiper-container-horizontal .swiper-button-prev:hover, .swiperContainer-allVideos.swiper-container-horizontal .swiper-button-next:hover {
    background-color: rgba(8, 8, 8, 1)!important;
}

.productDetailSection.productFeatureCenter.grey_bg {
    background: #f9f9f9;
    padding: 100px 50px;
}

.productDetailSection.productFeatureCenter {
    text-align: center;
    padding: 100px 50px;
}

.productDetailSection.productFeatureCenter h6.gothamLight {
    text-transform: uppercase;
    letter-spacing: .11em;
    font-size: 30px;
    display: block;
    font-weight: 100;
    color: #1b1b20;
    padding-bottom: 32px;
    line-height: 1;
}

.productDetailSection.productFeatureCenter > p {
    font-weight: 300;
    max-width: 1180px;
    color: #4a4c4d;
    line-height: 1.65;
    margin: 0 auto;
    font-size: 16.5px;
    padding-bottom: 64px;
}

.productDetailSection.productFeatureCenter .media.productFeatureMedia {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: calc(100vw - 30px);
    max-width: 1180px;
    margin: 0 auto;
    height: 26vw;
    margin-bottom: 42px;
}
.productDetailSection.productFeatureCenter.imageTopPaddingFeature {
    padding-top: 58px;
}
.stickyElementsWrapper.releaseSticky .productDetailsActionBox.sticky {
    position: absolute;
    right: 0;
}
/*
.stickyElementsWrapper.releaseSticky .productDetailsActionBox .priceBar.row {
    position: fixed;
    top: 0;
    width: 400px;
    right: calc((100vw - 1180px) / 2);
    z-index: 10;
}
*/
.collapsedSection.expanded {
    max-height: 4000px!important;
    padding-bottom: 64px;
}
.stickyElementsWrapper.releaseSticky .productDetailsActionBox.sticky .variations.radioOptionsModule {
    margin-top: 58px;
}
/*
.stickyElementsWrapper.releaseSticky .productDetailsActionBox .priceBar.row {
    position: fixed;
    top: 0;
    width: 400px;
    right: calc((100vw - 1180px) / 2);
    z-index: 10;
    background: #5f5f5f;
}
*/

.stickyElementsWrapper.releaseSticky .productDetailsActionBox.sticky .variations.radioOptionsModule {
    margin-top: 58px;
}
.stickyElementsWrapper.mainContentWidth.releaseSticky:hover .productDetailsActionBox {
    position: fixed;
    top: 0!important;
    right: calc((100vw - 1180px) / 2);
    display: none;
    visibility: hidden;
    opacity: 0;
}
.secondaryProductDetailHero {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 42vw;
}

.mobileProductActionBox {
    width: 95%;
    margin: 0 auto;
    display: none !important;

}
.mobileProductActionBox .col.left_float.quantity.numbersRow,
.mobileProductActionBox .col.right_float.mainActions {
    width: 100%;
    margin: 5px auto;
}

.cartUpdate {
    margin-bottom: 8px;
}
.cartUpdate button:nth-child(1),
.cartUpdate button:nth-child(2) {
    background: white;
    border: 1px solid rgba(225, 226, 230, .65);
    padding:2px;
    color:#333;
        padding: 2px;
    font-size: 18px;
    width: 24px;
    height: 24px;
    line-height: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-left: 4px;
}

.cartUpdate button:nth-child(3){
    background: #8080806e;
    border: 1px solid rgba(225, 226, 230, .65);
    color: white;
    text-align: center;
    height: 30px;
    display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        display: block;
        margin-top: 15px;
}
.cartUpdate button:hover {
    cursor: pointer;
        background: #333;
    border-color: #333;
    color: white!important;
}

@media only screen and (max-width:1180px){   
    /*div.productDetailsActionBox{position: fixed!important;bottom: 0;left: 0;right: 0;top: initial!important;width: 100%;}*/
    div.productDetailSection.productDetailSpecs > .mainContentWidth, div.productDetailSection.mainProductInfo > .mainContentWidth, div.productDetailSection.suggestedAccessories > .mainContentWidth{
        padding-right:0px!important;
    }

    div.stickyElementsWrapper.releaseSticky .productDetailsActionBox .priceBar.row{
        position: relative;
        width: 100%;
        right: initial;
    }
    div.suggestedAccessories .mainContentWidth.row.row_of_3 > .col{
        /*height: initial;*/
        padding-bottom: 80px;
    }
    div.productDetailsActionBox > div.variations{
        display: none;
    }
    div.productDetailsSubHeader.mainLinksListWrapper{
        width: 100%;
    }
    body div.productDetailsActionBox > .priceBar .right_float .show-mobile{
        display:inline-block!important;
    }
    body div.productDetailsActionBox > .priceBar .right_float .hide-mobile{
        display:none!important;
    }
    .productDetailsActionBox > .priceBar{
        padding-right:0!important;
    }
    div.productDetailsActionBox > .priceBar .right_float .show-mobile a.solidBlueBtn{
        border-radius: 0px;
    }
}

div.productDetailsActionBox > .priceBar .right_float .show-mobile{
    display:none!important;
}

div.productDetailsActionBox > .priceBar .right_float .show-mobile a.solidBlueBtn{
    height: 58px;
    width:100%;
    background:#00AAF5;
    line-height: 1.2;
    padding-top: 18px;
}


@media only screen and (max-width:1080px){
    section.productDetailMainHero{
        height: 100vh;
    }
    div.productDetailSectionHeader h6.gothamLight{
        font-size: 20px;
    }
}

@media only screen and (max-width:768px){
    .specsCategory > h6 {
        text-align: center;
    }

    .specsCategory > ul > li > label {
        width: 100%;
        text-align: center;
    }

    .specsCategory > ul > li > p {
        text-align: center;
        width: 100%;
        padding: 0;
    }


    .stickyElementsWrapper.mainContentWidth {
        position: relative;
        left: 0;
        right: 0;
        padding-bottom: 70px;
    }
    section.productDetailMainHero h1.dji-text{
        font-size: 47px;
    }

    .left_float {
        clear: both;
        float: none;
    }

    .col.left_float.quantity.numbersRow {
        margin: auto;
        margin-bottom: 20px;
    }

    .col.right_float.mainActions {
        margin: auto;
        float: none;
    }

    div.suggestedAccessories .mainContentWidth.row.row_of_3 > .col{
        width: 50%;
    }
    .suggestedAccessories .mainContentWidth.row.row_of_3 > .col:nth-child(3), .suggestedAccessories .mainContentWidth.row.row_of_3 > .col:nth-child(6){margin-right: 0;}
    .suggestedAccessories .mainContentWidth.row.row_of_3 > .col:nth-child(even){
        /*margin-right: 33px;*/
    }
    section.productDetailMainHero .absTransCenter h4.gothamLight{
        font-size: 20px;
    }
    div.productHero-videos{
        max-width: calc(100vw - 120px);
    }
    div.productHero-videos .video-slide.swiper-slide-active{
        transform: translateX(-72px) scale(1.1);
    }
    .productDetailsActionBox {
        float: none;
        text-align: center;
        width:100% !important;
        margin-bottom: 0;
    }
    div.productDetailsSubHeader.mainLinksListWrapper {
        display: none;
    }
    div.productDetailSection.mainProductInfo > .mainContentWidth {
        padding-top: 0;
    }
    .mobileProductActionBox {
        /*display: block !important;*/
    }
}
@media only screen and (max-width:510px){
    section.productDetailMainHero h1.dji-text{
        font-size: 40px;
    }
    section.productDetailMainHero .absTransCenter h4.gothamLight{
    font-size: 16px;
}
    a.solidBlueBtn { 
        padding-right: 20px;
        padding-left: 20px;
    }
}