body.accessories header.mainHeaderWrapper .headerContent.mainContentWidth{
	height:66px;
	border-bottom:0;
}
section.productDetailMainHero.accessoryDetailMainHero {
    text-align: left;
    display: block;
    padding-bottom: 24px;
    background: #f7f8fa;
    height: initial;
    display: none;
}

section.productDetailMainHero.accessoryDetailMainHero>.heroMedia.accessoriesHero {}

section.productDetailMainHero.accessoryDetailMainHero>.heroMedia.accessoriesHero:before {
    display: none;
}

section.productDetailMainHero.accessoryDetailMainHero>.absTransCenter {
    position: relative;
    -webkit-transform: none!important;
    transform: none!important;
    top: initial;
    left: initial;
    margin: 0 auto;
    padding-top: 88px;
    padding-bottom: 88px;
    text-shadow: none;
}

section.productDetailMainHero.accessoryDetailMainHero>.absTransCenter>h1.dji-text {
    color: #1b1b20;
    font-size: 48px;
}

section.productDetailMainHero.accessoryDetailMainHero>.absTransCenter>h4.gothamLight {
    color: rgba(78, 78, 78, 0.9);
    font-size: 20px;
}