


div#mobileSearchTogglerWrapper {
    position: absolute;
    right: 190px;
    top: 0;
    background: #FFFFFF;
    bottom: 0;
    width: 71px;
    cursor: pointer;
}
.swiper-slide .abs_trans_center.messaging > h1 {
    text-align: center;
    max-width: 50vw;
}

.abs_trans_right.messaging {
    max-width: 600px;
}

.messaging.black h1 {
    color: rgba(36, 38, 43, 0.9);
}
div#responsiveMenu > .footer ul.socialLinks li a.facebook.footer_social_icon {
    background-size: 9px 21px!important;
}
.searchResultsContent.searchResultsContentMobile .mCSB_container {
    margin-right: 0;
}

.searchResultsContent.searchResultsContentMobile .mCSB_scrollTools {
    opacity: 1;
    z-index: 100;
    top: 5px;
    right: 4px;
    width: 8px;
    bottom: 4px;
}
.abs_trans_left.messaging {
    max-width: 560px;
}

.swiper-slide .messaging.black h1.ctado {
    background-image: linear-gradient(180deg,transparent -3%,rgba(255, 255, 255, 0.95) 0);
}
.searchResultsContent.searchResultsContentMobile .mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
    background: #e1e1e1;
}

.searchResultsContent.searchResultsContentMobile .mCSB_scrollTools .mCSB_dragger_bar {
    background: #9c9c9c;
    width: 6px;
}

.searchResultsContent.searchResultsContentMobile:before {content: '';background: transparent;}
.searchResultsContent.searchResultsContentMobile.searchResultsContentMobileActive {
    -webkit-transition: all .35s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -moz-transition: all .35s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all .35s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all .35s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.searchResultsContent.searchResultsContentMobile {
    opacity: 0;
    box-shadow: none!important;
    width: 100vw;
    visibility: visible;
    box-shadow: 0 2px 0 -1px rgba(156, 156, 156, 0.2)!important;
    border-radius: 0!important;
    margin-top: 0;
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    transform: translateY(-25px);
    height: auto;
    max-height: calc(100vh - 156px);
    overflow: scroll;
}
body.home.index.br_chr.bodyNoScroll {}

body.bodyNoScroll {
    /* overflow: hidden; */
}
.searchResultsContent.searchResultsContentMobile li a p {
}
.searchDropdown.show770.searchDropdownActive {
    -webkit-transition: -webkit-transform .15s cubic-bezier(0.28, 0.11, 0.32, 1);
    -moz-transition: -moz-transform .15s cubic-bezier(0.28, 0.11, 0.32, 1);
    -o-transition: -o-transform .15s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: transform .15s cubic-bezier(0.28, 0.11, 0.32, 1);
}

.searchDropdown.show770 > input {
    margin-top: 0;
    padding-left: 59px;
    outline: 0;
    padding-top: 5px;
    padding-right: 24px;
    text-align: left;
    border-radius: 0!important;
    height: 98px;
    display: block;
    width: 100%;
    background-image: none!important;
    margin-right: 21px;
    color: #000000;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: .005em;
    background: transparent;
    font-family: 'Savoy Regular', times, serif!important;
}
.searchDropdown.show770 {
    display: none!important;
    position: absolute;
    top: 0;
    background: #fafafa;
    left: 0;
    pointer-events: all;
    height: initial;
    z-index: 100;
    right: 0;
    -webkit-transform: translateY(-98px);
    transform: translateY(-98px);
    visibility: visible!important;
    -webkit-transition: -webkit-transform .25s cubic-bezier(0.28, 0.11, 0.32, 1);
    -moz-transition: -moz-transform .25s cubic-bezier(0.28, 0.11, 0.32, 1);
    -o-transition: -o-transform .25s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: transform .25s cubic-bezier(0.28, 0.11, 0.32, 1);
    will-change: transform, -webkit-transform;
}
a#cancelMobileSearch {
    position: absolute;
    top: 0;
    right: 13px;
    height: 100%;
    width: 98px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 10.5px;
    letter-spacing: .11em;
    padding: 14px 20px 14px;
}
.searchDropdown.show770.searchDropdownDisplay{
  display:block!important;
}
div#mobileSearchTogglerWrapper:before {content: '';position: absolute;top: 20px;bottom: 20px;right: 0;width: 1px;background: #e1e1e1;}
div#mobileSearchTogglerWrapper > icon {
    width: 20px;
    height: 20px;
    margin: 22px auto;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

@media screen and (max-width:1256px){
  .abs_trans_left.messaging{
    left: calc(((100vw - 1080px) / 2) + 63px);
}

  ul.header_link_list.left_float.as_r.checkoutFlowStepList{
    margin-left: auto;
    width: auto;
    margin-right: 20px;
}
  div div#mainHeader.mainHeaderCheckoutFlow .right_float{
    position: relative!important;
    float: none!important;
    display: inline-block;
}
  .pageWrapper.checkoutPageWrapper .content_width_1000{
    margin-left: auto!important;
    margin-right: auto!important;
}
  .pageWrapper.checkoutPageWrapper .content_width_1000 .shoppingInfoCol.col{
    margin-left: 60px;
}
  .pageWrapper.checkoutPageWrapper .content_width_1000 .emailFormWrapperCol.col{
    padding-left: 26px;
}
}

@media screen and (max-width:1240px){


  ul.header_link_list > li div a{
    padding: 40px 12px;
    font-size: 10.5px;
  }
  .swiper-slide .messaging h1.ctado{
    font-size: 60px;
}
  div#my_account_header_link p{
    font-size:10.5px;
  }
  ul.header_link_list > li div#shopping_bag_toggle{
    margin-left: 0px;
    padding-left: 5px;
  }
   div#shopping_bag_toggle div#shopping_bag_count{
    margin-right: -1px;
  }
  div#my_account_header_link{
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -6px;
}
  li.searchTab > div:first-child input{
    font-size: 11px;
  }
  #headerSearch::-webkit-input-placeholder{font-size: 11px;}
  #headerSearch:-moz-placeholder{font-size: 11px;}
  #headerSearch::-moz-placeholder{font-size: 11px;}
  #headerSearch:-ms-input-placeholder{font-size: 11px;}
  .logoBlock a.homeLink img{
  }
}

@media screen and (max-width: 1190px){
    ul.header_link_list > li.storeNavTab{
      display:none;
    }
    .swiper-slide .messaging h1.ctado{
    font-size: 60px;
    line-height: 1.1;
}
    div.collectionRow .primaryProduct{
      width: 270px;
    }
    .collectionRow .productExplainer{
    width: 280px;
}
    div.subCategoryHero img.media{
      width: initial;
      height: 100%;
  }
  .pageWrapper .row_of_4 .col.productGridItem{
    width:33.3333%;
    padding-bottom: calc(33.333% + 42px);
  }
}

@media screen and (max-width:1160px){
  .headerCollapsed.mainHeader ul.header_link_list.right_float.as_r.tab, .headerCollapsed.mainHeader ul.header_link_list.left_float.as_r.tab{
    display: inline-block;
    -webkit-transform: none!important;
    transform: none!important;
    position: relative;
    float: none;
    left: initial;
    vertical-align: top;
    margin-left: 0;
  }
  .headerCollapsed.mainHeader ul.header_link_list.left_float.as_r.tab li > div:first-child > a{
    padding-top: 25px!important;
  }
  div#mainHeader.headerCollapsed > .row{
    text-align:right;
    /* float:right; */
    /* width:100%; */
  }
  div.mainHeader ul.header_link_list.left_float.as_r.tab{
  }
  .abs_trans_left.messaging{
    left: 104px;
}
  .abs_trans_right.messaging{}
}

@media screen and (max-width: 1130px){
  .logoBlock.centeredLogo{
    width: 240px;
    margin-top: 8px;
  }
  .abs_trans_left.messaging{}
  .abs_trans_right.messaging{}
}

@media screen and (max-width:1110px){

  .textSectionHeader#dealHeader {
    width: 97%;
    float: none;
    height: auto;
    
  }

  .footerNavigationalSection.row > .col.contact_method{
    width: 33.3333%;
  }
  .abs_trans_right.messaging{}
  .swiper-slide .messaging h1.ctado{

  }
  .abs_trans_left.messaging{}
.footerNavigationalSection.row > .col.contact_method.email{
  border-left: 0;
}
  .footerNavigationalSection.row > .col.contextual{
    width:100%;
    text-align:center;
    margin-left:auto;
    max-width: 530px;
    margin-right: auto;
    display: block;
    float:none;
    height: initial;
  }
  .footerNavigationalSection.row > .col.contextual h3{
    text-align: center!important;
}
  .footerNavigationalSection.row > .col.contextual p{}
}

@media screen and (max-width: 1160px){
    div.detailShotTrigger{
    width: 55px;
    right: calc(100% - 17px);
    /* display: none; */
    /* bottom: 0; */
  }
  .featuredCollectionTall.featuredCollectionUI > a > img.media{
    max-width: calc(50vw - 60px);
    overflow: hidden;
    right: 0;
    text-align: right;
    float: right;
  }
  .homeTilingUI .right.col .featuredCollectionShort.featuredCollectionUI{
    width: calc(50vw - 3px);
  }
  .featuredCollectionSlider.featuredCollectionUI{
    width: calc(50vw - 3px);
  }
}

@media screen and (max-width: 1080px){
  div.secondaryFeatured{
    top: -20vw;
  }

  div.secondaryFeatured div.infoWrapper{
    margin-top: calc(21vw - 18px);
  }
  div.tempSiteDesc h4.as_r{
    font-size: 20px;
}
  .rowEditorialFeaturedProds .featuredProds.col.row.row_of_2{
    display: block;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  div.foldCopy > .featuredOffers{
}
  div.rowEditorialFeaturedProds .foldCopy .tempSiteDesc.col{
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 322px);
}
  div div#mainHeader.mainHeaderCheckoutFlow div.right_float{
/*     position: absolute!important;
    left: 12px;
    right:initial;
    top: 73px; */
    display:none!important;
}
  div div#mainHeader.mainHeaderCheckoutFlow div.right_float p{
    color:#ffffff;
  }
  div#mainHeader.mainHeaderCheckoutFlow div.logoBlock{
    width: 170px;
}
  div#mainHeader.mainHeaderCheckoutFlow div.logoBlock img{
    width: calc(100% - 30px)!important;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 26px;
}

  div.inventoryFilterBar > .content_width_172,div.inventoryFilterBar > .filterMenus > .content_width_172{
  }
  div.inventoryFilterBar .filterOption .row > .col{
    margin-right:20px; 
  }
  div.inventoryFilterBar > .filterMenus .filterOption > .row{
    margin-right:0;
    width: 100%;
  }
    ul.header_link_list > li.newArrivalsNavTab{
        display:none;
    }
    .inventoryFilterBar .filterOption .row > .col{}
}

@media screen and (max-width:1048px){
  .noGutter_content_width.row.row_of_2.footerCollections > div .descContainer{
    height: 166px;
}
.swiper-slide .messaging h1.ctado{max-width: 60vw;line-height: 1.1;font-size: 52px;}
  .mainHeader ul.header_link_list.as_r{
    margin-left: 24px;
}
  li.triggerNavSubRow.CollaborationsNavTab{
    display:none;
  }
  .productExplainer > .box{padding: 34px 28px;height: 100%;}
  .productExplainer .box h4.productName{font-size: 16px;}
  .productExplainer .box p{font-size: 12.5px;margin-bottom: 2px;padding-top: 10px;}
  .collectionRow .productExplainer{width: 250px;height: 250px;}
  .collectionRow .collectionRowWrapper .productSliderWrapper .slideItem img{
    /* margin: 0; */
  }
  .collectionRow .collectionRowWrapper .productSliderWrapper .slideItem > a{
    margin-top: 0;
    height: 290px;
  }
  li.clearanceNavTab.triggerNavSubRow{
    display:none!important;
  }

  div.collectionRow .primaryProduct{height: 250px;width: 250px;flex-basis: 250px;}
}

@media screen and (max-width:984px){
  li.shopSocialNavTab.privateLabelNavTab{
    display: none!important;
  }
}

@media screen and (max-width: 960px){
  section.featuredCollection{
    margin-top: 45px;
  }
  .homeTilingUI .right.col .featuredCollectionShort.featuredCollectionUI,.featuredCollectionSlider.featuredCollectionUI{
    width: 100%;
  }
  div.featuredCollectionSlider.featuredCollectionUI{
    height: 44vw;
  }
  div.detailShotTrigger{
    bottom:0!important;
    display: none!important;
  }
  .row.homeTilingUI > .col{
    width:100%;
  }
  .foldCopy.col.peaking{
    height: initial;
    padding-bottom: 32px;
  }
  .featuredCollectionTall.featuredCollectionUI{
    height: 80vh;
  }
  div.foldCopy > .featuredOffers{
    width:100%;
  }
  .foldCopy > .featuredOffers > .offer{
    display:inline-block;
    float:left;
    padding-right: 18px;
    width:33.333%;
  }
  .homePageWrapper div.swiperContainer,.minorGutter_content_width > .swiper-wrapper{
    height: calc(75vw - 120px);
}
  .abs_trans_left.messaging{
    left: 104px;
    right: 0;
  }
  .abs_trans_right.messaging{}
  div.inventoryFilterBar > div.filterMenus div.filterOption{
    width: 1240px;
    overflow: initial!important;
    position: absolute;
    left: 24px;
    padding-right: 24px;
    right: 24px;
}
div.inventoryFilterBar > div.filterMenus .filterOption > .row{
  padding-top: 20px;
}
  .inventoryFilterBar > .filterMenus{
    overflow: initial;
    padding-right: 24px;
    padding-left: 0;
    height: 192px;
  }
  div.inventoryFilterBar div.filterOption .row > a.col.sizeBox{
    /* width: 150px!important; */
    /* min-width: 150px!important; */
  }
  div.inventoryFilterBar > .filterMenus:after{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8px;
    z-index: 1000;
    right: 25px;
    background: linear-gradient(-90deg,rgb(245, 245, 245),rgba(245, 245, 245, 0));
  }
  div.inventoryFilterBar > .filterMenus > .content_width_172{
    padding-left: 24px;
    margin-right: 0;
    right: 24px;
    left: 0;
    margin-left: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
    position: absolute;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid #eaeaea;
    /* padding-right: 24px; */
    background: linear-gradient(180deg,#fafafa 0%,#f5f5f5 100%);
}
  div.filterMenus a.col.colorSwatchBox > div.optionBox{
    min-width: 100%;
}
  div.pageWrapper.pageLeftNavSidebar .inventoryFilterBar .filterOption .row > .col{width: calc(16.6667% - (61px / 5));margin-right: 12px!important;margin-bottom: 2px;min-width: calc(16.6667% - (61px / 5));}
   body div.subCategoryHero img.media{
    height:initial;
    width:100%;
   }
   div.pageWrapper.pageLeftNavSidebar .inventoryFilterBar .filterOption .row > .col:nth-child(6n){
     margin-right: 0!important;
   }
    div.col.productMedia > .media_thumbs{
    top: 29px;
    left: 23px;
}
    .productDetailSection .col.productDataActions{
    width: 240px;
}
    .pageWrapper.pageLeftNavSidebar{
        width:100%;
        margin-left:0;
    }
    div.row.productDetailSection{
      padding-right: 0;
      margin-top: 0!important;
    }
    .main_media > .media_enlarged > .mediaWrapper{
      margin-left: 7px;
      width: calc(100% - 14px);
      overflow: hidden;
      margin-top: 14px;
    }
    .main_media > .media_enlarged > .mediaWrapper > .media{
      left: 55%;
    }
    div.row.productDetailSection.zoom_state_active .main_media .mediaWrapper .media{
      width: 100%;
    }
    div.productHeader{
        height: initial!important;
        position: relative!important;
        line-height: normal;
        left: 0!important;
        right: 0!important;
        padding-top: 4px;
        width: 100vw;
        top: initial;
        margin-top: 11px!important;
        padding-bottom: 5px;
        margin-top: 1px;
        border-top: 1px solid rgba(150, 150, 150, 0.1)!important;
    }

    div.productHeader h4,div.productHeader h3{
    font-size: 16px!important;
    margin-top: 4px!important;
    padding-top: 3px!important;
    display: inline-block!important;
    padding-bottom: 11px!important;
}
  .productHeader h4.as_r.full_price:before{
    display:none;
  }
    div.productHeader h1.as_r{
    font-size: 22px;
    display:block;
    padding-top: 12px;
    text-align: center;
    padding-left: 0;
}
  div.productHeader h4.as_r.full_price:after{
    bottom: 18px;
    left: 0;
  }
    div#leftNavSidebar{
        visibility:hidden;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        transform: translateX(-100%);
        position:absolute;
        display:none!important;

    }
    div.offersSwiper .swiper-slide p data em {
      font-size: 11.5px;
    }

    body.categories.category  .offersSliderWrapper {
        left: 0;
        margin-top: 66px;
        margin-bottom: -36px;
        background: transparent;
    }

    div.offersSwiper .swiper-slide p data {
        height: initial;
    }
    .pageWrapper.pageLeftNavSidebar{
      width:100%!important;
      margin-left:0!important;
    }
    ul.header_link_list > li.storeNavTab{
        display:none;
    }
    .inventoryFilterBar .filterOption .row > .col{}
}

@media screen and (max-width:930px){
  div.breadcrumbs .right_float.inventoryFilterBar label.lyon_r.dg{
    padding-right:1px;
  }
  .header-offers.left_float > div > p:first-child{
    display:none;
  }
  .header-offers.left_float{margin-top: 24px;}
  .header-offers.left_float > div > p.phone{
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .015em;
  }
  div.breadcrumbs .col p{
    font-size: 10px;
    padding-left: 6px!important;
    padding-right: 6px!important;
  }
  div.breadcrumbs .right_float.inventoryFilterBar .dropdown_ui p.as_r.sort_by_main{
    padding-left: 2px!important;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    width: calc(100% - 10px);
}
  div.breadcrumbs .right_float.inventoryFilterBar .dropdown_ui{width: 72px;}
  div.breadcrumbs .right_float.inventoryFilterBar .dropdown_ui icon{
    top: 23px;
  }
  breadcrumbs > .row > .col:first-child p{
    padding-right: 4px!important;
  }
}


@media screen and (max-width: 860px){

  .black_friday_deal {
    width: 70%;
    text-align: center;
    margin-bottom: auto;
    padding-bottom: 80px;
    margin-bottom: 50px;
    border-bottom: 2px solid #80808026;
  }

  .black_friday_deals .black_friday_deal:last-child {
    border-bottom: none;
  }

  div.collectionRow .primaryProduct{
  width: 250px;
  flex-basis: 250px;
  }
    ul.header_link_list.left_float.as_r.checkoutFlowStepList li p{
    font-size: 9px;
}
  ul.header_link_list.left_float.as_r.checkoutFlowStepList li{
    padding-left: 22px;
    padding-right: 20px;
    padding-top: 11px;
    display: inline-block!important;
    width: 50%;
    padding-bottom: 8px;
    min-width: 50%;
    height: 30px;
    text-align: left;
  }
  ul.header_link_list.left_float.as_r.checkoutFlowStepList li:before,ul.header_link_list.left_float.as_r.checkoutFlowStepList li:after{
    display:none!important;
  }
  .productExplainer .box a.btn:after{
    background-color: rgba(0, 0, 0, 0.14);
}
  .productExplainer .box a.btn:hover:after{
    background-color: rgba(0, 0, 0, 0.75);
  }
  .productExplainer .box a.btn:hover{
    color: #000000;
}
  .productExplainer .box a.btn span.middot{
    background: #000000;
}

  div.productExplainer .box  p{
    padding-top: 14px;
    line-height: 1.65;
    font-weight: 300;
    font-size: 14px;
  }

  .collectionRow .collectionRowWrapper .productSliderWrapper{
    padding-top: 30px;
    margin-top: -43px;
  }
  .collectionRow .collectionRowWrapper .productSliderWrapper a.arrowTrigger.slick-arrow icon.sliderArrowCollections{
    width: 24px;
    height: 20px;
  }
  .collectionRow .collectionRowWrapper .productSliderWrapper .arrowTrigger p{
    font-weight: 400;
    font-size: 12px;
    margin-top: 2px;
    vertical-align: top;
    display: none;
  }

}

@media screen and (max-width:830px){


  body.categories .pageWrapper.subcategoryPageWrapper.pageLeftNavSidebar + .mainFooterWrapper{
    margin-left: 0;
    width: 100%;
    box-shadow: none;
  }
  .footerNavigationalSection.row > .col.contextual > div p.azo{
    font-size:14px!important;
  }
  .row.latestInstagramContent > .photoCol{
    width:calc(50% - 2px);
  }
  ul.header_link_list > li.privateLabelNavTab{
    display:none;
  }
  div.inventoryFilterBar .row > .col > div.toggle_dropdown > a{
  padding-left: 16px;
  padding-right: 16px;
  }
  body div div.subCategoryHero img.media{
    height: 100%;
    width: initial;
  }
  .pageWrapper.homePageWrapper{
    padding-top:92px;
  }
  .homePageWrapper div.swiper-wrapper h1.ctado{
    font-size: 38px;
    line-height: 1.15;
    max-width: 50vw;
  }
    div.abs_trans_right.messaging h1.ctado{
    max-width: calc(50vw - 130px);
}
  .swiper-slide .messaging a.btn.btn_oreo{
      height: 48px;
      padding-top: 18px;
  }
  div.filtersSidebar{position: relative;width: 100%;top: 0;height: initial!important;-webkit-transform: none!important;transform: none!important;padding-top: 12px;}

  div.subCategoryHero .image_mask{
    margin-left: 0;
    width: 100%;
  }
div.inventoryFilterBar .left_float.row .col.productsUI-layout-toggler{
    position: relative;
    margin-bottom: 10px;
    left: 14px;
}
  .abs_trans_right.messaging{
    left: calc(50vw + 45px);
  }
}

@media screen and (max-width: 770px){

  .return_form {
    padding: 50px 20px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .banner-swiper-container .swiper-slide {
    height: 88vh;
  }

  div.pageWrapper.homePageWrapper{
    padding-top: 50px;
}
  .abs_trans_right.messaging{
    left: 50vw;
}
  div.collectionProductsSlider{
    padding-top: 48px;
    text-align: center;
}
  .collectionRow .collectionRowWrapper .productSliderWrapper .slick-track{
    margin-bottom:12px;
  }
  .collectionProductsSlider button.slick-arrow{
    display:none!important;
  }
  .collectionRow .collectionRowWrapper .productSliderWrapper .slideItem{
    width: 100vw;
    -ms-flex-basis: auto;
    -o-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-shrink: 1;
    -o-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-basis: 100vw;
    -o-flex-basis: 100vw;
    -ms-flex-preferred-size: 100vw;
    flex-basis: 100vw;
  }
    .productExplainer .box a.btn{
    color: #000000;
    margin-top: -2px;
    z-index: 10;
  }
  div.collectionRow div.collectionRowWrapper div.productSliderWrapper{
    justify-content: flex-start;
    width: 100%;
    flex-basis: auto;
    -ms-align-content: center;
    -o-align-content: center;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    -ms-flex-line-pack: center;
    align-content: center;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  div.collectionRow div.collectionRowWrapper{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column-reverse nowrap;
    flex-flow: column-reverse nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 2px;
    width: 100vw;
  }
   div.collectionRow .productExplainer{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: transparent;
    height: initial;
    margin-bottom: -58px;
    z-index: 100;
    min-height: initial;
    width: 175px;
    -ms-flex-basis: 170px;
    -o-flex-basis: 170px;
    -ms-flex-preferred-size: 170px;
    flex-basis: 170px;
    -ms-flex-shrink: 0;
    -o-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
    vertical-align: top;
    white-space: normal;
    background: #fff;
    position: relative;
    z-index: 10;
    width: 100%;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    max-width: 100vw;
  }
  div.collectionRow .primaryProduct{
    display:none!important;
  }
    div.subcategoryPageWrapper .breadcrumbs{height: 94px;}
  div.subCategoryHero span.subcategory_name.cortado{
    font-size: 40px!important;
  }
   .productExplainer .box h4.productName, .productExplainer .box  p{
    color: #000000;
    text-align: center;
    text-indent: 0;
  }
  .productExplainer .box  p.desc,.productExplainer .box  p{
    display:none!important;
  }
  .productExplainer > .box{
    background: transparent;
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    padding-bottom: 12px;
    margin-right: auto;
    padding-right: 18px;
    padding-left: 18px;
    text-align: center;
    padding-top: 16px;
  }
  div.col.ex_uiFormatterOption.listIconWrapper.optionBoxRadio.checkboxUX{margin-right: 8px;}
  div.inventoryFilterBar .row > .col > div.toggle_dropdown > a{
    padding-left: 10px;
    padding-right: 10px;
  }
  div.inventoryFilterBar .left_float.row .col{
    float: left;
  }
  div.inventoryFilterBar .left_float.row .col.productsUI-layout-toggler{
    left: initial;
    position: absolute;
    right: -8px;
    float: right;
    bottom: -12px;
  }
  div.breadcrumbs .right_float.inventoryFilterBar > .col:last-child{
    position: absolute;
    bottom: calc(100% - 12px);
    right: 16px;
  }
  div.breadcrumbs div.right_float.inventoryFilterBar{
    position:initial;
    float: left;
    padding-left: 5px;
    position: relative;
    width: 100%;
    margin-top: -12px;
  }
  div.subcategoryPageWrapper div.breadcrumbs{
    top: 52px;
    -webkit-transform: none!important;
    transform: none!important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .subcategoryPageWrapper.clearancePageWrapper .breadcrumbs{
    top: initial;
    position: relative;
    margin-top: 46px;
    float: none;
}
  div.clearanceCopy{
    padding-left: 18px!important;
    padding-right: 18px!important;
    padding-top: 12px;
    padding-bottom: 16px;
}
  div.clearanceCopy > h4{
    color: #FFFFFF!important;
    padding-bottom: 12px;
}
  div.clearanceCopy > p{
    padding-left: 0!important;
    padding-right: 0!important;
}
  section.featuredCollection .right_float{
    position: relative;
    float: none;
  }
  section.featuredCollection .right_float .btn{
    margin-top: 28px;
  }
  .header.row h3.warnock{
    font-size: 26px;
    margin-bottom: -8px;
    margin-top: -18px;
  }
  div.pageWrapper.categoryPageWrapper .product_inventory_gridui{
    margin-top: -160px!important;
    padding-top: 0!important;
  }
  div.mainCategoryFeaturedProducts{
    height: initial!important;
  }
  div.primaryFeatured .infoWrapper .info p.desc, div.tertiaryFeatured .infoWrapper .info p.desc{
    position: relative;
    width: 100%;
    padding-right: 20px;
    background: #FFFFFF;
}
div.secondaryFeatured .infoWrapper .info p.desc{
  position: relative;
  width: 100%;
  padding-left: 20px;
  background: #FFFFFF;
}
  div.secondaryFeatured .infoWrapper, div.primaryFeatured .infoWrapper, div.tertiaryFeatured .infoWrapper{
    margin-top: 0!important;
    z-index: 5;
    height: 425px;
  }
  div.primaryFeatured .infoWrapper .info, div.secondaryFeatured .infoWrapper .info, div.tertiaryFeatured .infoWrapper .info{
    padding: 12px 18px;
    background: #FFFFFF;
    width: 250px;
  }
  div.primaryFeatured div.infoWrapper .info{padding-right: 40px!important;}
  div.secondaryFeatured div.infoWrapper .info{
    
  }
  div.secondaryFeatured{
    
  }
  div.tertiaryFeatured div.infoWrapper .info{
    
  }
  div.contextualHeader > p.desc{
    font-size: 14px;
    padding-left: 42px;
    padding-right: 42px;
  }
  div.logoBlock.centeredLogo,div#mainHeader.headerCollapsed.mainHeader div.logoBlock.centeredLogo{
    margin-top: -1px!important;
    width: 262px!important;
    left: 50%!important;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 53px;
  }
  div.logoBlock.centeredLogo .homeLink{
    margin-top: 13px!important;
}
  .collectionRow .collectionRowWrapper .productSliderWrapper .slideItem img{
  }
  .footerSiteIndexSection .left_float ul li:first-child a{
    padding-top: 19px;
    padding-bottom: 20px;
  }
  .footerSiteIndexSection .left_float ul li{
    margin-right:0;
  }
  .footerSiteIndexSection .right_float ul li{
    padding-bottom: 22px;
    display: block;
    margin-left: 0;
  }
  .footerSiteIndexSection .right_float ul li.socialCol{
    display: inline-block;
    margin-top: 10px;
    margin-right: 35px;
    margin-left: 0;
  }
  .footerSiteIndexSection .right_float ul li.socialCol:last-child{
    margin-right: 0;
}
  div.footerSiteIndexSection{
    padding-bottom: 112px;
    box-shadow: none!important;
    padding-top: 0px;
  }
  div.footerSiteIndexSection > div{
    display: block;
    float: none;
  }
  .homeTilingUI .right.col .featuredCollectionShort.featuredCollectionUI{
    margin-top: 12px;
    height: 63vw;
  }
  .collectionRow .collectionRowWrapper .productSliderWrapper .info p{
    font-size: 10.5px;
    line-height: 1.4;
  }
  .footerNavigationalSection.row > .col.contact_method:last-child{
    border-bottom:0;
  }
  .footerNavigationalSection.row > .col.contact_method > .centered{
    padding-top:20px;
  }
  .footerNavigationalSection.row > .col.contact_method{
    width:100%;
    border-left: 0!important;
    border-bottom: 1px solid #eee;
    height: initial;
    max-width: 300px;
    margin: 0 auto;
    float: none;
  }
  .footerNavigationalSection.row > .col.contextual > div p.azo{
    text-align: center!important;
  }
  .product_inventory_gridui .cushion_h3 h3{
    font-size: 18px;
  }
  .product_inventory_gridui .cushion_h3 h3:before{
    height: 1px;
    width: 6px;
    margin-top: -5px;
}
  .product_inventory_gridui .cushion_h3 h3:after{
    height: 1px;
    margin-top: -1px;
    width: 6px;
}
  .rowEditorialFeaturedProds .featuredProds.col.row.row_of_2{
    width: 100%;
}
.row.rowEditorialFeaturedProds .tempSiteDesc{
    padding: 28px 33px;
}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
      div.row.productDetailSection.product_detail_stickyui{
    margin-top: 0;
}
  .rowEditorialFeaturedProds .featuredProds.col.row.row_of_2{

  }
    div.legShotsLifestyle > span.trigger_text{
    top: 50%;
    margin-top: -10px;
}
    .col.productMedia.quickSlideActive .legShotsLifestyle{
    height: initial;
    overflow: visible;
}
    div.legShotsLifestyle{
    overflow: hidden;
    height: 70px;
}
    div.col.productMedia.quickSlideActive .media_thumbs{
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
}
    div.col.productMedia.quickSlideActive{
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      height: auto;
  }

    .productMedia.quickSlideActive div.main_media > .media_enlarged{
      -moz-transform: none!important;
      -webkit-transform: none!important;
      transform: none!important;
  }
    div.legShotsLifestyle .grid .media{
    background-size: contain;
}
    div.mediaWrapper.media_wrapper_legshot{
    height: 60vw;
}
  .col.productMedia.quickSlideActive .legShotsLifestyle > span.trigger_text icon{
    transform: scaleY(-1);
    top: -3px;
}
  .col.productMedia.quickSlideActive .legShotsLifestyle > span.trigger_text .moreText{
    display:none;
  }
  .col.productMedia.quickSlideActive .legShotsLifestyle > span.trigger_text .lessText{
    display: inline-block;
}
  .col.productMedia.quickSlideActive .legShotsLifestyle > span.trigger_text{
    opacity: 1!important;
    top: initial;
    bottom: 11px;
    -webkit-transform: translateX(-50%)!important;
    pointer-events: all!important;
    -moz-transform: translateX(-50%)!important;
    width: 126px;
    height: 36px;
    transform: translateX(-50%)!important;
}
  div.quickSlideActive .legShotsLifestyle > .grid:before{
    opacity: 1;
    bottom: 0;
    height: 45px;
    top: initial;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.95),rgba(255, 255, 255, 0.42));
}
    div.legShotsLifestyle .grid{
    -moz-transform: none!important;
    -webkit-transform: none!important;
    transform: none!important;
    height: 60vw;
}
    .productDetailSection .col.productMedia{
    position: relative!important;
}
    .productDetailSection .col.productDataActions{
    width: 100%;
    border-left: 0!important;
    border-top: 2px solid rgba(150, 150, 150, 0.1);
}
}

.clearanceHiddenTitle{
  display:none;
}
h4.azoM.show710.clearanceHiddenTitle {
    text-transform: uppercase;
    letter-spacing: .24em;
    padding-top: 18px;
    font-size: 24px;
    /* text-transform: uppercase; */
    letter-spacing: .2em;
    line-height: 20px;
    color: #000000;
    font-weight: 100;
    text-transform: uppercase;
}
@media only screen and (max-width: 710px){
  body div .clearanceHiddenTitle{
    display:block;
  }
  .offersSwiper .swiper-button-white.offer-swiper-button-prev{
    left: 4px;
  }
  .offersSwiper .swiper-button-white.offer-swiper-button-next{
    right: 4px;
  }
  .bottom_signup_modal .signup_modal_content{
    padding-left:24px;
    padding-right:24px;
  }

  a.applyCoupon-toSession.btn{
    display: inline-block;
    float: none;
    position: relative;
    right: initial;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: -11px;
  }
  .signup.bottom_signup_modal.product_coupon_deal > .signup_modal_content{padding-left: 18px;}
  div.foldCopy > div.featuredOffers{
    width: 100%;
    float: none;
    display: block;
    position: relative;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 2px;
}
  div.rowEditorialFeaturedProds .foldCopy .tempSiteDesc.col{
    width: 100%;
    display: block;
    float: none;
}
  input#checkoutEmail{
    width: 100%!important;
  }
  div.emailCaptureModule > div.media{
    background-size: 176%!important;
    background-position: center bottom;
}
    div#mainHeader.mainHeaderCheckoutFlow.mainHeader{
    height: initial!important;
    box-shadow: none;
}
  .emailCaptureModule .row.row_360 > .col:first-child .btn_pink{
    height: 40px;
    font-size: 12.5px;
    padding-top: 16px;
    width: 90%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
  .emailCaptureModule .row.row_360 > .col:first-child input#mailingListEmail{
    max-width: 90%;
    font-size: 14.5px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
  .emailCaptureModule .row.row_360 > .col:last-child{
    width: auto!important;
}
  .emailCaptureModule h1.as_m.as_m.bigger{
    padding-left: 8px;
    text-align: center;
    padding-right: 0;
}
  .emailCaptureModule .row.row_360{}
  .emailCaptureModule h1.as_m.as_m{
    font-size: 12.5px;
    text-align: center;
}
  div#mainHeader.mainHeaderCheckoutFlow div.logoBlock{
    height: 48px;
    width: 200px;
    float: left;
    margin-left: auto;
    background: transparent;
    position: relative;
    margin-right: auto;
    display: block;
    border-right: 0;
    left: 50%;
    margin-left: -87.5px;
    padding-left: 9px;
}
  .emailFormWrapperCol.col > h1{
    font-size:36px!important;
  }
  ul.header_link_list.left_float.as_r.checkoutFlowStepList{
    width:100%;
    display:block;
    float:none;
    padding-top: 2px;
    height: initial;
    border-top: 1px solid rgba(156, 156, 156, 0.1);
    border-bottom: 1px solid rgba(156, 156, 156, 0.1);
  }
  div#mainHeader.mainHeaderCheckoutFlow div.logoBlock img{
    margin-top: 14px;
    margin-left: auto!important;
    margin-right: auto!important;
    height: 20px;
    width: initial!important;
}
  .pageWrapper.checkoutPageWrapper .content_width_1000 .emailFormWrapperCol.col{
    width: 100%;
    display: block;
    float: none;
    padding-right: 26px;
    margin-left: auto;
    margin-right: auto;
}

  .pageWrapper.checkoutPageWrapper .content_width_1000 .shoppingInfoCol.col .labelDataBox{
    width: calc(50% - 24px);
    display: inline-block;
    float: left;
    vertical-align: top;
    margin-right: 24px;
}
  .pageWrapper.checkoutPageWrapper .content_width_1000 .shoppingInfoCol.col .labelDataBox.orderSummaryDataBox{
    width: 100%;
    margin-right: 0;
    display: block;
    float: none;
}
  .pageWrapper.checkoutPageWrapper .content_width_1000 .shoppingInfoCol.col{
    width: 100%!important;
    display: block;
    margin-left: 0;
    padding-left: 60px;
    padding-right: 60px;
    position: relative!important;
    margin-top: 39px;
}
  .pageWrapper.checkoutPageWrapper{
    padding-bottom:0px!important;
  }
  div.pageWrapper.cartPageWrapper:before{
    background: transparent;
    display: none;
  }
  .inventoryFilterBar .left_float.row{
    width: 100%;
    float: left;
    width: 100%;
  }
  body.clearance.index .mainHeader > .row > .absTransCenter > h2{
    display:none;
  }
  div.clearanceCopy > p{
    font-size: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }
  div.clearanceCopy > div > span{
    font-size:10px;
  }
  .pageWrapper .row_of_4 .col.productGridItem{
    width:50%;
    padding-bottom: calc(50% + 42px);
  }
  div.mdl{
    width:100%;
    top:66px!important;
    height: calc(100vh - 66px)!important;
  }
  div#mdl_collection .header h2.as_l.mdl_title{
    padding-top: 0;
    font-size: 36px;
}
div#mdl_collection .header h2.as_l.mdl_title span{
    font-size: 11px;
    /* border-width: 1px; */
    height: 23px;
    width: 23px;
    margin-top: 10px;
}
  div.hero_description_wrapper h1.as_l{
    font-size: 40px;
    font-weight: 300;
}
  div.hero_description_wrapper{
    padding-left: 24px;
    padding-right: 24px;
  }
  div.hero_description_wrapper .btn{
    font-size: 11px;
    background: #ffffff!important;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    min-width: 196px;
    height: 40px;
    color: #000000;
    /* line-height: normal; */
}
}

/* Landscape */
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: landscape) {
    div#leftNavSidebar{
        visibility:hidden;
        position:absolute;
    }
    div.productHeader h1.as_r{
        font-size: 22px;
        padding-top: 8px;
    }
    div.row.productDetailSection.product_detail_stickyui{
       margin-top:0!important;
    }
    .col.productMedia > .media_thumbs{
    left: 22px;
}
    div.productHeader{
    position: relative!important;
    left: 0!important;
    right: 0!important;
    top: 0!important;
    bottom: 0!important;
}
    div.pageWrapper.pageLeftNavSidebar{
    margin-left: -4px;
    width: 100%;
}    
    div.row.productDetailSection.product_detail_stickyui > .col.productMedia{
    left: 0;
    top: 40px;
    width: calc(100% - 299px);
}
    div.main_media{
        height: calc(100vh - 96px);
    }
    div.legShotsLifestyle > .grid:before{
        height: 175px;
    }
    div.productDetailSection .col.productMedia{
    margin-top: -14px;
    width: calc(100% - 275px);
}
    div.productDetailSection .col.productDataActions{
    width: 275px;
    margin-top: 0;
}
}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .productDetailSection .col.productDataActions{
      width: 100%;
      border-left: 0;
      border-top: 2px solid rgba(150, 150, 150, 0.1);
  }
  .row.productDetailSection.product_detail_stickyui{
        margin-top: 0!important;
    }
    div.col.productMedia.quickSlideActive{
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      height: auto;
  }
}

/* Portrait */
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-device-width: 736px) and (min-device-width: 414px) and (orientation: portrait) { 
    .productDetailSection .col.productDataActions{
      width: 100%;
      border-left: 0;
      border-top: 2px solid rgba(150, 150, 150, 0.1);
  }
  .row.productDetailSection.product_detail_stickyui{
        margin-top: 0!important;
    }
    div.col.productMedia.quickSlideActive{
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      height: auto;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .productDetailSection .col.productDataActions{}
}


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .productDetailSection .col.productDataActions{
      width: 100%;
      border-left: 0;
      border-top: 2px solid rgba(150, 150, 150, 0.1);
  }
      div.col.productMedia.quickSlideActive{
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      height: auto;
  }
  .row.productDetailSection.product_detail_stickyui{
    margin-top: 0!important;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .productDetailSection .col.productDataActions{
      width: 100%;
      border-left: 0;
      border-top: 2px solid rgba(150, 150, 150, 0.1);
  }
      div.col.productMedia.quickSlideActive{
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      height: auto;
  }
  .row.productDetailSection.product_detail_stickyui{
    margin-top: 0!important;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .productDetailSection .col.productDataActions{}
    .row.productDetailSection.product_detail_stickyui{}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .productDetailSection .col.productDataActions{
      width: 100%;
      border-left: 0;
      border-top: 2px solid rgba(150, 150, 150, 0.1);
  }
      div.col.productMedia.quickSlideActive{
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      height: auto;
  }
  .row.productDetailSection.product_detail_stickyui{
    margin-top: 0!important;
}
}

/* Portrait */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 568px) and (min-device-width: 320px) and (orientation: portrait) {
    .productDetailSection .col.productDataActions{
        width: 100%;
        border-left: 0;
        border-top: 2px solid rgba(150, 150, 150, 0.1);
    }
        div.col.productMedia.quickSlideActive{
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      height: auto;
  }
    .row.productDetailSection.product_detail_stickyui{
    margin-top: 0!important;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .productDetailSection .col.productDataActions{}
    .row.productDetailSection.product_detail_stickyui{}
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .row.productDetailSection.product_detail_stickyui{
    margin-top: 0!important;
}
    div.col.productMedia.quickSlideActive{
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      height: auto;
  }
    .productDetailSection .col.productDataActions{
    width: 100%;
    border-left: 0;
    border-top: 2px solid rgba(150, 150, 150, 0.1);
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .row.productDetailSection.product_detail_stickyui{
    margin-top: 0!important;
}
    div.col.productMedia.quickSlideActive{
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      height: auto;
  }
    .productDetailSection .col.productDataActions{
    width: 100%;
    border-left: 0;
    border-top: 2px solid rgba(150, 150, 150, 0.1);
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .row.productDetailSection.product_detail_stickyui{}
    .productDetailSection .col.productDataActions{}
}

@media screen and (max-width:860px){
  .row.productDetailSection.product_detail_stickyui{
}
    div.col.productMedia.quickSlideActive{
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      height: auto;
  }
    .productDetailSection .col.productMedia{
        width: 100%!important;
        position: relative;
        left: 0!important;
        top: 0!important;
        right: 0!important;
    }
    ul.header_link_list > li.saleNavTab{
        display:none;
    }
    .inventoryFilterBar .filterOption .row > .col{}
}

div > .row.mediaTextColsUI:first-of-type > div.col {
    background-image: linear-gradient(135deg,#FFFFFF,#F4f4f4);
}

@media screen and (max-width: 770px){
  div.popout_email_capture_modal.bottom_signup_modal .heading_2{
    font-size: 30px;
}
  .bottom_signup_modal .grid{
    padding-left:0;
    padding-right:0;
  }
  .foldCopy.col.peaking .quickValues p.azo{
    font-size: 12px;
  }
  .foldCopy > .featuredOffers > .offer:nth-child(1){
    padding-right: 8px!important;
    width: 190px;
}
  .foldCopy > .featuredOffers > .offer:nth-child(2){
    padding-right: 0;
    padding-left: 10px;
    display: inline-block;
    float: none;
    vertical-align: top;
}
  .foldCopy > .featuredOffers > .offer > .text p{
    white-space: pre-wrap;
    text-align: center;
}
  .foldCopy > .featuredOffers > .offer > .text h5{
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 0.005em;
    font-family: 'Savoy Regular', times, serif;
    font-weight: 100;
}
    div.foldCopy > div.featuredOffers{
    width: 100%;
    float: none;
    display: block;
    position: relative;
    word-wrap: inherit;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: auto;
    width: calc(100% + 56px);
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0;
    padding-top: 0px;
    text-align: center;
    border-top: 0;
    margin-top: 48px!important;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: -28px;
    padding-left: 28px;
}
  .foldCopy > .featuredOffers > .offer:nth-child(3){
    float: none;
    padding-right: 0;
}
  .foldCopy > .featuredOffers > .offer:nth-child(1) .media{
    margin-top: -20px!important;
    height: 72px!important;
    margin-bottom: 8px!important;
    background-size: 91%;
    background-position: center bottom;
}
  .foldCopy > .featuredOffers > .offer .media{
    float: none;
    display: block;
    margin: 0 auto!important;
    height: 60px!important;
}
  .foldCopy > .featuredOffers > .offer > .text{width: 100%;text-align: center;padding: 0;}
  .foldCopy > .featuredOffers > .offer{width: 39%;margin-bottom: -12px;height: 150px;}
  .foldCopy.col.peaking{
    padding: 38px 28px 24px;
    margin-bottom: 18px;
    padding-bottom: 12px;
    height: initial;
  }
  .featuredCollectionUI .data{
    left: 48px;
    top: 28%;
  }
  div.privateLabelInfo{
    padding: 40px 32px 42px 18px;
    height: initial;
  }
  .privateLabelInfo a.btn.secondary_btn_border{
  width: 100%;
  }
  .privateLabelInfo p{
    font-size: 12px;
  }
  .featuredCollectionUI .data .title{
    font-size: 32px;
  }
  div.featuredCollectionSlider.featuredCollectionUI{
    height: 365px;
  }
  div.featuredCollectionUI .btn.btn_charcoal{
    height: 40px;
    padding-top: 13px;
    border-width: 2px;
    background: rgba(36, 38, 43, 0.95);
    color: #FFFFFF!important;
    border-color: transparent;
    font-size: 10.5px;
  }
  div.featuredCollectionUI .data.white .btn.btn_charcoal{
    background: #FFFFFF!important;
    color: #24262b!important;
}
  div.row.homeTilingUI{
    margin-top: 16px;
    width: calc(100% - 36px);
  }
  .swiper-wrapper a.bannerProductCaption{
    display:none;
  }
  div.searchDropdown.show770{
    -webkit-transform: translateY(-52px);
    transform: translateY(-52px);
  }
  div#mainHeader.mainHeaderSearchActive{
    -webkit-transform: translateY(52px);
    transform: translateY(52px);    
  }
    div.searchDropdown.show770 .searchResultsDropdown{
      top: 112px!important;
    }
    .searchResultsContent ul li > a p{
      font-size: 12.5px;
      padding-top: 17px;
      display: inline-block;
      margin-left: 14px;
    }
    .searchResultsContent ul li > a img{
      width: 60px;
      height: 60px;
    }
    .searchResultsContent ul li > a{
      padding-left: 0;
    }
    .searchDropdown.show770 > input{height: 52px;font-size: 18px;padding-top: 1px;padding-left: 20px;}
    a#cancelMobileSearch{width: 50px;right: 0;}
    a#cancelMobileSearch icon span{
      width: 30px;
      margin-left: -15px;
    }
    .mainHeader ul.header_link_list.right_float.as_r.tab{
      margin-right: 10px!important;
    }
    .mainHeader ul.header_link_list.right_float.as_r.tab, .mainHeader ul.header_link_list.left_float.as_r.tab{
      vertical-align:top!important;
      position: relative!important;
      -webkit-transform: none!important;
      transform: none!important;
    }
    #mainHeader.mainHeader ul.header_link_list.left_float.as_r.tab{
      display: none!important;
    }
    ul.header_link_list > li{}

  div.aboutContentWidth .textWrapper{
    margin-top: -56px;
    padding-left: 18px;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    margin-top: -39px;
  }
  div.pageWrapper.aboutPageWrapper > .contentWidth.aboutContentWidth h4{
    font-size: 18px;
  }
  div.pageWrapper.aboutPageWrapper > .contentWidth.aboutContentWidth img{
    border: 4px solid #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
  }
  div.aboutContentWidth .textWrapper p{
    font-size: 12.5px;
  }
  div.eventSaleBannerWrapper > .eventSaleBanner .media.mediaMobile{display: block;}
  div.eventSaleBannerWrapper > .eventSaleBanner .media.mediaDesktop{
    display: none;
  }
    div.eventSaleBannerWrapper{
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 0;
}
  div.eventSaleBannerWrapper > .eventSaleBanner{
    height: 181px;
  }
    ul.header_link_list li{
        display:none!important;
    }
    ul.header_link_list > li.searchTab{
      display: inline-block!important;
      padding-top: 11px!important;
    }
    ul.header_link_list > li div#shopping_bag_toggle{
      padding-top: 14px!important;
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    ul.header_link_list > li.cartTab{

    }
    div.subCategoryHero{
    margin-top: 0;
}
    div.subCategoryHero.bannerOff{
    padding-top: 161px;
}
    .pageWrapper.subcategoryPageWrapper.pageLeftNavSidebar{
      padding-top: 0!important;
    }
    .inventoryFilterBar .filterOption .row > .col{}
    .footerNavigationalSection{
    padding-left: 40px;
    padding-right: 40px;
    height: initial;
    max-width: 400px;
    border-bottom-color: #FFF;
}
    div.show770 {
        display: block!important;
        visibility: visible!important;
    }    
    .header-offers.left_float{
      display:none!important;
    }
    div#mainHeader{
      height: 52px!important;
    }
    .modal_curtain .logoBlock{
    width: 100%;
    float: none;
}
  body div#mdl_quickview > .bodyContent{
    position: relative;
    background: #FFFFFF;
}
  body div#mdl_quickview > .header{
    top: 0;
}
  div#mdl_quickview > .header a#mdl_exit{
    padding: 0 12px;
}
div#mdl_quickview > .header a#mdl_exit icon{
  margin-right:3px;
  margin-top: 23px;
}
div#mdl_quickview > .header a#mdl_exit p{
  margin-top:26px;
}
div#mdl_quickview > .header a#mdl_exit span{
    background: #e1e1e1;
    width: 10px;
    height: 2px;
}
div#mdl_quickview > .header a#mdl_exit p{
    color: #e1e1e1;
    font-size: 10px;
    top: -1px;
    position: relative;
}
body div#mdl_quickview .newsletterDiscount{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 60px;
}
  body div#mdl_quickview .newsletterDiscount .col:first-child{
    padding-bottom:4px;
  }
  body div#mdl_quickview{
    height: auto;
    top: 65px;
    overflow: scroll;
    background: transparent;
    margin-top: -63px;
}
  .bodyContent.row.quickviewProductContent > .productMedia a.mediaThumb{
    width: 50px;
    height: 50px;
  }
  .bodyContent.row.quickviewProductContent > .productMedia .media_thumbs{
    right: initial;
    left: 16px;
    width:50px;
    top: 16px;
  }
  .bodyContent.row.quickviewProductContent > .productMedia{
    width: 100%;
}
  .bodyContent.row.quickviewProductContent > .productMedia .main_media .media_enlarged{
    position: absolute;
    left: 16px;
    top: 16px;
    right: 0;
    bottom: 0;
}
  .bodyContent.row.quickviewProductContent > .productDataActions{
    width: 100%;
}
.modal_curtain .logoBlock >a{}
.modal_curtain .logoBlock > a > img{
    display: block;
}
    .logoBlock a.homeLink img{
    /* width: 201px; */
    margin-left: 1px;
}
div.inventoryFilterBar > .content_width_172 .right_float{
  float:left!important;
  margin-left: -11px;
}
div.content_width_172{
    margin: 0 20px;
}
  div.inventoryFilterBar > div.content_width_172{
    margin: 0 5px;
    width: 100%;
    float: left;
    display: block;
  }
  .subcategoryPageWrapper .breadcrumbs .row > .right_float .col.filtersBarSection{
    float:none;
    width:100%;
  }
  .inventoryFilterBar div#clearFilter > a span.lyon_r{
    width: 10px;
    left: -10px;
  }
  div.inventoryFilterBar .row > .col > div.toggle_dropdown#clearFilter > a span em span{
    margin-left:0;
  }
  div#clearFilter div.tooltip{
    padding-left: 10px;
    width: initial;
    font-weight: 500;
  }
    .categoryIntro.row > .categoryData > div.indentedSubCategories a{}
    div.categoryIntro.row > .categoryData > div > h1{
    font-size: 66px!important;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 0px!important;
    margin-left: 0;
    width: 100%!important;
}
    div.categoryIntro.row > div.categoryData > div.header a.btn{
    width: auto;
    font-size: 10.5px;
    height: 38px;
    line-height: 38px;
    border-width: 2px;
    margin-top: -4px;
    position: relative;
    font-weight: 900;
    padding: 0 16px;
    letter-spacing: .35em;
    top: 0;
    width: initial;
    display: inline-block;
    right: 0;
    float: none;
    margin: 0 auto;
    margin-left: auto;
    margin-top: 30px;
}
    div.categoryIntro.row > .categoryData > div{
    width: 100%;
    margin-left: 0;
    text-align: center;
}
.categoryIntro.row > .categoryData > div.indentedSubCategories{
    text-align: left!important;
}
div.categoryIntro.row > .categoryData{
    width: 100%;
    padding: 42px 20px;
    padding-bottom: 12px;
}
div.categoryIntro.row > .categoryFeaturedVids{
    width: 100%;
    display: none!important;
}
}

.show510{
    display:none!important;
    visibility: hidden!important;
}

@media screen and (max-width: 630px){

  .slide-christmas {
    background-image: url('..assets/img/christmas_banner_mobile.jpg') !important;
  }

  .homePageWrapper div.swiper-wrapper h1.ctado{
  color: #24262b;
  font-size: 32px;
  padding-top: 18px;
  text-align: center;
  display: block;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  }
  .homePageWrapper div.swiperContainer .swiper-slide .messaging{
      position: relative;
      top: initial;
      transform: none!important;
      transform: none!important;
      left: 0;
      right: 0;
      width: 100vw;
      padding-left: 24px;
      padding-right: 24px;
  }
  .homePageWrapper div.swiperContainer, .minorGutter_content_width > .swiper-wrapper{
    height: initial;
  }
  .homePageWrapper div.swiperContainer .swiper-slide .media{height: calc(54vh - 120px);}
}

@media screen and (max-width: 510px){
  .latestInstagramContent .photoCol span.btn.secondary_btn_solid{
    height: 40px;
    line-height: 40px;
    padding-top: 0;
  }
  div.abs_trans_right.messaging{
    left: 50vw;
}
  div#privateLabelNav{
    display:none!important;
  }
  .abs_trans_left h1.ctado{}

.abs_trans_right h1.ctado{}
  div.introView.cushion_h1.privateLabelSection > .videoInitial{
    position: relative!important;
  }
  .introView.cushion_h1 > div > div:last-child{
    padding-bottom:0!important;
    position: relative!important;
    top: initial!important;
    color: #000000;
    left: initial!important;
    -webkit-transform: none!important;
    transform: none!important;
  }
  div.introView.cushion_h1 > div h4{
    color: #000000;
    font-size: 35px;
}
  div.privateLabelSection.introView{
    padding-top: 0!important;
  }
  .introView.cushion_h1 > div h6{}
  div.introView.cushion_h1 > div > div:last-child > h6.cortado{
    color: #000000;
    font-size: 14px;
    margin-bottom: 24px;
    padding-left: 22px;
    padding-right: 22px;
}
  .introView.cushion_h1 > div > div:last-child > h6.cortado br{
    display:none;
  }
  .introView.cushion_h1{
    height:initial!important;
    padding-top: 46px!important;
  }
  .privateLabelPageWrapper .introView .content_width_1000{
    position:relative!important;
    transform: none!important;
    top: initial!important;
  }
  .textCenteredRow.privateLabelIntro{
    margin-top:0!important;
    font-size: 12.5px!important;
    padding-left: 24px!important;
    padding-top: 22px!important;
    padding-right: 24px!important;
  }
  .row_of_4.col.instagram > .header > p{
    font-size: 12px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
  }
  div.subCategoryHero.bannerOff{
    padding-top: 161px;
  }
  div.subCategoryHero span.subcategory_name.cortado{
    font-size: 32px!important;
}
  #mainHeader div.logoBlock.centeredLogo a.homeLink{
    margin-top: 10px!important;
  }
  div#mainHeader.headerCollapsed > .row{
    text-align: right!important;
  }
.engageUsersRow .col.instagram{
    padding-top: 0;
    padding-bottom: 2px;
}
  section.featuredCollection > .header{
    padding-top: 38px;
  }
  div.foldCopy > div.featuredOffers{word-wrap: inherit;-ms-overflow-style: -ms-autohiding-scrollbar;overflow-x: auto;width: calc(100% + 56px);overflow-y: hidden;white-space: nowrap;}
  div.foldCopy > div.featuredOffers > div.offer{
    display: inline-block;
    width: 234px;
    padding-right: 22px!important;
  }
  div.foldCopy.col.peaking{position: relative;}
  div.foldCopy.col.peaking:before{
      content:'';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 210px;
      opacity: .65;
      width: 15px;
      background: linear-gradient(-90deg,#24262b,transparent);
      z-index: 100;
  }
  div.emailFormWrapperCol.col h7{
    font-size: 12px!important;
    letter-spacing: .3em!important;
    color: rgba(36, 38, 43, 0.3);
    font-weight: 600;
    letter-spacing: .15em;
    margin-bottom: 6px;
  }
  .footerNavigationalSection.row > .col.contextual > div h3.warnock{
    font-size: 40px;
  }
  div.productExplainer .box  p{
    font-size:12px;
    padding-left: 0;
  }
  .collectionRow .collectionRowWrapper .productSliderWrapper .slideItem .info{
    bottom: 10%;
    background: transparent;
  }
  .collectionRow .collectionRowWrapper .productSliderWrapper .slideItem .info:after{
    background:transparent;
  }
  div.offersSliderWrapper{
    position: relative;
    top:0;
  }
  body div.eventSaleBannerWrapper{
    margin-top: 0;
  }
  body div.eventSaleBannerWrapper > .eventSaleBanner{
    height: 118px;
  }
  .minorGutter_content_width .swiper-button-next, .minorGutter_content_width .swiper-button-prev{left: 2px;box-shadow: none;background-size: 11px!important;top: calc(50% - 30px);}
  div.minorGutter_content_width .swiper-button-next{
    right: 2px;
    box-shadow: none;
    left: initial;
    top: calc(50% - 30px);
  }
  .offersSwiper .swiper-slide p span{
    font-size: 8.5px;
  }
    body.categories div#livechat-compact-container{
      right: 0px!important;
      bottom: 16px!important;
      transform: translateY(0%) scale(.85)!important;
    }
    .bottom_signup_modal .signup_modal_content{
    padding-left:18px;
    padding-right:18px;
  }
  .signup.bottom_signup_modal.product_coupon_deal > .signup_modal_content .grid_8 .heading_2.couponHeading{
    font-size: 12px;
  }
  .signup.bottom_signup_modal.product_coupon_deal > .signup_modal_content{
    padding-left: 10px;
    padding-top: 18px;
    padding-bottom: 16px;
  }
  .signup.bottom_signup_modal.product_coupon_deal{
    left: 12px;
    right: 12px;
    width: calc(100vw - 24px);
    min-width: calc(100vw - 80px); */
  }
  .bottom_signup_modal .heading_2+p{
    font-size:12px;
  }
  div.row.rowEditorialFeaturedProds{
    width: 100%;
    margin-top: 12px;
}
  div.l_bend_ui .as_l.separatorDescription h4{
    font-size: 29px;
}
  .l_bend_ui .as_l.separatorDescription p{
    padding-left:12px;
    padding-right:12px;
    font-size: 12.5px;
  }
  .foldCopy > .featuredOffers > .offer > .text p{
    line-height: 1.55;
    font-size: 12px;
    padding-top: 2px;
    width: 100%;
    white-space: pre-wrap;
}
  .foldCopy > .featuredOffers > .offer > .text h5{
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 0.005em;
    font-family: 'Savoy Regular', times, serif;
    font-weight: 100;
}
  div.tempSiteDesc h4.as_r{
    text-align:left;
    font-size: 16px;
  }
  .tempSiteDesc > h6{
    font-size: 12px;
  }
  div.swiper-button-next, div.swiper-button-prev{
    width: 36px;
}
.swiper-slide .messaging a.btn.btn_oreo{
    font-size: 10.5px;
    padding-left: 24px;
    font-weight: 900;
    padding-right: 24px;
    height: 42px;
    padding-top: 17px;
}
.homePageWrapper div.swiper-wrapper h1.ctado{
    font-size: 25px;
    line-height: 1.15;
    max-width: 80vw;
}


  div.abs_trans_left.messaging{
    left: 62px;
  }
.homePageWrapper div.swiperContainer,.minorGutter_content_width > .swiper-wrapper{
    height: initial;
}
  body.body_SidebarActiveState{
    overflow: hidden!important;
  }
  .pageWrapper.checkoutPageWrapper .content_width_1000 .shoppingInfoCol.col .labelDataBox{
    width:100%!important;
  }
    .col.productMedia.quickSlideActive .legShotsLifestyle > span.trigger_text .lessText {
        display: inline-block;
    }
    .col.productMedia.quickSlideActive .legShotsLifestyle > span.trigger_text icon {
        transform: scaleY(-1);
        top: -3px;
    }
    div.main_media{
        min-height:355px;
    }
    .inventoryFilterBar .filterOption .row > .col{}
    div.categoryMarketingHero > div.abs_trans_center{
    padding: 32px 34px;
    }
    .quickSlideActive div.legShotsLifestyle .grid{
      display: block;
    }
    div.legShotsLifestyle .grid{
        -moz-transform: none!important;
        -webkit-transform: none!important;
        transform: none!important;
        height: 60vw;
        display: none;
    }
    div.legShotsLifestyle .grid .media {
        background-size: contain;
    }
    div.col.productMedia.quickSlideActive .media_thumbs {
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    .col.productMedia.quickSlideActive div.legShotsLifestyle > span.trigger_text .lessText{
      background-color:#FFFFFF!important;
    }
    .col.productMedia.quickSlideActive div.legShotsLifestyle > span.trigger_text{
        opacity: 1!important;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%)!important;
        pointer-events: all!important;
        width: 207px;
        text-align: center;
        height: 36px;
        position: absolute!important;
    }
    .col.productMedia.quickSlideActive .legShotsLifestyle > span.trigger_text .moreText {
        display: none;
    }
    .row.productDetailSection.product_detail_stickyui > .col.productMedia{
      position:relative!important;
    }
    div.productHeader h1.as_r{
      font-size: 16px;
      padding-top: 17px;
      line-height: 1.25;
      padding-left: 18px;
      padding-right: 18px;
    }
    div.legShotsLifestyle > .grid:before{
    height: 69px;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.98),rgba(255, 255, 255, 0.82));
}
  div.legShotsLifestyle > span.trigger_text{
    top: 19px;
    z-index: 999;
}
    div.legShotsLifestyle{
      overflow: hidden;
      height: 90px;
      margin-left: 7px;
      margin-right: 7px;
  }
  div.col.productMedia.quickSlideActive .legShotsLifestyle .productMediaMasonry .grid-item .mediaWrapper{
    height: 100vh;
}
  div.col.productMedia.quickSlideActive .legShotsLifestyle .productMediaMasonry .grid-item .mediaWrapper.media_wrapper_legshot_flipped{
    -webkit-transform: scaleX(-1) translateX(-42px);
    transform: scaleX(-1) translateX(-12px);
}
  div.col.productMedia.quickSlideActive .legShotsLifestyle .productMediaMasonry .grid-item .mediaWrapper .media{
    background-size: 129%;
    background-position: top center;
}
  div.col.productMedia.quickSlideActive .legShotsLifestyle .productMediaMasonry .grid-item{}
  div.col.productMedia.quickSlideActive .legShotsLifestyle {
        height: calc(100vh - 14px);
        position: fixed;
        z-index: 100000000;
        top: 0;
        left: 0;
        margin-top: 7px;
        right: 0;
        bottom: 0;
        background: #f5f5f5;
    }
    div.col.productMedia > .media_thumbs > a.mediaThumb.mediaThumbVideo circle{
    width: 25px;
    height: 25px;
}
  div.col.productMedia > .media_thumbs > a.mediaThumb.mediaThumbVideo circle span{
    border-width: 5.5px 0px 5.5px 8px;
}
    div.col.productMedia > .media_thumbs{
    width: 62px;
    left: 21px;
    top: 28px;
}
  div.col.productMedia > .media_thumbs > a.mediaThumb.mediaThumbVideo > p{width: 24px;}
    div.col.productMedia > .media_thumbs > a.mediaThumb{
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
    border: 0;
    background: #FFFFFF;
}
  div.col.productMedia > .media_thumbs > a.mediaThumb > div .media{
    -o-filter: none;
    -ms-filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
  }
    div.main_media > .media_enlarged .media{
}
  div.customizationOptionsModule.size_selection_module > div.row > div.col > h3 > span{
    font-size: 9.5px;
  }
  div.customizationOptionsModule.size_selection_module > div.row > div.col{
    width: 20%;
  }
    .productDetailSection .col.productDataActions{
    width: 100%;
    border-left: 0;
    border-top: 0;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 22px;
    margin-top: -28px;
}
  .row.productDetailSection.zoom_state_active .col.productDataActions{
    opacity:1!important;
    transform:none!important;
    -webkit-transform:none!important;
    right: initial!important;
  }
    .categoryMarketingHero > div.abs_trans_center h4{
    font-weight: 400;
    font-size: 16px;
}
    div.categoryMarketingHero > div.abs_trans_center p{
    font-size: 12.5px;
    line-height: 1.5;
}
    .product_grid_ui .col.productGridItem{
    width: 50%!important;
    padding-bottom: 80%!important;
    vertical-align: top!important;
}
.product_grid_ui .col.productGridItem:first-child{
}
  body div.l_bend_ui > div.col{
    height: 63vh;
}
  body div.l_bend_ui{
    height: auto!important;
    margin-left: 0!important;
}
    div#fullView_slider,div.l_bend_ui{
    height: calc(100vh - 382px);
    width: 100%!important;
}
    .footerNavigationalSection .row.row_of_3{}
    .noGutter_content_width.row.row_of_3.home_trio{
    padding: 0;
}
    .noGutter_content_width.row.row_of_2.footerCollections > .col{
    width: calc(100% - 4px);
    height: initial;
    float: none;
    min-height: initial;
    display: block;
    margin-left: 12px;
    border-right: 0!important;
    margin-top: 2px;
    margin-left: 2px!important;
}
  .noGutter_content_width.row.row_of_2.footerCollections > div .btn{
    margin-left: 40px;
  }
  div.noGutter_content_width.row.row_of_2.footerCollections > div .descContainer > p{
    font-size: 12px!important;
  }
  div.noGutter_content_width.row.row_of_2.footerCollections > div .descContainer{
    padding-left: 40px;
    padding-top: 14px;
  }
  .noGutter_content_width.row.row_of_2.footerCollections > div .descContainer{
    height: initial;
    padding-top: 24px;
    box-shadow: none!important;
}
    .noGutter_content_width.row.row_of_2.footerCollections{
    padding-top: 0;
    height: auto;
    margin-top: -50px;
    background: #FFFFFF;
    width: calc(100% - 4px);
    margin-bottom: 48px;
}
    .noGutter_content_width.row.row_of_3.home_trio>.col.clearance_code{
        display:none;
    }
    .noGutter_content_width.row.row_of_3.home_trio>.col{
    width: 100%;
    display: block;
    float: none;
    padding-bottom: 100%;
}
    .footerNavigationalSection .row.row_of_3 > .col{
    width: 50%;
    text-align: center;
}
    .sidebarBagScrollContainer{
            height: calc(100vh - 153px);
    }
    a.btn.full_width_btn.shoppingBagBtn{
    padding-left: 60px;
    height: 48px;
}
  .floatingCheckoutButton{
    top: 48px;
  }
    a.btn.full_width_btn.shoppingBagBtn p{padding-top: 4px;}
    div.show510{
        display:block!important;
        visibility: visible!important;
    }    
    div.mainPageContainer{
        width: 100%;
        overflow-x: hidden;
    }
    .pageWrapper.productPageWrapper.pageLeftNavSidebar{
      padding-top: 50px!important;
    }
    #fullView_slider .slick-arrow.slick-prev{
    left: 20px;
}
    #fullView_slider .slick-arrow.slick-next{
    right: 20px;
}
    #fullView_slider .slick-arrow.slick-prev, #fullView_slider .slick-arrow.slick-next{
        width: 24px;
        display: none!important;
    }
        .fullView_slide > .media{
    -moz-filter: brightness(87%);
    -ms-filter: brightness(87%);
    -o-filter: brightness(87%);
    filter: brightness(87%);
    -webkit-filter: brightness(87%);
}
    .fullView_slide > .messaging{
    padding-top: 10px;
}
    .fullView_slide h1.ctado{
    font-size: 31px;
    padding-bottom: 5px;
}
    .fullView_slide div.row{
    margin-top: 10px;
}
    .fullView_slide .btn_oreo{
    width: auto;
    height: 36px;
    padding: 14px 20px;
    line-height: 1;
    border: 0;
    font-size: 12.5px;
    margin: 0 8px;
}
    .fullView_slide h1.as_m{
    font-size: 18px;
    font-weight: 600;
}
    .fullView_slide h1{}
    div#mainHeader.mainHeaderNoScroll{
      right:0;
    }
    .logoBlock a.homeLink img{
        margin-left: auto!important;
        margin-right:auto;
        height: 43px;
        margin-top: 18px;
        margin-bottom: 21px;
        width: initial;
    }
    div#mainHeader.mainHeader{
      height: 58px!important;
      background-color: rgba(255, 255, 255, 1)!important;
    }
    div.pageWrapper{
      padding-top: 12px!important;
    }
    div.pageWrapper.privateLabelPageWrapper{
    margin-top: 62px;
}
    .pageWrapper.categoryPageWrapper{
      padding-top: 58px!important;
    }
    div.logoBlock.centeredLogo .homeLink .show510{
    display: block!important;
    visibility: visible!important;
    margin-top: 7px;
}
    div.logoBlock.centeredLogo .homeLink .hide510{
    display: none!important;
    visibility: hidden!important;
}
    #mainHeader.headerCollapsed.mainHeader div.logoBlock.centeredLogo > a.homeLink{
    margin: -7px auto;
    height: 52px;
    margin-top: 2px!important;
    overflow: hidden;
}
    div#mainHeader.mainHeader div.logoBlock.centeredLogo,div#mainHeader.mainHeader.headerCollapsed div.logoBlock.centeredLogo{
    float: none;
    position: fixed;
    -webkit-transform: translateX(-50%)!important;
    -moz-transform: translateX(-50%)!important;
    transform: translateX(-50%)!important;
    left: 50%;
    height: 52px!important;
    width: auto!important;
    overflow: initial;
    top: 0;
    width: initial;
    margin-top: -1px!important;
    }
    div#my_account_header_link{
    display: none;}
    div.mainRightSidebar > .topSection,.mainHeader .topSection{
    background: transparent;
    width: 66px;
    height: 66px;
    left: -66px;
    top: 0;
    }
    .row.row_of_2 > .upCopy.col, .row.row_of_2 > .downCopy.col{
    width: calc(100% - 24px);
    height: 52vh;
    margin-left: 12px;
    margin-bottom: 12px;
}
    .content_width_1000.tabbedView .tab_contents > div .col{
    width: 100%;
    float: none;
    display: block;
}
  .content_width_1000.tabbedView .tab_contents > div .col .btn{
    font-size:10.5px;
    font-weight:600;
  }
  .content_width_1000.tabbedView{
    padding-top:8px;
    padding-bottom: 0;
  }
  .content_width_1000.tabbedView .tab_contents > .tab_content{
    height: 47%;
    padding-left: 24px;
    padding-right: 24px;
    top: 4px;
}
    .content_width_1000.tabbedView .tab_contents{
    height: 412px;
}
    .tabController.line_tabs > a p{
    text-transform: uppercase;
    font-size: 12.5px;
    letter-spacing: .06em;
}
    .tabController.line_tabs > a{
    border-width: 1px;
}
    .content_width_1000.tabbedView .line_tabs{
    width: calc(100% - 40px);
}
    div#shopping_bag_toggle p{
    display: none;
}
    .mainRightSidebar:hover,.mainRightSidebar.peakingState{
        right:-100%;
    }
    div.mainHeader .right_float.peakingState {
      right:0;
  }

    .mainRightSidebar.activeRightSidebar:hover{
        right:0;
    }
    div.mainRightSidebar div#shopping_bag_toggle icon,div.mainHeader div#shopping_bag_toggle icon{
    border: 0;
    width: 20px;
    background-size: contain;
    height: 20px;
    margin: 0 auto;
    display: block;
    -webkit-filter: brightness(0%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
}
  li.searchTab > div:first-child icon{
    height: 23px;
    width: 23px;
  }

.categoryIntro.row > .categoryData > div.indentedSubCategories a{
    font-size: 10px!important;
}
ul.header_link_list > li.searchTab{
  height: 52px!important;
  padding-top: 13px!important;
  width: 53px;
}
ul.header_link_list > li.cartTab{
  margin-right: -10px!important;
}
body div.mainHeader div#shopping_bag_toggle{
    margin-top: 2px!important;
    margin-right: -2px!important;
    background: transparent!important;
    height: 52px!important;
    -webkit-transform: none!important;
    transform: none!important;
    width: 60px!important;
    margin-left: 0!important;
}
body div.mainHeader div#shopping_bag_toggle icon{
    margin-top: -13px;
    width: 26px;
    height: 24px;
    margin-left: -14px;
}
  div#shopping_bag_count{
    top: 17px;
    margin-right: -14px!important;
    width: 28px;
}
  body div#mobileSearchTogglerWrapper{
    right: 47px;
    background: transparent;
    width: 46px;
  }
  body div#mobileSearchTogglerWrapper:before{
    display:none;
  }
    div.mainRightSidebar div#shopping_bag_toggle,div.mainHeader div#shopping_bag_toggle{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    margin: 0;
    position: relative;
    padding-top: 0px;
    padding: 0!important;
    margin: 0 auto!important;
    display: block;
    margin-left: 13px!important;
    margin-top: 10px!important;
}
    .mainRightSidebar > .topSection .lft, .mainHeader > .topSection .lft{
    padding: 0;
}
    div.mainRightSidebar{
    right: -100%;
    width: 100%;
    }
    div.mainRightSidebar > div.topSection .rght > div#shopping_bag_count {
      font-size: 11.5px;
      font-weight: 400;
      line-height: 1.35;
      padding: 0px;
      color: #FFFFFF;
      margin-left: -2px;
      margin-top: -3px;
      font-family: 'Azo Sans', Helvetica, sans-serif;
  }
    div.mainRightSidebar > .topSection .rght{
    position: absolute;
    right: 50%;
    width: 6px;
    top: 49%;
    margin-top: -2px;
    margin-right: -5px;
    line-height: 1.2;
    height: 6px;
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.38);
    font-size: 9px;
    background-color: transparent;
    }

}


@media only screen 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
  .sale_icon {
        width: 33%;
      top: -215px;
      right: -5px;
  }
}


