.row:after {
    clear: both;
    content: '';
    display: table;
}
body.parts .row.row_of_2 {
    width: 100%;
}
.row.row_of_2 > .col {
    width: 50%;
    float: left;
    display: inline-block;
}
.row.row_of_2 > .col {
    width: 80%;
    margin: 0 auto;
    float: none;
    display: block;
}

.row.row_of_1 {
    width: 100%;
    margin: 80px auto;
    text-align: center;
}

.imageTiling.categoryProductsTiling {
    overflow: hidden;
    width: 75%;
    margin: 50px auto 0;
}
body.parts .imageTiling.categoryProductsTiling {
    width: 90%;
}
.imageTiling .row.row_of_2 > .col.mediaCol {
    float: right;
}

.imageTiling .row.row_of_2:nth-child(even) > .col.mediaCol {
    float: left;
}

.imageTiling .row.row_of_2 > .col,
.imageTiling .row.row_of_4 > .col {
    height: 32vw;
    position: relative;
    min-height: 420px;
}
body.parts .imageTiling .row.row_of_2 > .col {
    height: auto;
    min-height: 101px;
    position: relative;
    margin-bottom: 15px;
    width: 92%;
    padding: 10px 20px;
        background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: LatoWeb, Lato, "Noto Sans SC", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px !important;
}
body.parts .imageTiling .row.row_of_2 > .col:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)!important;
}

.imageTiling .row.row_of_2 > .col.mediaCol .media,
.imageTiling .row.row_of_4 > .col.mediaCol .media {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

a.productImgTxtLink {
    display: block;
    text-align: center;
}
body.parts a.productImgTxtLink {
    text-align: left;
    float: left;
    width: 40%;
    
}
body.parts a.productImgTxtLink h6 {
   font-size: 17px; 
}
body.parts p.price {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 20px;
    margin-bottom:10px;
}
body.parts a.solidBlueBtn.hollowBlueBtn.addToCart.accessProd {
    height: 49px;
    padding-top: 10px;
}
a.productImgTxtLink > img {
    width: 220px;
    margin: 0 auto;
    display: block;
}
body.parts a.productImgTxtLink > img {
    width: 50px;
    margin-top: 10px;
    margin-left: 0;
}
h1.dji-text.dji-blue {
    color: #00adf0;
}

.breadcrumbsHeader {
    text-align: left;
    display: block;
    padding-bottom: 48px;
    background: #f7f8fa;
    overflow: hidden;
    width: 100%;
}

.breadcrumbsHeader h1.dji-text.dji-blue {
    text-align: left;
    display: block;
    padding-top: 48px;
}
body.categories.index header.mainHeaderWrapper > .headerContent.mainContentWidth.clearfix {
    height: 66px;
}

body.categories.index header.mainHeaderWrapper > .headerContent.mainContentWidth.clearfix .visible a > p {
    line-height: 66px;
    height: 66px;
    padding-top: 11px;
}

body.categories.index header.mainHeaderWrapper > .headerContent.mainContentWidth.clearfix .visible a {
    height: 66px;
}

.categoryBreadcrumbs .horizontalList {}

.categoryBreadcrumbs {
    padding-top: 6px;
}

ul.horizontalList {}

ul.horizontalList > li {
    display: inline-block;
    float: left;
}

ul.horizontalList:after {
    clear: both;
    content: '';
    display: table;
}

.categoryBreadcrumbs li p {
    color: #4e4e4e!important;
    opacity: .65;
    font-size: 14px!important;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}

.categoryBreadcrumbs li:after {
    content: '/';
    display: inline-block;
    vertical-align: top;
    color: #4e4e4e;
    margin: 0 6px;
    font-weight: 100;
    font-size: 14px;
    margin-top: 0px;
    opacity: .65;
    float: left;
}

.categoryBreadcrumbs a {
    display: inline-block;
    vertical-align: top;
    float: left;
}

.categoryBreadcrumbs li:last-child:after {
    display: none;
}

.categoryBreadcrumbs li a:hover > p {
    opacity: 1;
}

a.productImgTxtLink > h6 {
    font-weight: 500;
    margin-top: 4px;
    line-height: 1;
}
div.parts_search {
    padding-top: 40px;
    text-align: right;
}
div.parts_search input {
    max-width: 300px;
    height: 42px;
    font-size: 14.5px;
    width: 100%;
    border: 1px solid rgba(36, 38, 43, 0.25)!important;
    border-radius: 0;
    padding: 15px 13px;
    line-height: 1;
    color: #000000;
    outline: none;
    font-weight: 400;
    padding-left: 10px;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}
}
body.parts a.productImgTxtLink > h6 {
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 15px;
}
.imageTiling .row.row_of_2 > .col.contentCol > .absTransCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}

body.parts .imageTiling .row.row_of_2 > .col.contentCol > .absTransCenter {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    transform: none;
    padding-left: 20px;
}
.imageTiling .row.row_of_4 > .col.contentCol > .absTransCenter {
    width: 75%;
}
.imageTiling .row.row_of_4 > .col.contentCol > .absTransCenter img {
    width: 100%;
    max-height: 185px;
}
h6.gothamLight.linkColor {
    color: #00adf0;
}

.categoryProductDescription {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    max-width: 535px;
    margin: 28px auto;
}

.categoryProductDescription > p {
    font-size: 12px;
    color: #4c4d4e;
    line-height: 1.5;
}

.imageTiling .row.row_of_2 > .col.contentCol .btnRow {
    text-align: center;
}
body.parts .imageTiling .row.row_of_2 > .col.contentCol .btnRow {
    position: absolute;
    right: 20px;
}
.imageTiling .row.row_of_2 > .col.contentCol .btnRow > a {
    margin: 0 8px;
}

body.categories.index section.exploreProducts {
    background: #f7f8fa;
    padding-top: 48px;
    padding-bottom: 88px;
}

.imageTiling .row.row_of_2 > .col.mediaCol .media:after {
    content: '';
    background-image: -moz-linear-gradient( 90deg, rgb(27,27,32) 0%, rgba(27,27,32,0.5) 43%, rgba(27,27,32,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(27,27,32) 0%, rgba(27,27,32,0.5) 43%, rgba(27,27,32,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(27,27,32) 0%, rgba(27,27,32,0.5) 43%, rgba(27,27,32,0) 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 104px;
}

.imageTiling .row.row_of_2 > .col.mediaCol p.caption {
    position: absolute;
    bottom: 8px;
    z-index: 10;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    right: 20px;
}

.imageTiling .row.row_of_2 > .col.mediaCol p.caption > span {
    color: #FFFFFF;
}
.comparisonToggleWrapper {
    position: absolute;
    right: 32px;
    top: 32px;
}

a.comparisonToggle > p {
    text-transform: uppercase;
    font-size: 10.5px;
    letter-spacing: .05em;
    font-weight: 900;
    color: #1b1b20;
    display: inline-block;
    vertical-align: top;
    margin-top: -3px;
    margin-left: 2px;
}

a.comparisonToggle {
    opacity: .5;
    position: relative;
    display: block;
    text-align: right;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
    height: 20px;
    padding-top: 1px;
}

icon.compareToggleIcon {
    width: 18px;
    height: 18px;
    border: 2px solid #1b1b20;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    opacity: .5;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}

icon.compareToggleIcon>span {
    background: #1b1b20;
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -webit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}

icon.compareToggleIcon>span:last-child {
    -webkit-transform: translate(-50%,-50%) rotate(90deg);
    -moz-transform: translate(-50%,-50%) rotate(90deg);
    transform: translate(-50%,-50%) rotate(90deg);
}

.comparisonLinkWrapper {
    opacity: 0;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}

.comparisonToggleWrapper:hover .comparisonLinkWrapper {
    opacity: 1;
}

.comparisonLinkWrapper>a>p {
    font-size: 10.5px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .05em;
    color: #00adf0;
    display: inline-block;
    line-height: 1;
}

.comparisonLinkWrapper>a>span {
    display: inline-block;
    line-height: 1;
    font-weight: 900;
    letter-spacing: .05em;
    font-size: 12px;
    color: #1b1b20;
    margin-left: 5px;
    opacity: .65;
    padding-left: 5px;
    height: 11px;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}
a.comparisonToggle.activeComparison>icon {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.comparisonLinkWrapper.hidden {
    visibility: hidden;
}
a.comparisonToggle:hover {
    opacity: 1;
}

a.comparisonToggle:hover>icon.compareToggleIcon {
    border-color: #00adf0;
    opacity: 1;
}

a.comparisonToggle:hover>icon.compareToggleIcon>span {
    background-color: #00adf0;
}
.comparisonToggleWrapper>.comparisonLinkWrapper {
    margin-top: 4px;
}

.comparisonToggleWrapper>.comparisonLinkWrapper>a {
    display: block;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
    border-bottom: 2px solid transparent;
    height: 24px;
    border-color: rgba(27, 27, 32, 0.35);
}

.comparisonToggleWrapper>.comparisonLinkWrapper>a:hover {
    border-color: #1b1b20;
}

.comparisonToggleWrapper>.comparisonLinkWrapper>a:hover>span {
    opacity: 1;
}

.showcaseImage {
    margin-top:30px;
    display: none;
}
.productModel {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: left;
    width: 100%;
}
.productModelSolo {
    display: inline-block;
    vertical-align: bottom;
    width: 32%;
    margin-top: 30px;
    border:3px solid #f7f8fa;
    padding-bottom:30px;
}
.productModelSolo h6.gothamLight {
    font-size: 13.5px;
    text-transform: uppercase;
    text-align: center;
}
.productModelSolo img {
    padding: 40px;
}
.productModelSolo:hover {
    border:3px solid #44a8f2;
}
.productModelSolo a.solidBlueBtn {
    margin-top: 20px;
}
.productModelSolo .col.right_float.mainActions {
    width: 60%;
    margin: 0 auto;
    float: none;
}
..productModelSolo productSecondaryActions.row {
    padding-top: 0;
}
.productModelSolo h6.gothamLight {
    margin-top: 10px;
    height: 35px;
}
body.parts .col.left_float.quantity.numbersRow {
    float: none;
    display: inline-block;
        width: 70px;
    height: 50px;
}
body.parts .col.left_float.quantity.numbersRow > input#product-quantity {
    height: 50px;
    line-height: 50px;
}
body.parts .quantToggleButtons > .button {
    height: 40%;
}

@media only screen and (max-width:850px){

    .sale_icon {
        width: 23%;
        top: -247px;
        right: 43px;
    }

    .imageTiling .row.row_of_2 > .col{
        width:100%;
        display:block;
        float:none!important
    }
    .imageTiling .row.row_of_2 > .col.contentCol{
        height: initial;
        min-height: initial;
        padding-top: 50px;
        padding-bottom: 50px!important;
    }
    .imageTiling .row.row_of_2 > .col.contentCol > .absTransCenter{
        position:relative;
        left: initial;
        top: initial;
        -webkit-transform: initial!important;
        transform: initial!important;
    }
    .productModelSolo {
        width: 100%;
        display: block;
    }
}


@media only screen 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
  .sale_icon {
        width: 33%;
      top: -215px;
      right: -5px;
  }
}
