body.privatelabel .mainHeader {
    position: absolute;
    /* box-shadow: none; */
    border-bottom: none;
}

body.privatelabel .mainHeader ul.header_link_list a {
}

body.privatelabel .mainHeader a.homeLink img {
}

body.privatelabel .mainRightSidebar {
}
body.privatelabel .mainPageContainer {
    width: 100%;
}
.introView.cushion_h1 > div h4:before {
}

.introView.cushion_h1:after {
    clear: both;
    content: '';
    display: table;
}

.introView.cushion_h1 > div > div:last-child p.as_l:after {content: '';position: absolute;bottom: -30px;left: 16px;width: 24px;background: #c1c1c1;height: 4px;opacity: 1;}

.privateLabelSection.content_width_1000.plTestimonials .cushion_h3 h3:after {content: '';position: absolute;right: -7px;top: 40px;background: transparent;width: 7px;bottom: 0;z-index: 0;}

.privateLabelSection.content_width_1000.plTestimonials .cushion_h3 h3:before {}

.privateLabelSection.content_width_1000.plTestimonials .cushion_h3 h3:before {
    content: '';
    position: absolute;
    left: -7px;
    top: 0;
    background: transparent;
    width: 7px;
    bottom: 0;
    z-index: 0;
}
body.privatelabel .mainHeader ul.header_link_list li.privateLabelNavTab a {
}
body.privatelabel .mainHeader ul.header_link_list {}
.introView.cushion_h1 {
    color: #FFFFFF;
    text-align: center;
    height: initial;
    position: relative;
    z-index: 1;
    
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    padding-bottom: 0;
}

.introView.cushion_h1 > div h4 {
    font-size: 41px;
    letter-spacing: .11em;
    font-weight: 600;
    padding-left: 0px;
    margin: 0;
    margin-bottom: 20px;
    display: block;
    padding-top: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-size: 5.2vw;
    position: relative;
    line-height: 1.1;
    z-index: 1;
    font-weight: 600;
    text-align: left;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    font-family: 'Warnock', times, serif;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: .35em;
    font-style: normal;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-align: Center;
    width: 100%;
    padding-top: 0;
    color: #FFFFFF;
    font-size: 5.2vw;
    position: relative;
    line-height: 1.1;
    z-index: 1;
    width: initial;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    font-size: 66px;
    letter-spacing: .035em;
    font-family: 'Savoy Regular', times, serif;
    font-style: italic;
    font-weight: 600;
    text-transform: capitalize;
}

.introView.cushion_h1 > div > h1 {
    font-size: 49px;
}

.introView.cushion_h1 > div p {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    padding-left: 0;
    margin-bottom: 91px;
    font-weight: 400;
    max-width: 600px;
    padding: 12px 16px 11px 16px;
    text-align: justify;
    line-height: 1.75;
    position: relative;
    margin: 39px auto;
    background: #FFFFFF;
    margin-left: 0;
    font-size: 16px;
}
.privateLabelPageWrapper .introView .content_width_1000 {
    max-width: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding-left: 12px;
    top: 50%;
    padding-right: 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.textCenteredRow.privateLabelIntro {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 14px;
    line-height: 1.6;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: .009em;
    letter-spacing: 0.03em;
    font-weight: 300;
    line-height: 1.65;
    font-size: 14px;
    text-align: justify;
    border: 1px solid rgba(36, 38, 43, 0.35);
    padding-top: 17px;
    margin-bottom: 24px;
    border-radius: 0;
    color: #000000;
    margin-top: 0;
    position: relative;
    width: calc(100% - 4px);
    margin-bottom: 2px;
    z-index: 100000;
    background: #FFFFFF;
    letter-spacing: .01em;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.65;
    font-weight: 300;
    margin-left: 2px;
    margin-top: 2px;
    background: #24262b;
    padding: 40px 50px 41px;
}
.introView.cushion_h1 icon.circleLogoOreo.fixed {
    /* position: fixed; */
    /* top: -4px; */
    /* left: 229px; */
    /* transform: scale(.3) translateX(-349px); */
}
.introView.cushion_h1 icon.circleLogoOreo {
    width: 200px;
    height: 200px;
    display: block;
    background-size: contain;
    display: none;
    opacity: 1;
    z-index: 1000;
    transition: transform .3s ease-in-out;
    margin-bottom: -110px;
    background-repeat: no-repeat;
    background-image: url(../assets/img/logomarkBlackPattern.png);
}

.introView.cushion_h1 > div > div {
    width: auto;
    display: inline-block;
    height: auto;
}
.floatingNav a.activePageSection {
    color: #000000;
    font-weight: 900;
}
.introView.cushion_h1 > div {
    text-align: left;
    position: absolute;
    left: 50px;
    z-index: 10;
    top: 57px;
    margin-left: 0;
}
.pageWrapper.privateLabelPageWrapper {
    padding-top: 0;
    min-height: 100vh;
    background: transparent;
    position:relative;
    padding-bottom: 64px;
    margin-top: 92px;
    background-color: #FFFFFF;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    z-index: 5;
}
.floatingNav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 0.95);
    right: 0;
    overflow: hidden;
    color: #000000;
    padding: 10px 27px 7px 20px;
    z-index: 1000000;
    border-right: 0;
    height: 58px;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.floatingNav a {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .315em;
    text-align: right;
    font-weight: 400;
    line-height: 42px;
    display: block;
    color: #7e7e7e;
}

.floatingNav:before {
    top: -7px;
    left: 0;
    right: 0;
    height: 7px;
    background: #f4f4f4;
    content: '';
    display: block;
    position: absolute;
}

.expandCollapseTrigger {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    margin-left: auto;
    margin-bottom: 7px;
    position: relative;
    margin-top: -6px;
    /* border: 1px solid #000000; */
}

.expandCollapseTrigger span {
    background: #000000;
    position: absolute;
    width: 2px;
    height: 14px;
    border-radius: 0;
    top: 50%;
    margin-top: -7px;
    right: 0;
    margin-left: -1px;
}

.expandCollapseTrigger span:last-child {
    transform: rotate(90deg);
}

.floatingNav:after {
    position: absolute;
    bottom: -4px;
    background: transparent;
    content: '';
    left: 0;
    right: 0;
    height: 4px;
}
.privateLabelPageWrapper .show_mdl.floatingActionBtn {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: rgba(36, 38, 43, 1);
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 56px;
    width: 241px;
    padding: 0 15px;
    letter-spacing: .135em;
    text-align: center;
    height: 36px;
    cursor: pointer;
    color: #FFFFFF;
    z-index: 100090000000;
    line-height: 40px;
    font-size: 10.5px;
    border-radius: 0px;
    font-weight: 900;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.privateLabelPageWrapper .show_mdl.floatingActionBtn.makeAbs{
}

.privateLabelPageWrapper .content_width_1000 {
    width: 100%;
    max-width: calc(100% - 4px);
    margin-left: auto;
    margin-right: auto;
    color: black;
    background: #24242;
}
.show_mdl.floatingActionBtn.fixed_fab {
    position: fixed;
    /* border-right-color: #000000!important; */
}

.floatingNav.fixed_nav {
    position: fixed;
    top: 0;
    border-color: rgba(156, 156, 156, 0.5);
    background-color: rgba(250, 250, 250, 0.95);
}

.show_mdl.floatingActionBtn:hover:after {position: absolute;left: 0;top: 0;right: 0;bottom: 0;}

.row.mediaTextColsUI {}

.row.mediaTextColsUI.mediaTextColsUI_imgRight>.mediaWrapper {
    float: right;
}

.row.mediaTextColsUI > div.col {
    height: 399px;
    position: relative;
    background: #242424;
    text-align: Center;
}

.row.mediaTextColsUI.mediaTextColsUI_imgRight>.mediaWrapper .mediaWrapper {}
.scrollPowerView.privateLabelFeatures.content_width_1000 > .cushion_h3 {
    padding: 15px 0 14px;
    text-align: left;
    background: #24242;
    position: relative;
    margin: 0 auto 0;
    display: block;
    width: 100%;
    overflow: hidden;
    background: #FFFFFF;
    background-image: -moz-linear-gradient( -90deg, rgb(253,241,244) 0%, rgb(236,237,246) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(253,241,244) 0%, rgb(236,237,246) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(253,241,244) 0%, rgb(236,237,246) 100%);
}
.privateLabelSection {
    min-height: 240px;
}
.privateLabelPageWrapper .cushion_h3 > h3 {
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    /* font-family: 'CortadoScriptWeb', serif; */
    text-transform: lowercase;
    letter-spacing: .19em;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 6px;
    padding-left: 27px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: .005em;
    font-family: 'Savoy Regular', times, serif;
}
.mediaTextColsUI .abs_trans_center.iconTextDesc h4 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .305em;
    font-family: 'Warnock', times, serif;
    text-transform: uppercase;
    line-height: 1.3;
    color: #FFFFFF;
}
.row.mediaTextColsUI > div.col p {
    color: #ffffff;
    margin-top: 14px;
    font-size: 18px;
    line-height: 1.35;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 1.75;
    letter-spacing: .03em;
    font-family: 'Azo Sans', Arial, sans-serif;
}

.row.mediaTextColsUI > div.col icon {
    display: block;
    width: 88px;
    height: 88px;
    margin: 0 auto 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: none;
}
body.privatelabel li.triggerNavSubRow .subNavWrap {
}

body.privatelabel li.triggerNavSubRow > div:first-child:after {
}
body.privatelabel div.mainRightSidebar div.lft {display: none;}

.introView.cushion_h1 > div > div:last-child {
    padding-right: 0;
    vertical-align: top;
    text-align: left;
    position: absolute;
    padding-top: 0;
    padding-bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    display: block;
    height: auto;
    max-width: 100%;
}
.mdl.mdl_plApplication .labelInputWrapper label {
    display: none;
}

.mdl.mdl_plApplication .labelInputWrapper input {
    position: relative;
    border: 0;
    border-bottom: 1px solid #666666;
    resize: none;
    outline: none;
    -webkit-transition: all .2s cubic-bezier(.645,.045,.355,1);
    color: #FFFFFF;
    transition: all .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
    background: transparent;
    padding-left: 0;
    font-size: 12px;
}

.mdl.mdl_plApplication .formWrapper input.btn {
    display: block;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(202, 81, 89, 0.9);
    height: 48px;
    padding-top: 0;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-transition: all .2s cubic-bezier(.645,.045,.355,1);
    transition: all .2s cubic-bezier(.645,.045,.355,1);
    border: 0;
    margin-top: 12px;
    float: none;
    text-align: center!important;
    line-height: 55px;
    padding-top: 0px;
    position: relative;
    min-width: 100%;
    z-index: 10;
    font-size: 14px;
}

.mdl_plApplication a#mdl_exit:hover icon span {
    background: #FFFFFF;
}

.mdl.mdl_plApplication .labelInputWrapper {
    margin-bottom: 18px;
}

.mdl.mdl_plApplication .labelInputWrapper textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border: 0;
    color: #FFFFFF;
    resize: none;
    padding-top: 12px;
    font-size: 12px;
}
div {}
.privateLabelSection.content_width_1000.plTestimonials .cushion_h3 img {
    width: 192px;
    margin: 0 auto;
    display: block;
}

.privateLabelSection.content_width_1000.plTestimonials .cushion_h3 {
    padding: 32px 0 14px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
    margin: 0 auto;
    width: 100vw;
}
.row_of_2.row.plExtraInfo {
    width: calc(100% - 100px);
    max-width: 100%;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    margin-top: 48px;
}
.row_of_2.row.plExtraInfo .cushion_h3 > h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .035em;
    font-family: 'Warnock', times, serif;
    color: #000000;
    text-transform: lowercase;
    font-style: normal;
    text-align: left;
    background: #FFFFFF;
    display: inline;
    font-size: 14px;
    padding-top: 26px;
    text-align: left;
    padding: 5px;
    padding-top: 15px;
    text-transform: uppercase;
}
.row_of_2.row.plExtraInfo > div {
    margin-left: 0;
    margin-right: 0;
    background: #FFFFFF;
    width: 100%;
    margin-right: 50px;
    text-align: center;
    position: relative;
    padding: 20px 30px 20px;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto!important;
    border: 1px solid rgba(36, 38, 43, 0.35);
    min-height: initial;
    margin-bottom: 8px;
    max-width: 960px;
}
div#privateLabelNav ul li {
    display: inline-block;
    margin: -1px 16px;
}
div#privateLabelNav {
    margin-right: -9px;
}
.introView.cushion_h1 > div > div:last-child > h6.cortado {
    font-weight: 300;
    text-transform: none;
    font-size: 20px;
    letter-spacing: .015em;
    margin-top: -6px;
    text-align: center;
    color: #ffffff;
    line-height: 1.4;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 20px;
    letter-spacing: .03em;
    font-family: 'Azo Sans', Arial, sans-serif;
}
div#privateLabelNav ul {
    text-align: right;
}
.row_of_2.row.plExtraInfo > div:nth-child(even) {
}
.privateLabelSection.content_width_1000.plTestimonials .cushion_h3 h3 {
    font-size: 29px;
    position: relative;
    font-weight: 300;
    /* font-family: 'CortadoScriptWeb', serif; */
    margin-top: 11px;
    letter-spacing: .1em;
    font-size: 22px;
    letter-spacing: .19em;
    line-height: 38px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    color: #FFFFFF;
    padding-top: 6px;
    padding-left: 0;
    padding-right: 0px;
}

.privateLabelSection.content_width_1000.plTestimonials > h1 {
    margin-top: 0;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    color: #666666;
    line-height: 1.56;
    font-weight: 300;
    font-size: 20px;
    padding-left: 0;
    text-align: center;
}

.privateLabelSection.content_width_1000.plTestimonials .tab_contents_wrapper {
    height: 400px;
    width: 100%;
    position: relative;
}

.privateLabelSection.content_width_1000.plTestimonials .tabController .tab {
    display: inline-block;
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    cursor: pointer;
}
.tabbedView.caseStudiesTabbedView .tabController {
    text-align: center;
    color: #666666;
    -moz-transition: font-weight 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: font-weight 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: font-weight 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: font-weight 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.tabbedView.caseStudiesTabbedView .tabController .tab {
    padding: 16px 0 13px;
    text-transform: capitalize;
    font-weight: 400;
}

.tabbedView.caseStudiesTabbedView .tabController .tab p {
    letter-spacing: .02em;
    font-size: 14px;
}

.privateLabelSection.content_width_1000.plTestimonials {
}

.privateLabelSection.content_width_1000.plTestimonials .tabController .tab:last-child {
    border-right: 0;
}

.privateLabelSection.content_width_1000.plTestimonials .tabController .tab.active {
    background: #f4f4f4;
    color: #000000;
    border-color: #e1e1e1;
}
.privateLabelSection.content_width_1000.plTestimonials .tab_contents_wrapper img {
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
}

.privateLabelSection.content_width_1000.plTestimonials .tab_contents_wrapper > div {
    position: absolute;
    height: 100%;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    width: 100%;
}

.privateLabelSection.content_width_1000.plTestimonials .tab_contents_wrapper > div > div {
    height: 100%;
    position: relative;
}
.privateLabelSection.content_width_1000.plTestimonials .tab_contents_wrapper > div.tab_content_active {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.privateLabelSection.content_width_1000.plTestimonials .tabbedView {
    background: #FFFFFF;
    margin: 0 auto;
    width: calc(100vw - 134px);
}

.privateLabelSection.content_width_1000.plTestimonials .tab_contents_wrapper > div > div > .abs_trans_center {
    width: 90%;
}

.tabbedView.caseStudiesTabbedView .btn_oreo {
    background: rgba(97,181,255,1);
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    font-weight: 600;
}
body.privatelabel.index .modal_curtain a.homeLink {
    display: none;
}

body.privatelabel.mdl_active_curtain {
    overflow-y: initial;
}

div#mdl_plApplication .header h2.as_l {
    letter-spacing: -.015em;
    font-family: 'Warnock', times, serif;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Savoy Regular', times, serif;
    line-height:1.25;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    letter-spacing: -.05em;
    margin-bottom: 12px;
    font-style: italic;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    text-transform: none;
    color: #FFFFFF;
    padding-top: 15px;
    margin-left: -2px;
}
.mdl > .header h2 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 2px;
    letter-spacing: .09em;
}

.mdl > .header > div.left_float {
    padding-right: 0;
}
.privateLabelSection.content_width_1000.plTestimonials .tab_contents_wrapper > div > div > .abs_trans_center > h4 {
    margin-bottom: 20px;
}

.privateLabelSection.content_width_1000.plTestimonials .tab_contents_wrapper > div > div > .abs_trans_center > p {
    margin-bottom: 25px;
    font-size: 18px;
    text-align: left;
    color: #666666;
    line-height: 1.35;
}

.row.row_of_2.mediaTextColsUI.mediaTextColsUI.mediaTextColsUI_imgRight:last-of-type > .col:not(.mediaWrapper) {
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-top: 0;
}

.row.row_of_2.mediaTextColsUI.mediaTextColsUI.mediaTextColsUI_imgLeft > .col:not(.mediaWrapper) {
    border-right: 1px solid #e1e1e1;
}

.row.row_of_2.mediaTextColsUI.mediaTextColsUI.mediaTextColsUI_imgRight > .col:not(.mediaWrapper) {
}
div#mdl_plApplication {
    top: 50%!important;
    max-width: 90vw;
    background: rgba(36, 36, 36, 0.87);
    position: fixed;
    max-height: 100vh;
    width: 550px;
}
input.btn {}

.formWrapper input.btn {
    border-radius: 0;
    color: #FFFFFF;
    font-weight: 600;
    border: 0;
    width: 100%;
    padding: 18px 57px;
    line-height: 1;
    font-size: 14.5px;
    letter-spacing: .19em;
    font-size: 18px;
    background: rgba(254, 100, 110, 0.9);
    letter-spacing: .14em;
    font-weight: 900;
}
.privateLabelSection.content_width_1000.plTestimonials .tabController .tab:hover p {
    color: #000000;
}
.submitRow > input,.submitRow > a {}

.submitRow {
    text-align: right;
    padding-top: 5px;
    /* border-top: 2px solid rgba(225, 225, 225, 0.4); */
    margin-top: 4px;
    padding-bottom: 9px;
}

.mdl > .header > div.right_float {
    padding-left: 4px;
}

input[type="file"] input {
    background: #000000;
}
input[type="file" i]::-webkit-file-upload-button:hover {text-decoration: underline;}
input[type="file" i]::-webkit-file-upload-button {
                        background: rgba(0, 0, 0, 0.5);
                        color: #FFFFFF;
                        font-family: 'Azo Sans', Helvetica, sans-serif;
                        text-transform: uppercase;
                        font-size: 8.5px;
                        border: 1px solid transparent;
                        letter-spacing: .095em;
                        font-weight: 900;
                        margin-top: -7px;
                        letter-spacing: .125em;
                        margin-right: 4px;
                        vertical-align: top;
                        height: 28px;
                        cursor: pointer;
                        border: 1px solid rgba(255, 255, 255, 0.15);
                        line-height: 1;
                        padding: 5px 17px 2px;
                        -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
                        -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
                        -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
                        transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
                    }

input#photo {
    font-size: 12px;
    color: #9c9c9c;
    padding-top: 9px;
    text-align: right!important;
}
.mdl .labelInputWrapper textarea {
    height: 92px;
    position: relative;
    vertical-align: top;
    margin-top: -4px;
}

.row_of_2.row.plExtraInfo p.lyon_r {
    color: #666666;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.4;
    color: #000000;
    padding-top: 0;
    font-size: 18px;
    line-height: 1.35;
    padding-left: 12px;
    background: transparent;
    max-width: 600px;
    font-weight: 400;
    text-align: left;
    font-size: 14.5px;
    line-height: 1.75;
    letter-spacing: .03em;
    font-family: 'Azo Sans', Arial, sans-serif;
    color: #000000;
    margin-top: 2px;
    font-size: 18px;
    line-height: 1.35;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 1.75;
    letter-spacing: .03em;
    font-family: 'Azo Sans', Arial, sans-serif;
}

.row_of_2.row.plExtraInfo {}

.row_of_2.row.plExtraInfo {}

ul.capabilities_list li p {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-weight: 400;
    margin-top: 12px;
    letter-spacing: .04em;
    color: #666666;
    padding-bottom: 11px;
}

ul.capabilities_list {
    text-align: center;
    display: inline-block;
    margin-top: 12px;
}
.floatingNav a:hover,.floatingNav a:active {
    color: #000000;
}
ul.capabilities_list li p:after {content: '';position: absolute;bottom: 0;height: 1px;width: 20px;left: 50%;margin-left: -10px;background: #e1e1e1;}

ul.capabilities_list li:last-child p:after {
    display: none;
}

.row_of_2.row.plExtraInfo > div h3 {
    text-shadow: none;
}
.row_of_2.row.plExtraInfo .cushion_h3 {
    padding-top: 10px!important;
    padding-bottom: 0;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 5px;
    text-align: left;
}

.row_of_2.row.plExtraInfo > div.abs_trans_center {
    width: 90%;
}

.row_of_2.row.plExtraInfo .abs_trans_center {
    width: 90%;
    position: relative;
    left: initial;
    top: initial;
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
}
.introView.cushion_h1 > div p:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100px;
    height: 1px;
    background: #9c9c9c;
}

.privateLabelPageWrapper .show_mdl.floatingActionBtn:hover {
    background-color: rgba(36, 38, 43, 0.8);
}

.privateLabelPageWrapper .cushion_h3 > h3:before {
    position: absolute;
    left: 0;
    content: '';
    top: 0;
    bottom: 0;
    width: 17px;
}

.privateLabelPageWrapper .cushion_h3 > h3:after {
    position: absolute;
    right: 0;
    content: '';
    top: 0;
    bottom: 0;
    width: 844px;
}
body.privatelabel.index .modal_curtain {
    background-color: #000000;
    opacity: .4;
}

body.privatelabel .mdl > .header > div.right_float {
    float: right;
    padding-left: 4px;
    margin-top: -7px;
    margin-bottom: 8px;
    margin-left: -18px;
    margin-right: -17px;
}

body.privatelabel .mdl > .header > div.left_float {
    padding-left: 25px;
}

.mdl > .header:after {
    clear: both;
    content: '';
    display: table;
}

div#mdl_plApplication .header {
    height: auto;
    background: transparent;
    margin-bottom: 9px;
}

div#mdl_plApplication .formWrapper {
    margin-top: -29px;
}

div#mdl_plApplication {}

.mdl label[for="desc"] {
    height: 92px;
    margin-top: -4px;
}
.introView.cushion_h1.privateLabelSection > .videoInitial {
    position: relative;
    overflow: hidden;
    left: 0;
    right: 0px;
    -o-filter: saturate(68%) brightness(104%);
    -ms-filter: saturate(68%) brightness(104%);
    -moz-filter: saturate(68%) brightness(104%);
    -webkit-filter: saturate(68%) brightness(104%);
    filter: saturate(68%) brightness(104%);
    top: 0;
    z-index: 2;
    height: 40vw;
    width: calc(100vw - 2px);
}
.introView.cushion_h1.privateLabelSection > .videoInitial > video {
    width: calc(100% + 3px)!important;
    margin-left: 0px;
    height: 56vw!important;
}
.row_of_2.row.plExtraInfo.privateLabelSection {}

.mdl.mdl_plApplication .labelInputWrapper label.keepThisLabel {
    display: block;
    background: Transparent;
    padding-left: 0;
    text-align: left;
    font-size: 10px;
    height: initial;
    padding-bottom: 6px;
    padding-top: 0;
    color: #FFFFFF;
}

.mdl.mdl_plApplication .labelInputWrapper input:hover,.mdl.mdl_plApplication .labelInputWrapper input:focus {
    border-bottom: 1px solid #ffffff;
}
.introView.cushion_h1.privateLabelSection > .videoInitial:before {content: '';position: absolute;left: 2px;top: 0;right: 0;bottom: 0;background: rgba(36, 38, 43, 0.25);}

@media screen and (max-width:510px){
    .privateLabelPageWrapper .floatingNav{
        position: fixed;
        bottom: 0!important;
        top: initial;
        left: 0;
        right: 0;
    }
    .privateLabelPageWrapper .show_mdl.floatingActionBtn{
        top: initial;
        bottom: 10px;
        position: fixed!important;
    }
}