.productHeader {
    text-align: center;
    color: #000000;
    border-top: 1px solid rgba(150, 150, 150, 0.1);
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
    height: 54px;
    line-height: 66px;
    z-index: 1000;
    right: 40px;
    left: 40px;
    top: 92px;
    margin-top: 0px;
    overflow: hidden;
    position: fixed;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.95);
    will-change: transform, -webkit-transform;
    -webkit-transition: -webkit-transform .15s cubic-bezier(0.28, 0.11, 0.32, 1), height .15s cubic-bezier(0.28, 0.11, 0.32, 1);
    -moz-transition: -moz-transform .15s cubic-bezier(0.28, 0.11, 0.32, 1), height .15s cubic-bezier(0.28, 0.11, 0.32, 1);
    -o-transition: -o-transform .15s cubic-bezier(0.28, 0.11, 0.32, 1), height .15s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: transform .15s cubic-bezier(0.28, 0.11, 0.32, 1), height .15s cubic-bezier(0.28, 0.11, 0.32, 1);
}
.productHeader h1 > span.priceText {
    vertical-align: top;
}

.row.productDetailSection.product_detail_stickyui .col.productMedia > .media_thumbs {
    top: 40px;
}

h3.as_r.price_text:before {
    display: inline-block;
    width: 4px;
    height: 4px;
}

h3.as_r.price_text:before {
    content:'';
    display:inline-block;
    background-color:rgba(36, 38, 43, 0.33);
    vertical-align:top;
    margin-top: 5px;
    margin-right: 5px;
}

.productHeader h1 > span:first-child:after {
    height: 4px;
    width: 4px;
    content: '';
    position: absolute;
    opacity: .25;
    background: #24262b;
    left: -14px;
    top: 50%;
    margin-top: -5px;
}

.productHeader h1 > span:first-child {
    margin-left: 8px;
}
div#loading-spinner {
    position: absolute;
    /* display: none; */
    width: 80px;
    height: 160px;
    padding-top: 80px;
    padding-bottom: 31px;
    /* opacity: 0; */
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    pointer-events: none;
    opacity: 0;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}
.discoball img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
}
#loading-spinner > .discoball {
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: discoball_hue;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* background: #e1e1e1; */
    border-radius: 200px;
    border: 2px solid #e1e1e1;
    height: 70px;
    width: 70px;
    /* box-shadow: 0 3px 200px -3px #e1e1e1; */
    margin: -15px auto 0;
}
.hanger {
    background: #e1e1e1;
    width: 2px;
    height: 60px;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -1px;
}
.hanger:before {
    background-image: linear-gradient(180deg, #f4f4f4 0%, rgba(244, 244, 244, 0) 100%);
    content: '';
    position: absolute;
    top: -1px;
    left: -3px;
    right: -3px;
    height: 74px;
}
.productHeader > h1 {}
.media_enlarged.zoomUIActive {
    position: absolute;
    left: 150px;
    right: 48px;
    /* width: auto; */
    overflow: hidden;
    background: #f7f7f7;
    top: 17px;
     height: calc(100vh - 171px); 
    /* -webkit-transition: none!important; */
    /* transition: none!important; */
    width: calc(100% - 159px);
}

.media_enlarged.zoomUIActive:after {content: '';/* position: fixed; *//* top: 0; */pointer-events: none;visibility: hidden;/* left: 0; *//* right: 0; *//* bottom: 0; *//* background: #000000; */}

.productHeader h4.as_r.full_price {
    vertical-align: top;
    position: relative;
    font-size: 27px;
    letter-spacing: -.015em;
    margin-right: 2px;
    display: inline-block;
    float: none;
    margin-top: 0;
    padding-top: 20px;
    line-height: 1;
    letter-spacing: .045em!important;
    font-weight: 500;
    font-size: 16px;
    color: rgba(36, 38, 43, 0.65);
    opacity: 1!important;
}

.productDataActions .header h4.as_r.full_price:after {content: '';position: absolute;left: 0;right: 0;top: 50%;background: #9c9c9c;height: 2px;margin-top: -3px;border-top: 1px solid #f4f4f4;}
.productHeader h1.as_r {
    text-transform: uppercase;
    letter-spacing: .315em;
    font-weight: 500;
    font-size: 16px;
    padding-top: 20px;
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    /* padding-left: 58px; */
    text-align: center;
    /* font-family: 'Warnock', times, serif; */
    /*    display: inline;
    vertical-align: top;*/
}
.relatedProductsSlider.slick-slider > button.slick-arrow {
    top: 10px!important;
    background-image: url(../assets/img/relatedProductsSliderArrow.png)!important;
    width: 13px!important;
    height: 13px!important;
}
.relatedProductsSlider.slick-slider > button.slick-arrow.slick-next {
    right: 21px;
    top: 12px!important;
}

.relatedProductsSlider.slick-slider > button.slick-arrow.slick-prev {
    transform: scaleX(-1);
    left: initial;
    right: 41px;
    top: 12px!important;
}
.col.productMedia > .media_thumbs > a.mediaThumb {width: 100px;height: 100px;display: block;margin-bottom: 10px;padding: 7px;opacity: .65;}
.col.productMedia > .media_thumbs > a.mediaThumb > div .media {
    background-size: contain;
    background-size: contain;
}
.col.productMedia > .media_thumbs > a.mediaThumb > div {
    width: 100%;
    height: 100%;
}

.col.productMedia > .media_thumbs > a.mediaThumb.mediaThumbVideo:hover > p {
    -moz-filter: brightness(0%);
    -o-filter: brightness(0%);
    -webkit-filter: brightness(0%);
    opacity: 1;
}
.pageWrapper.productPageWrapper.pageLeftNavSidebar {
    margin-bottom: -6px;
}

body.products .mainFooterWrapper .footerSiteIndexSection {
    border-top: 1px solid rgba(150, 150, 150, 0.1);
}
.col.productMedia > .media_thumbs > a.mediaThumb.mediaThumbVideo > p {
    letter-spacing: -.01em;
    text-align: Center;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),-moz-filter 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),-o-filter 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),-webkit-filter 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),-webkit-filter 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 65%;
    background-image: url(../assets/img/three60.png);
    font-size: 0;
    width: 29px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .7;
}

.col.productMedia > .media_thumbs > a.mediaThumb.mediaThumbVideo circle {
    background: rgba(102, 102, 102, 0.39);
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    top: 36%;
    left: 36%;
    transform: translate(-50%,-50%);
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

span.playTriangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8.5px 0 8.5px 12px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%,-50%);
}

.col.productDataActions {
    \: 9;
    z-index: 9;
    position: relative;
    text-align: center;
    height: 100%;
    width: 380px;
    min-height: 100vh;
    float: right;
    margin-top: 0px;
    border-left: 0;
    background: #FFFFFF;
    padding: 64px 40px 120px 30px;
    -webkit-transition: -webkit-transform .35s cubic-bezier(0.28, 0.11, 0.32, 1),opacity .25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: transform .35s cubic-bezier(0.28, 0.11, 0.32, 1),opacity .25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.main_media > .media_enlarged.media_enlarged_active {
    display: block;
}
.row.productDetailSection.product_detail_stickyui > .col.productMedia.quickSlideInactive {
    transition: transform .75s ease;
    /* margin-top: 58px; */
}
.productPageWrapper .col.productDataActions > .header {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 11px;
    margin-top: -12px;
    padding-left: 0;
    margin-bottom: 8px;
}

.productPageWrapper .col.productDataActions > .header h3.as_r.price_text {
    font-weight: 500;
    letter-spacing: -.015em;
    font-size: 27px;
    padding-top: 13px;
    vertical-align: top;
}

.productPageWrapper .col.productDataActions > .header h3.as_r.price_text > span {
    font-size: 33px;
    font-weight: 500;
}

.productDataActions div.accordionUI.customizationOption.customizationOptionSize {
    margin-top: -13px;
    margin-bottom: 2px;
    transition: .6s margin-bottom cubic-bezier(0.19, 1, 0.22, 1);
}

.productDataActions div.accordionUI.customizationOption.customizationOptionSize.accordionUI_active {
    margin-bottom: 15px;
}

.add_to_bag_wrapper a.favorite_btn.btn.btn_gray {
    margin-top: 16px;
}

a.favorite_btn.btn.btn_gray {}
.main_media > .media_enlarged .media {
    left: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 640px;
    width: 100%;
    height: auto;
    background-size: 100%;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: max-width,width,top;
    transition-property: max-width,width,top;
    will-change: max-width,width,top;
}
.row.productDetailSection.zoom_state_active {}

.row.productDetailSection.zoom_state_active .col.productDataActions {
    position: relative;
    right: 0;
    opacity: 0;
    -webkit-transform: translateX(35px);
    transform: translateX(35px);
}

.row.productDetailSection.zoom_state_active .col.productMedia.quickSlideInactive {
    width: calc(100% - 31px);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}


.row.productDetailSection.zoom_state_active .main_media .mediaWrapper .media {
    width: calc(100% - 120px);
    max-width: 940px;
    top: -9%;
}
a.mediaThumb.mediaThumbActive {
    border-color: #000000!important;
}

.col.productMedia > .media_thumbs > a.mediaThumb:hover {
    border-color: #000000;
}
.relatedProductsSlider {
    margin-left: -22px;
    margin-right: -22px;
    height: 240px;
    text-align: left;
}

.relatedProducts {
    margin-bottom: 140px;
    visibility: hidden;
    display: none;
}
.col.productMedia > .media_thumbs > a.mediaThumb.mediaThumbVideo:hover > circle {
    background: #000000;
}

a.mediaThumb.mediaThumbVideo.mediaThumbActive {
    background: #000000;
}

a.mediaThumb.mediaThumbVideo.mediaThumbActive circle {
    background: #FFFFFF!important;
}

a.mediaThumb.mediaThumbVideo.mediaThumbActive circle span.playTriangle {
    border-left-color: #000000;
}

a.mediaThumb.mediaThumbVideo.mediaThumbActive p {
    -moz-filter: brightness(500%)!important;
    -o-filter: brightness(500%)!important;
    -webkit-filter: brightness(500%)!important;
    opacity: 1!important;
}



.accordionUI.accordionUI_active .hidden {
    max-height: 1500px;
}

.productDataActions .accordionUI {
    text-align: left;
    background: #ffffff;
    margin-bottom: 11px;
    border-radius: 0px;
    overflow: hidden;
}
.productDataActions .accordionUI .visible:hover > label span {
    color: #000000;
}

label {}

.customizationOption a.toggleCustomizationOptions label span {
-moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    color: rgba(36, 38, 43, 0.3);
    font-weight: 600;
}
div.add_to_bag_wrapper div.productShareRow a {
    -webkit-filter: brightness(100%)!important;
    width: 40px!important;
    height: 40px!important;
    box-shadow: 0 0 0 1px rgba(225, 225, 225, 0.22);
    border-radius: 50%;
}

div.add_to_bag_wrapper div.productShareRow a:hover {
    box-shadow: 0 0 0 1px rgba(156, 156, 156, 0.25);
    opacity: 1;
    transform: scale(1.08);
    display: block;
}
.customizationOption a.toggleCustomizationOptions:hover label {
    color: #000000;
}
.productShareRow li {
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
}

.productShareRow {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 16px;
    padding-left: 9px;
}

div.productShareRow a.instagram.footer_social_icon {
    width: 15px;
}

div.productShareRow a.facebook.footer_social_icon {
    width: 15px;
    height: 15px;
}

div.productShareRow a.twitter.footer_social_icon {
    width: 17px;
    height: 15px;
}

.productShareRow li a {
    -webkit-filter: brightness(0%);
}
.customizationOption a.toggleCustomizationOptions label icon:before {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 3px solid rgba(102, 102, 102, 0.8);
    content: '';
    top: 1px;
    position: absolute;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}
.customizationOption.customizationOptionColor.accordionUI label {
    height: 60px!important;
}

a#triggerZopimChat {}

a.tel.black_thin_btn {}
.customizationOption a.toggleCustomizationOptions label icon:after {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 3px solid rgba(102, 102, 102, 0.8);
    content: '';
    top: 6px;
    position: absolute;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.customizationOption a.toggleCustomizationOptions:hover label icon:after {
    border-top-color: #000000;
}

.customizationOption a.toggleCustomizationOptions:hover label icon:before {
    border-bottom-color: #000000;
}
.productDataActions .accordionUI .visible {
    color: rgba(36, 38, 43, 0.9);
    padding: 0;
    display: block;
    position: relative;
    height: initial;
    line-height: 1;
}

.productDataActions .accordionUI .visible h6 {font-weight: 600;font-size: 12px;letter-spacing: .32em;color: rgba(36, 38, 43, 0.3);font-weight: 600;}

h6.as_r {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13.5px;
    letter-spacing: .06em;
}

.productDataActions .accordionUI .hidden {
    margin: 0;
    display: block;
    margin-top: -1px;
    top: 1px;
    cursor: default;
}

.productDataActions .accordionUI .visible icon {
    top: -1px;
    right: 12px;
}

.productDataActions .accordionUI .visible icon path {
    stroke-width: 1px;
    stroke: rgba(36, 38, 43, 0.7);
    fill: rgba(36, 38, 43, 0.7);
}
.relatedProductsSlider .sliderItem .mediaWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #FFFFFF;
}
.relatedProductsSlider .sliderItem .mediaWrapper > .media {
    background-size: 71%;
}
.relatedProductsSlider .sliderItem {
    position: Relative;
    margin-right: 1px;
}

.relatedProductsSlider .sliderItem:before {content: '';position: absolute;top: 0;left: 0;bottom: 0;width: 20px;/* background: linear-gradient(90deg,#fafafa,#FFFFFF); */z-index: 50;}

.relatedProductsSlider .sliderItem:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    /* background: linear-gradient(90deg,#ffffff,#fafafa); */
    z-index: 50;
}

.relatedProductsSlider .sliderItem .copyWrapper {
    position: absolute;
    transform: translateY(100%);
    left: 0;
    right: 0;
    height: 54px;
    bottom: 0;
    transition: transform .35s cubic-bezier(0.27, 0.98, 0.01, 0.98);
    display: block;
    background: #FFFFFF;
    background: rgba(255, 255, 255, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000)";
    z-index: 100;
}

.relatedProductsSlider .sliderItem a:hover .copyWrapper {
    bottom: 0;
    transition: transform .35s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transform: translateY(0%);
}

.relatedProductsSlider .sliderItem .copyWrapper h6 {
    color: #000000;
    text-transform: uppercase;
    font-size: 11.5px;
    position: absolute;
    top: 50%;
    letter-spacing: .06em;
    padding-left: 22px;
    font-weight: 600;
    padding-right: 22px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 3px;
}
.icon_title_text.row p {
    font-weight: 300;
    font-size: 14.5px;
    color: rgba(36, 38, 43, 0.9);
}

.relatedProducts > h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .06em;
    text-align: left;
    color: #666666;
    margin-bottom: 8px;
}

.productDataActions .accordionUI .hidden > p.as_l, .productDataActions .accordionUI .hidden > span {
    padding-top: 5px;
    padding-bottom: 7px;
    color: #000000;
    font-size: 14px;
    line-height: 1.65;
    font-weight: 300;
}

.productDataActions .accordionUI.accordionUI_active .hidden {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}

.help_options_wrapper {
    text-align: left;
    margin-top: 23px;
    padding-top: 19px;
    border-top: 1px solid #e1e1e1;
    margin-bottom: 24px;
    padding-bottom: 19px;
    border-bottom: 1px solid #e1e1e1;
}

.help_options_wrapper {}

.midg {
    color: #999999;
}

.help_options_wrapper > p {
    font-size: 11px;
    line-height: 1.34;
    margin-top: 3px;
    font-weight: 500;
    color: #24262b;
    font-size: 12px;
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: .01em;
}

.help_options_wrapper > p a {display: inline-block;color: #24262b;font-weight: 800;}

a.tel.black_thin_btn {
    display: inline-block;
    color: #24262b;
    letter-spacing: -0.01em;
    font-weight: 800;
}

.productDataActions .accordionUI .hidden > span > p {
    line-height: 17px;
    margin-bottom: 7px;
}

.productDataActions .accordionUI .hidden > span {
    display: block;
}

.productDataActions .accordionUI .hidden > span > p:last-child {
    margin-bottom: 0;
}
.productDataActions .accordionUI .hidden {
    opacity: 0;
}

.icon_title_text {
    margin-bottom: 12px;
}
.legShotsLifestyle .grid-item:last-child .mediaWrapper .media {background-position: -40% 50%;}
.icon_title_text > icon {
    display: inline-block;
    float: left;
    width: 25px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 26px;
    margin-top: 12px;
    position: absolute;
    left: 0px;
}
.col.productMedia.quickSlideActive .legShotsLifestyle > span.trigger_text span.lessText:hover {
    color: #000000;
    border-color: rgba(156, 156, 156, 0.46);
    background-color: #FFFFFF;
}
.col.productMedia.quickSlideActive .legShotsLifestyle > span.trigger_text span.lessText {
    display: block;
    font-weight: 600;
    color: #24262b;
    cursor: pointer;
    background: transparent;
}

.col.productMedia.quickSlideActive .legShotsLifestyle > span.trigger_text span.moreText {
    display: none;
}
icon {}

.productDataActions .accordionUI .visible:hover {
    color: #000000;
}

.productDataActions .accordionUI .visible:hover path {
    fill: #000000;
    stroke: #000000;
}
body.products .mainRightSidebar > .topSection {
    background: transparent;
    width: 24px;
    left: 0;
}

body.products .mainRightSidebar > .topSection > .rght {
    width: 6px;
    margin-right: 42px;
    margin-top: -1px;
}


.productHeader h4.as_r.full_price:after {content: '';height: 4px;background-color: rgba(202, 81, 89, 0.5);position: absolute;left: 11px;bottom: 7px;right: 0;}

.productHeader.fixed_product_header {
/*    position: fixed;
    top: 0;*/

    z-index: 1000;
}

.productHeader.fixed_product_header {}

.row.productDetailSection.product_detail_stickyui {
}

.row.productDetailSection.product_detail_stickyui > .col.productMedia {
    position: fixed;
    top: 88px;
    width: calc(100% - 380px);
    right: 320px;
    left: 40px;
    transition: transform .95s cubic-bezier(0.19, 1, 0.22, 1);
}

.icon_title_text > icon.col.truck_icon {
    background-size: 100%;
    width: 26px;
}

.icon_title_text span.col.as_l {
    display: inline-block;
    margin-left: 40px;
    padding-top: 9px;
    font-size: 14px;
    color: #666666;
    font-weight: 400;
}

.icon_title_text span.col.as_l b {
    font-weight: 600;
    color: rgb(36, 38, 43);
    line-height: 15px;
    margin-bottom: 3px;
    display: block;
    font-size: 10.5px;
    letter-spacing: .04em;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: none;
}


.grid{
    margin:0 auto;
}
/* fluid 5 columns */
.grid-sizer,
.grid-item {width: 50%;overflow: hidden;float:left;}
/* 2 columns wide */
.grid-item_lifestyle {width: 50%;}

.grid-item_legshot{width:50%;}
.grid-item_legshot{}

.media_wrapper_legshot.mediaWrapper.media_wrapper_legshot_flipped{
    -webkit-transform: scaleX(-1) translateX(-42px);
    transform: scaleX(-1) translateX(-42px);
}



.mediaWrapper.media_wrapper_lifestyle {
}

.grid-item_lifestyle img {
    width: 100%;
    height: auto;
}

.grid-item_lifestyle .mediaWrapper {
    overflow: hidden;
    height: 50vw;
}

.productMediaMasonry.grid {
    transition: 0.2s linear transform, top .5s ease;
    position: relative;
    display: block;
    vertical-align: bottom;
    top: 0;
}
.mediaWrapper.media_wrapper_legshot {
    height: 50vw;
    /* width: 50%; */
    transform: translateX(10px);
}
.col.productMedia.quickSlideActive {
    transform: translateY(calc(-92vh + 122px));
    transition: transform .95s cubic-bezier(0.19, 1, 0.22, 1);
}

.col.productMedia.quickSlideActive .media_thumbs {
    -moz-transform: translateY(calc(69vh + 67px));
    -webkit-transform: translateY(calc(69vh + 67px));
    transform: translateY(calc(69vh + 67px));
    opacity: .5;
}
.legShotsLifestyle {
    position: relative;
    margin-top: -40px;
    opacity: 1;
    height: 100vh;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 150px;
}

.col.productMedia.quickSlideActive .media_thumbs:hover {
    opacity: 1;
}
.relatedProductsSlider .sliderItem > a {
    height: 120px;
    display: block;
    margin-bottom: 1px;
}

.relatedProductsSlider .sliderItem > a > div {
}

.relatedProductsSlider .sliderItem > a:first-child > div.mediaWrapper {
    border-bottom: 1px solid #fafafa;
}
.legShotsLifestyle > .grid > .gradientOverlay {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: rgba(156, 156, 156, 0.3);
    /* border-top: 18px solid rgba(156, 156, 156, 0.45); */
    top: -5px;
    z-index: 100;
    height: 190px;
    -moz-transition: opacity 0.55s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: opacity 0.55s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: opacity 0.55s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: opacity 0.55s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    opacity: 1;
    background: linear-gradient(0deg,rgba(247, 247, 247, 0.8),rgb(247, 247, 247));
}
.media_wrapper_legshot .media {
}
.legShotsLifestyle .grid-item {
}
.legShotsLifestyle > span.trigger_text {z-index: 1000;position: absolute;color: rgb(102, 102, 102);transform: translateX(-50%);left: 50%;top: -49px;text-transform: uppercase;z-index: 10;display: inline-block;letter-spacing: .08em;font-weight: 600;-moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);-o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);-webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);font-size: 13.5px;}

.legShotsLifestyle:hover > span.trigger_text {color: #000000;border-color: #000000;}

.col.productMedia.quickSlideActive {}

.col.productMedia.quickSlideActive .legShotsLifestyle {
    cursor: default;
}
.legShotsLifestyle > span.trigger_text span.lessText {
    display: none;
}

.col.productMedia.quickSlideActive .legShotsLifestyle > span.trigger_text {
    opacity: 1;
    transform: none!important;
    pointer-events: all;
    position: fixed;
    top: initial;
    bottom: 150px;
}
.quickSlideInactive .legShotsLifestyle:hover .grid:before {
}

.quickSlideInactive .legShotsLifestyle:hover .grid {}

.quickSlideActive .legShotsLifestyle > .grid > .gradientOverlay {
    pointer-events: none;
    opacity: 0;
}
.legShotsLifestyle > span.trigger_text icon {
    display: inline-block;
    width: 6px;
    top: 3px;
    display: none;
    position: relative;
    margin-left: -2px;
}

.legShotsLifestyle > span.trigger_text span {
    display: inline-block;
    font-size: 11px;
    -moz-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),opacity 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98),box-shadow 0.25s,cubic-bezier(0.01, 0.98, 0.265, 0.98),border-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    font-size: 10px;
    font-weight: 400;
    background: rgba(36, 38, 43, 0);
    border: 0;
    color: #24262b;
    border: 1px solid rgba(36, 38, 43, 0.1);
    padding: 15px 24px 13px;
    height: initial;
    background: #FAFAFA;
    letter-spacing: .125em;
}
.productHeader h1 > span {
    font-size: 18.5px;
    font-weight: 600;
    letter-spacing: .135em;
    padding-top: 0px;
    vertical-align: top;
    line-height: 1;
    height: 20px;
    display: inline-block;
    position: relative;
}

.media_wrapper_legshot .media {
}
.legShotsLifestyle > span.trigger_text icon line:first-child {
    stroke-width: 66px!important;
    stroke: #666666;
    fill: #666666;
}

.legShotsLifestyle > span.trigger_text icon line {
    stroke-width: 54px;
    stroke: #666666;
    fill: #666666;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.legShotsLifestyle > span.trigger_text icon svg {
    padding: 3px;
}
.customizationOptionsModule.size_selection_module > div.row > div.col {
    width: 73px;
    float: left;
    display: inline-block;
    padding-top: 11px;
    height: 50px;
    background: #F7F7F7;
    text-align: center;
    margin: 0!important;
}
.legShotsLifestyle:hover > span.trigger_text line {
    stroke: #000000!important;
    fill: #000000!important;
}
.productHeader .scrollingHeaderSection {
    position: absolute;
    height: 60px;
    top: 7px;
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    transform: translateY(60px);
    right: 22px;
    display: none;
}

a.btn.btn_blue {
    background: #FFFFFF;
    border-color: #FFFFFF;
    font-weight: 600;
    color: #000000;
    height: 36px;
    width: 200px;
    padding: 10px;
    vertical-align: top;
    line-height: normal;
}
.scrollingHeaderSection .toggleNextPrevProducts {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -12px;
}

.customizationOption.customizationOptionSize.accordionUI.accordionUI_active {
    margin-bottom: 20px;
}

.scrollingHeaderSection .toggleNextPrevProducts .btn {
    background: #292929;
    border: 0;
    height: 30px;
    display: inline-block;
    float: left;
    margin-left: 1px;
}

.scrollingHeaderSection .toggleNextPrevProducts .btn.btn-prev {
    border-radius: 0;
}

.scrollingHeaderSection .toggleNextPrevProducts .btn.btn-next {
    border-radius: 0;
}

.scrollingHeaderSection .toggleNextPrevProducts .btn path {
    fill: #9c9c9c;
    stroke-width: 1.5px;
    stroke: #9c9c9c;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.scrollingHeaderSection .toggleNextPrevProducts .btn svg {
    width: 12px;
    display: block;
    margin-top: -3px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.dragToRotate > .dragToRotateContainer icon svg path {
    stroke-width: 0px;
    stroke: #FFFFFF!important;
    fill: #FFFFFF!important;
}
.customizationOption.customizationOptionSize a.toggleCustomizationOptions label {
    height: initial;
    padding-bottom: 9px;
    padding-top: 16px;
}
div#mainHeader.mainHeaderSearchActive ~ .pageWrapper.productPageWrapper {
    transform: translateY(49px);
}

div#mainHeader.mainHeaderSearchActive ~ .pageWrapper .productHeader {
}
.pageWrapper.productPageWrapper.pageLeftNavSidebar {
    background: #FFFFFF;
    -webkit-transition: -webkit-transform .15s cubic-bezier(0.28, 0.11, 0.32, 1);
    -moz-transition: -moz-transform .15s cubic-bezier(0.28, 0.11, 0.32, 1);
    -o-transition: -o-transform .15s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: transform .15s cubic-bezier(0.28, 0.11, 0.32, 1);
    /* will-change: transform, -webkit-transform; */
}

.customizationOptionsModule.size_selection_module > div.row > div.col {
    width: 73px;
    float: left;
    display: inline-block;
    padding-top: 12px;
    height: 50px;
    background: #f5f5f5;
    text-align: center;
    margin: 0!important;
}
.customizationOptionsModule.size_selection_module > div.row > div.col > h3 > span {
    display: block;
    margin-right: 28px;
    width: initial;
    height: 12px;
    opacity: .5;
    padding-top: 3px;
    width: 100%;
    font-weight: 800;
    -webkit-transition: background-color .15s cubic-bezier(.645,.045,.355,1),color .15s cubic-bezier(.645,.045,.355,1),border .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1);
    transition: background-color .15s cubic-bezier(.645,.045,.355,1),color .15s cubic-bezier(.645,.045,.355,1),border .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1);
    font-size: 10.5px;
}

.scrollingHeaderSection .toggleNextPrevProducts .btn.btn-prev svg {
    transform: rotate(90deg);
}

.scrollingHeaderSection .toggleNextPrevProducts .btn.btn-next svg {
    transform: rotate(-90deg);
}

.scrollingHeaderSection .toggleNextPrevProducts .btn:hover {
    background: #333333;
}
.customizationOption a.toggleCustomizationOptions label > span > span:first-child {
    margin-right: 4px;
}
.scrollingHeaderSection .toggleNextPrevProducts .btn:hover path {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}
.productHeader .scrollingHeaderSection .btn.disabled {
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: #000000;
}
.productHeader .scrollingHeaderSection .btn {
    margin-top: -14px;
    background: rgb(254, 100, 110);
    border-color: rgb(254, 100, 110);
    color: #FFFFFF;

    height: 40px;
    display: none!important;
    padding: 13px;
}
.productDataActions div.accordionUI.customizationOption .visible {
    padding: 0;
    height: auto;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    line-height: normal;
    pointer-events: none;
}

.productDataActions div.accordionUI.customizationOption .hidden {
    margin: 0;
    border: 0;
    margin-top: -4px;
    margin-bottom: 6px;
    background: transparent;

}

.customizationOptionsModule.color_selection_module .optionBox:hover > p {
    color: #000000;
}

.col.productDataActions > .header {
    margin-bottom: 17px;
    padding-left: 12px;
}
.customizationOptionsModule.selection_module.color_selection_module .optionBox p {
    display: none;
}
.customizationOptionsModule.size_selection_module > div.row > div.col:hover h3 {
}
a#add.firstAddBagBtn,a.favorite_btn.firstFavoriteBtn {
    display: block;
    line-height: normal;
    height: 48px;
    font-weight: 800;
    padding: 14px 18px;
    font-size: 16px;
    margin-top: 0;
    letter-spacing: .08em;
    background-color: rgba(202, 81, 89, 0.9);
    border-color: transparent;
}

a.favorite_btn.firstFavoriteBtn {
    margin-bottom: 14px;
}
a#add.firstAddBagBtn:hover,a.favorite_btn.firstFavoriteBtn:hover{
    background-color: rgba(202, 81, 89, 1);
    border-color: rgba(202, 81, 89, 1);
}
div a.favorite_btn.firstFavoriteBtn:hover{
    background-color: #9c9c9c;
}
div.customizationOptionsModule.color_selection_module > div.row > div.col:hover p{
    color:#000000;
}


a.btn.btn_black.addToBag.disabled {
    -moz-transform: scale(1)!important;
    -ms-transform: scale(1)!important;
    -webkit-transform: scale(1)!important;
    transform: scale(1)!important;
    background: #24262b!important;
    border-color: #24262b!important;
    cursor:default!important;
}
div#madeToOrder {
    border-top: 1px solid #e1e1e1;
    padding-top: 10px;
    text-align: left;
}

div#madeToOrder > h6.cortado {
    font-family: 'CortadoScriptWeb', serif;
    font-size: 26px;
    font-weight: 100;
    letter-spacing: -.02em;
}

div#madeToOrder > h5.cal_r {
    color: #9c9c9c;
    font-weight: 600;
    font-size: 14px;
    padding-top: 5px;
    line-height: 1.35;
    letter-spacing: .03em;
}

div#madeToOrder {}
div#madeToOrder > h6.cortado:before {content: '';background-image: url(../assets/img/madeToOrderStar.png);display: inline-block;width: 20px;margin-right: 5px;vertical-align: bottom;height: 20px;background-size: contain;margin-bottom: 5px;}
.main_media .media_enlarged.media_enlarged_image .photo {
    position: absolute;
    left: 120px;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    opacity: 0;
    margin: 2px;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .35s -webkit-transform cubic-bezier(.25,1,.25,1),opacity 0.35s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: .35s transform cubic-bezier(.25,1,.25,1),opacity 0.35s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-filter: brightness(.97);
    -ms-filter: brightness(.97);
    -webkit-filter: brightness(.97);
    -moz-filter: brightness(.97);
    filter: brightness(.97);
}
.main_media .media_enlarged.media_enlarged_image .photo.zoomPhotoActive {
    opacity: 1;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    -webkit-transform: scale(1.6)!important;
    transform: scale(1.6)!important;
}


.linkedItemCircle .tooltip{
    transform-origin:100% 50%;
    -moz-transform-origin:100% 50%;
    transform:scale(0);
    display: block;
    position: absolute;
    padding: 11px 14px 7px;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    top: 50%;
    width: 185px;
    right: calc(100% + 12px);
    border-radius: 3px;
    text-align: center;
    margin-top: -23px;
}

.linkedItemCircle:hover .tooltip{
    animation: appear .45s 1;
    animation-timing-function: cubic-bezier(.63,.09,.3,1.43);
     animation-fill-mode:forwards;
}

@keyframes appear {
    0%   {transform:scaleY(0) scaleX(0) translateX(0)}
    70%  {transform:scaleY(0.9) scaleX(0.9) translateX(0px)}
    100% {transform:scaleY(1) scaleX(1) translateX(0)}
}

a.linkedItemCircle {
    border: 1px solid #e1e1e1;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: -1px;
    opacity: .4;
    border-radius: 4px;
    z-index: 25;
    bottom: 0;
}

.linkedItemsWrapper {
    position: absolute;
    top: 42px;
    right: 34px;
    z-index: 100;
}

a.linkedItemCircle .mediaWrapper {
    width: 100%;
    height: 100%;
}

a.linkedItemCircle .mediaWrapper .media {
    background-size: 75%;
    border-radius: 100%;
}
a.linkedItemCircle:hover {
    opacity: 1;
}

.customizationOption a.toggleCustomizationOptions label > span#color-name > span {
    display: inline-block;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
    margin-top: 2px;
    max-width: calc(100% - 79px);
}
.productHeader .scrollingHeaderSection .btn:hover {
    background: rgb(255, 87, 97);
    border-color: rgb(255, 87, 97);
}
.customizationOptionsModule.selection_module.color_selection_module .optionBox p {
    display: none;
}
body.products .mainRightSidebar .rght div#shopping_bag_count {}
body.products.product {}

body.products.product .searchDropdown.show770.searchDropdownActive ~ .pageWrapper  .productHeader.fixed_product_header {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
}
body.products .mainRightSidebar .rght {
    margin-right: 11px!important;
    /* display: none!important; */
}
div#video_media_wrapper.fadeIn_Media video#video {
    opacity: 1;
}
.legShotsLifestyle .grid-item {
    background: #FFFFFF;
}
span.moreText:hover {
    border-color: rgba(156, 156, 156, 0.46)!important;
    background: #FFFFFF!important;
    font-weight: 600!important;
}
div#video_media_wrapper.drag_state_active video#video {
    opacity: 0;
}
div#video_media_wrapper.drag_state_active div#output {
    opacity: 1;
}
.linkedItemCircle .tooltip p {
    color: rgba(102, 102, 102, 0.8);
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .12em;
    line-height: 1.2;
    position: relative;
    z-index: 2;
}
a.favorite_btn.btn.btn_gray.favored {
    background-color: #e1e1e1;
}
.linkedItemCircle .tooltip:before {
    position: absolute;
    right: -5px;
    top: 50%;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    content: '';
    margin-top: -10px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}
.linkedItemCircle .tooltip:after {content: '';position: absolute;left: 0;top: 0;right: 0;bottom: 0;background: #f5f5f5;border-radius: 4px;}

.col.productMedia > .media_thumbs > a.mediaThumb.mediaThumbActive {
    opacity: 1;
}

.row.productDetailSection {
    width: 100vw;
    margin-top: -1px;
    padding-right: 40px;
    overflow: hidden;
    position: relative;
}
h3.as_r.price_text {
    display: inline;
    vertical-align: top;
    opacity: 1;
    position: relative;
    font-size: 27px;
    letter-spacing: -.015em;
    margin-right: 12px;
    display: inline-block;
    letter-spacing: .045em;
    font-weight: 500;
    font-size: 16px;
    padding-top: 20px;
    line-height: 1;
}

h3.as_r.price_text > span {
    vertical-align: top;
}
a#add.soldOutBtn.firstAddBagBtn {
    background: #24262b;
    border-color: #24262b;
}

a#add.firstAddBagBtn {
    padding: 15px 18px;
    height: 48px;
}




