

@media only screen and (max-width:1200px){

    .img_button {
        left: 50%;
        top: 0px;
        transform: translateX(-50%);
        bottom: auto;
      }

    .productDetailsActionBox {
        width: 35%;
    }
    .productDetailSection.mainProductInfo > .mainContentWidth {
        width: 53%;
        margin-left: 2% !important;
    }
    .mainLinksListWrapper li .visible a {
        padding-left: 8px;
        padding-right: 8px;
    }
    li.search_header {
        padding-left: 0;
    }
    
}

@media only screen and (max-width:1100px){
    .productDetailsActionBox {
        width: 35%;
    }
        .pageWrapper.cartPageWrapper > .content_width_1000 .shoppingInfoCol.col.fixed {
        position: relative;
    }

    .productDetailSection.mainProductInfo > .mainContentWidth {
        width: 53%;
        margin-left: 2% !important;
    }
    
    .pageWrapper.cartPageWrapper > .content_width_1000 .col.bagItemsCol, .pageWrapper.cartPageWrapper > .content_width_1000 .emailFormWrapperCol {
        width: 95%;
        max-width: 95%;
        margin-left: 0;
        margin: 0 auto;
    }
    .pageWrapper.cartPageWrapper > .content_width_1000 .shoppingInfoCol.col {
        position: relative;
        width: 100%;
    }
    .pageWrapper.cartPageWrapper:before {
        position: relative;
        width: 100%;
    }

    
}

@media only screen and (max-width:768px){
    .product__slider-thmb .slide {
        width: 50px !important;
    }
    .product__slider-thmb .slick-slide {
        width: 50px !important;
    }
    .slick-list.draggable {
        padding: 0 !important;
    }
    .product__slider-thmb .slick-track {
        transform: translate3d(0px, 0px, 0px) !important;
    }
    .black_friday_deal {
        width: 55%;
        margin-bottom: 80px;
    }

    .black_friday_deals .black_friday_deal:last-child {
        margin-bottom: 0;
    }

    .productDetailSection.mainProductInfo > .mainContentWidth {
        width: 90% !important;
        margin-left:auto !important;
    }
    .productDetailSection.productDetailSpecs {
        padding-top: 0;
    }
    h1.dji-text {
        font-size: 28px !important;
        letter-spacing: 1px !important;
    }

    .slide-black .container.mainContentWidth > .caption {
        width: 100%;
    }

    .slide-black .title {
        margin-top: 35px !important; 
    }

    .productDetailSection.mainProductInfo {
        float: none;
        width: 100%;
    }
        .pageWrapper.cartPageWrapper > .content_width_1000 .shoppingInfoCol.col.fixed {
        position: relative;
    } 
    div.form50,
    div.form30{
        float: none;
        width: 100%;
    }
      .shoppingInfoCol.col.shoppingInfoColPayment#theFixed {
        width: 90%;
        margin: 0 auto;
        display: none;
    }

}


@media only screen and (max-width:500px){

    .right_float .boldLinks {
        margin-right: -5px !important;
    }

    .container.mainContentWidth > .caption .footer > a {
        width: 200px !important;
    }

    .banner .caption .title {
        margin-bottom: 39px !important;
        margin-top: 30px
    }

    .container.mainContentWidth > .caption {
        margin-top: 80px !important;
    }

    .suggestedAccessories .mainContentWidth.row.row_of_3 > .col .btnRow {
        bottom: 20px !important;
    }

    body {
        overflow-x:hidden !important;
    }
    
    .mainLinksListWrapper {
        margin-left: 0;
    }
    
    /*banner*/
    .container.mainContentWidth > .caption {
        margin-top: 20px;
    }
    .container.mainContentWidth > .caption .footer > a {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    .slide-black .container.mainContentWidth > .caption .footer > a {
        width: 200px;
    }

    .banner .caption .title {
        margin-bottom: 120px;
    }

    /*footer*/
    @media screen and (max-width:500px) {
        .AuthorizeNetSeal {
            float: none;
        }
        .promoBar p {
            letter-spacing: 0em;
            font-size: 8.5px;
        }
    }
    .footerContent.mainContentWidth.clearfix {
        text-align: center;
        padding-top: 50px;
        position: relative;
    }
    .logoWrapper {
        margin-left: auto;
        margin-right: auto;
        float: none;
        position: absolute;
        left: 0;
        right: 0;
        top:0;
}

    /*shop*/
    body header .cartView {
        width: 100%;
    }
    .checkoutPageWrapper .header {
        text-align: center;
    }
    .searchResultsDropdown ul.ui-autocomplete {
            left: 0 !important;
    right: 0 !important;
    width: 97% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    }
    a.cartIcon {
        margin-right: 55px !important;
    }

    .cvv_help_box > .trigger {
        padding: 2px 4px;
    }

    .cvv_help_box > .ccv_help_box {
        left: -100px;
        bottom: 29px;
    }
    .pageWrapper.checkoutPageWrapper.shippingCheckoutPageWrapper .row.secondaryFocus {
        max-width: 300px;
        margin: 55px auto 0;
    }
    .pageWrapper.checkoutPageWrapper .row .col:first-child input[type="text"], input[type="email"],input[type="tel"] {
        font-size: 14px;
    }
    .productDetailsActionBox {
        margin: 0 auto;
    }
    .emailFormWrapperCol.col > h8 {
        margin: 0 auto 30px;
        width: 90%;
    }
    .productText_row h1.dji-text {
        font-size: 30px;
    }
    section.productDetailMainHero {
        height: 50vh;
    }
    .productDetailSectionHeader > .right_float {
        padding-right: 20px;
    }
    div.suggestedAccessories .mainContentWidth.row.row_of_3 > .col {
        height: 230px;
        /*margin-bottom: 10px;*/
    }
    .suggestedAccessories .mainContentWidth.row.row_of_3 > .col .btnRow {
        bottom: 0;
    }
    .mobileProductActionBox .priceBar.row {
        display: none;
    }
    .productMainImagesWrapper .swiper-slide .media {
        height: 250px;
        margin-top: 0;
    }
    .productDetailSectionHeader h6.gothamLight {
        text-align: center;
    }
    .productDetailSpecs .row.row_specs > .col {
        width: 49%;
    }
    .row.row_of_2.row_specs_stacked > .col {
        display: inline-block;
        width: 100%;
        float: none;
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }
    .specsCategory > ul > li > p {
        float: none;
        width: 100%;
        padding-left: 0;
    }
    .productDetailSection.productFeatureCenter h6.gothamLight {
        font-size: 26px;
    }
    .productDetailSection.productFeatureCenter > p {
        width: 90%;
    }

    /*service page*/
    .serviceFlow .serviceFlowStep {
        padding-left: 0;
        width: 98% !important;
        margin: 0 auto;
    }
    .serviceFlowStep .modal_formWrapper {
        margin: 0 auto;
    }
    .serviceFlowStep h6.gothamLight {
        text-align: center;
        margin-bottom: 30px;
    }
    .serviceFlowStep.serviceFlowStep_active:first-child > div {
        padding-left: 0;
        text-align: center;
        margin-top: 40px;
    } 
    fieldset.selectUIWrapper {
        display: block;
        width: 100%;
        margin: 10px auto;
    }
    .modal_formWrapper .inputRow > textarea {
        width: 100% !important;
    }
    .serviceFlowStep button {
        margin: 0 auto;
    }
    .emailFormWrapperCol.col h7 {
        line-height: 1.75em;
    }

    /*watch page*/
    body.watch header.mainHeaderWrapper {
        position: relative;
    }
    .mainContentWidth.mainContentWidth_watchPage h2.dji-text {
        font-size: 32px;
        padding-top: 20px;
    }
    .watchHero > .mainContentWidth h6.gohamLight {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    .videosGrid {
        margin-top: -10px;
        min-height: 200px;
        background-color: rgba(79, 79, 79, 0.5);
    }


    /*cart*/
    .pageWrapper.cartPageWrapper > .content_width_1000 .shoppingInfoCol.col {
        position: relative;
    }
    .col.bagItemsCol {
        width: 100%;
        margin: 0 auto;
        margin-left: auto;
    }
    .pageWrapper.cartPageWrapper > .content_width_1000 .col.bagItemsCol, .pageWrapper.cartPageWrapper > .content_width_1000 .emailFormWrapperCol {
        margin-left: auto;
        padding-top: 0;
    }
    .col.bagItemsCol > .header>h1.dji-blue.dji-text {
    font-size: 40px;
    text-align: center;
    display: block; 
        margin-top: 20px;
        margin-bottom: 30px;
}
    h6.as_l.bagItemInfoName {
        float: none;
        margin: 0 auto;
        width: 95%;
    }
    .bagItemsListWrapper li > div.row {
        text-align: center;
    }
    .col.bagItemsCol > .header>.right_float {
        float: none;
        text-align: center;
    }
    .bagItemsListWrapper .col.bagItemImg {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .bagItemsListWrapper {
        padding-top: 20px;
    }
    .orderTotalsData > .row {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .row.row_right.finalTotal {
        height: auto;
    }
    .row.row_right.finalTotal p {
        line-height: 100%;
    }
    .emailFormWrapperCol.col > .header {
        text-align: center;
    }
    .emailFormWrapperCol.col .btn.btn_blue {
        max-width: 80%;
    }
    .pageWrapper.checkoutPageWrapper {
        padding-bottom: 0;
    }
    
    .checkout_bottom {
        text-align: center;
    }
    .bagItemsListWrapper .col.bagItemInfo {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .bagItemsListWrapper .col .footer {
        position:   relative;
        margin-top: 20px;
    }
    .bagItemsListWrapper .col.bagItemPrice {
        width: 100%;
        text-align: center;
        float: none;
        margin: 20px auto;
    }

    .pageWrapper.cartPageWrapper > .content_width_1000 .shoppingInfoCol.col {
        width: 100%;
    }
    .col.orderDataLabel {
        width: 100%;
        text-align: center;
        padding-left: 0;
        float: none;
    }
    .col.orderDataValue {
        float: none !important;
        width: 100% !important;
        margin: 0 auto;
        vertical-align: top !important;
    } 
    .col.orderDataValue p {
        text-align: center;
    }
    .pageWrapper.cartPageWrapper:before {
        background: transparent;
        display: none !important;
    }


    /*checkout*/
    .emailFormWrapperCol.shippingFormWrapperCol.col, .paymentFormWrapperCol.col,
    .emailFormWrapperCol.col,
    .emailFormWrapperCol.shippingFormWrapperCol.paymentFormWrapperCol.col{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin: 0 auto;
        /*text-align: center; */
    }
    .emailFormWrapperCol.col > .header > h1.dji-text {
        text-align: center;
    }
    .emailFormWrapperCol.col h7:last-of-type {
        text-align: center;
    }

    .checkboxUX.optionBoxCheckboxUIWrapper p {
        font-size: 12px;
        padding-top: 3px;
    }
    input#checkoutEmail {
        width: 90%;
        /*margin: 0 auto 40px;*/
    }
    fieldset.selectUIWrapper {
        margin-bottom: 16px;
    }
    input#checkoutZip {
        width: 300px !important;
    }
    div#paypalPayment {
        text-align: center;
    }
    h1.dji-text {
        font-size: 40px;
    }
    body.wholesale .serviceFlow .wholesaleStep {
        width: 80%;
    }
    
    body header .nav-background ul {
        vertical-align: top;
        padding-top: 20px;
    }
.productDetailsSubHeader.mainLinksListWrapper {
    display: none;
}
    .col.right_float.mainActions {
        width: 100%;
    }
.productDetailSection.suggestedAccessories > .mainContentWidth {
    padding-top: 70px;0
}
    .productDetailSection.productDetailSpecs {
        padding-top: 100px;
    }

    .specsCategory > h6 {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .productDetailSection.productDetailSpecs > .mainContentWidth h4.phantomLight {
        margin-bottom: 0;
    }
.spareCol.col.left_float.quantity.numbersRow {
    margin-left: 5px;
}
    .productDetailSection.mainProductInfo {
        padding-bottom: 0;
        padding-top: 0;
    }
    .productDetailSection {
        min-height: auto;
    }
    .productDetailSection.productDetailSpecs > .mainContentWidth h4.phantomLight {
        font-size: 20px;
        margin-top: 0;
    }
    .productDetailSection.videosSection {
        display: none;
    }
    .col.left_float.quantity.numbersRow {
        float: none;
        margin: 10px auto;
        display: none;
    }
    div.twitterShareButton, .fb-share-button, div.pinterestShareButton, .fav_btn {
        display: none;
    }
.suggestedAccessories .mainContentWidth.row.row_of_3 > .col .btnRow {
    bottom: 10px;
}
div.suggestedAccessories .mainContentWidth.row.row_of_3 > .col {
    width: 50%;
}
.suggestedAccessories .mainContentWidth.row.row_of_3 > .col:nth-child(even) {
    margin-right: 0;
}
.variations.radioOptionsModule {
    display: none;
}
.icon {
    height: 75px;
}
li.search_header {
    padding-left: 0;
}
    .current_review h3 {
        text-align: center;
    }
    .current_review .stars {
        text-align: center;
    }
    .product__slider-main img {
        height: 200px;
    }
    #product__slider {
        padding-top: 25px;
    }
    .slick-prev, .slick-next {
        top:125px !important;
    }
    section.review_overlay.add_own_review,
    section.review_overlay.reviews .review_section{
        width: 100%;
        border: 0;
        text-align: center;
        padding: 0;
        float: none;
    }
}