.searchQueryFilterBar.selfclear.row {
    padding-bottom: 34px;
    border-bottom: 1px solid rgba(225, 226, 230, 1);
    padding-top: 4px;
}

.searchResultsGrid>div.col {
    width: calc(25% - 1px);
    position: relative;
    background: #FFFFFF;
    padding-bottom: 32px;
    float: left;
    padding-top: 62px;
    display: inline-block;
    margin-right: 1px;
    margin-bottom: 1px;
}

.searchResultsGrid:after {
    clear: both;
    content: '';
    display: table;
}

.searchResultsGrid {background: rgba(225, 226, 230, 1);padding-left: 1px;}

.searchResultsGrid>div.col:nth-child(4n) {
    margin-right: 0;
}

.searchQueryFilterBar.selfclear.row h4.gothamLight {
    line-height: 1;
    font-size: 28px;
    padding-top: 14px;
}

@media screen and (max-width:600px) {
    .searchResultsGrid>div.col {
    width: calc(50% - 1px);
    }
}