.servicePageHero {
    width: 100%;
    height: 40vw;
    position: relative;
}

.servicePageHero > .media {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.servicePageHero > .mainContentWidth {
    position: absolute;
    color: #1b1b20;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding-top: 16vw;
}
body.wholesale .servicePageHero > .mainContentWidth,
body.corporate .servicePageHero > .mainContentWidth {
    top:20%;
}
.wholesaleForm form input,
.wholesaleForm form select{
        width: 100%;
    border: 1px solid rgba(36, 38, 43, 0.25)!important;
    background: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 42px;
    line-height: 43px;
    font-size: 14.5px;
    font-family: 'Alright Sans',sans-serif!important;
    border-radius: 0;
    /* padding: 13px 18px; */
    padding-left: 13px;
    color: #000000;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wholesaleForm form input:placeholder {
    color:#000;
}

.wholesaleForm form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#000;
}
.wholesaleForm form input::-moz-placeholder { /* Firefox 19+ */
  color:#000;
}
.wholesaleForm form input:-ms-input-placeholder { /* IE 10+ */
  color:#000;
}
.wholesaleForm form input:-moz-placeholder { /* Firefox 18- */
  color:#000;
}
.wholesaleForm form input[type="submit"] {
    background: #44a8f2;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 14px;
    font-family: inherit;
    letter-spacing: 1px;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFFFFF;
    vertical-align: top;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .05em;
    border: 0 !important;
    font-style: inherit;
    border-radius: 3px;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
    text-decoration: none;
}
.wholesaleForm form input[type="submit"]:hover {
    background: #989b9c;
    cursor: pointer;
}
.servicePageHero > .mainContentWidth h2.dji-text {
    font-size: 32px;
    max-width: 650px;
    font-weight: 100;
    line-height: 1.2;
    margin: 0 auto;
    letter-spacing: .05em;
}

.servicePageHero > .mainContentWidth span {
    font-family: 'Dji', Arial, sans-serif;
    color: inherit;
    font-weight: 900;
}

.servicePageHero > .mainContentWidth h6.gothamLight {font-size: 14px;font-weight: 600;opacity: .85;padding-top: 25px;}

.serviceFlow {
    border: 1px solid #D3D4D6;
    max-width: 1080px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0px rgba(27,27,32,0.25);
    z-index: 10;
    position: relative;
    margin-bottom: 42px;
}

.reviewsModule .reviewsSwiper-container .swiper-button-prev:hover,.reviewsModule .reviewsSwiper-container .swiper-button-next:hover {
    opacity: 1;
}

.serviceFlow .serviceFlowStep {
    width: 33.3333%;
    display: inline-block;
    float: left;
    border-right: 1px solid #D3D4D6;
    height: 280px;
    padding-left: 20px;
    padding-top: 15px;
}
body.wholesale .serviceFlow .wholesaleStep,
body.corporate .serviceFlow .wholesaleStep{
    width: 60%;
    margin: 0 auto;
    float: none;
    display: block;
    padding-top: 30px;
}
body.wholesale .serviceFlow .wholesaleStep h6,
body.corporate .serviceFlow .wholesaleStep h6 {
    text-align: center;
    padding-bottom: 15px;
}

.serviceFlow > .mainContentWidth:after {
    clear: both;
    content: '';
    display: table;
}

.serviceFlow > .mainContentWidth {
    max-width: 100%;
    width: 100%;
}

.serviceFlow .serviceFlowStep:last-child {
    border-right: 0;
}

.serviceFlow .serviceFlowStep h6:before {
    border: 1px solid #1b1b20;
    content: '1';
    border-radius: 50px;
    width: 34px;
    display: inline-block;
    text-align: center;
    height: 34px;
    font-size: 16px;
    padding-top: 6px;
    margin-top: -3px;
    vertical-align: top;
    margin-right: 8px;
}

.serviceFlow .serviceFlowStep h6#step1:before {
    content: '1';
}
.serviceFlow .serviceFlowStep h6#step2:before {
    content: '2';
}
.serviceFlow .serviceFlowStep h6#step3:before {
    content: '3';
}

.serviceFlowStep h6.gothamLight {
    padding-top: 8px;
    font-size: 18px;
    color: #1b1b20;
}
a.btn.btn-info.new_ticket_btn {
    background-color: #4c4d4e;
    text-transform: uppercase;
    font-weight: 900;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 440px;
    letter-spacing: .05em;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 4px;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}
.request_box {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.request_box h2 {
        padding-top: 8px;
    font-size: 18px;
    color: #1b1b20;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.7;
    text-decoration: underline;
}

.serviceFlowStep.serviceFlowStep_active:first-child > div {
    padding-left: 42px;
    margin-top: -3px;
}

.serviceFlowStep.serviceFlowStep_active:first-child > div > a {
    display: inline-block;
    color: #44a8f2;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    vertical-align: top;
    line-height: 1;
    margin-top: 4px;
    position: relative;
    letter-spacing: .05em;
}

.serviceFlowStep.serviceFlowStep_active:first-child > div span.verticalSeparator {
    background: #d7d7d7;
    width: 2px;
    height: 12px;
    display: inline-block;
    margin-left: 1px;
}
.serviceFlowStep.serviceFlowStep_active:first-child > div > a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 1px;
    bottom: -2px;
    background: #44a8f2;
    height: 2px;
}

.serviceFlowStep.serviceFlowStep_active:first-child > div > a:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 51%;
    right: 51%;
    height: 2px;
    background: #1b1b20;
    -webkit-transition: .15s cubic-bezier(.165,.84,.44,1);
    transition: .15s cubic-bezier(.165,.84,.44,1);
}

.serviceFlowStep.serviceFlowStep_active:first-child > div > a:hover:after {
    left: 0;
    right: 0;
}

.serviceFlowStep.serviceFlowStep_active:first-child > div > a:hover {
    color: #1b1b20;
}
.aboutHero {
    width: 100%;
    position: relative;
}

.aboutHero > video {
    width: 100%;
}

.aboutHero > .mainContentWidth {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    text-align: center;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #FFFFFF;
}

.aboutHero > .mainContentWidth h2.dji-text {
    font-size: 66px;
    text-shadow: 0 0 50px rgba(27,27,32,0.25);
    letter-spacing: .05em;
}

.aboutHero > .mainContentWidth h6 {
    color: #FFFFFF;
    margin-top: 44px;
    font-size: 42px;
    text-shadow: 0 0 50px rgba(27,27,32,0.25);
}

.pageWrapper.aboutPageWrapper {
    background: #F8F9FB;
    margin-bottom: 48px;
}

.pageWrapper.aboutPageWrapper h6.gothamLight {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 4px;
    margin-bottom: 22px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.pageWrapper.aboutPageWrapper p {
    text-align: center;
    text-align: center;
    font-weight: 300;
    max-width: 690px;
    color: #1b1b20;
    line-height: 1.65;
    margin: 0 auto;
    font-size: 14.5px;
    margin-bottom: 18px;
}

.textSectionHeader {
    padding-bottom: 56px;
}

#map .map-info {
    position: absolute;
    top: 155px;
    left: 0;
    right: 30px;
}
#map .map_inner {
    padding: 15px;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.8);
}
#map .row {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 0;
     margin-bottom: 0;
     max-width: 67.5em;
 }
.contactPageWrapper .contact{
    margin-top: 20px;
    padding: 100px 0;
}
/*.contact button{
    top: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-transition: .35s cubic-bezier(.165,.84,.44,1);
    transition: .35s cubic-bezier(.165,.84,.44,1);
}
*/

fieldset.selectUIWrapper > span > svg, fieldset.selectUIWrapper.selectExpYear > span > svg {
    width: 100%;
}
fieldset.selectUIWrapper > span, fieldset.selectUIWrapper.selectExpYear > span {
    position: absolute;
    width: 11px;
    top: 22px;
    right: 22px;
}

fieldset.selectUIWrapper select:hover + span.downArrowICon path {
    fill: rgba(36, 38, 43, 1);
    stroke: rgba(36, 38, 43, 1);
}

fieldset.selectUIWrapper select + span.downArrowICon path {
    fill: rgba(36, 38, 43, 0.25);
    stroke: rgba(36, 38, 43, 0.25);
}

fieldset.selectUIWrapper {
    border: 0;
    display: inline-block;
    width: 40%;
    position: relative;
    max-width: 200px;
    padding-left: 0;
    margin-bottom: 6px;
    padding-top: 10px;
}

fieldset.selectUIWrapper select {
    width: 100%;
    border: 1px solid rgba(36, 38, 43, 0.25)!important;
    background: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 42px;
    line-height: 43px;
    font-size: 14.5px;
    font-family: 'Alright Sans',sans-serif!important;
    border-radius: 0;
    /* padding: 13px 18px; */
    padding-left: 13px;
    color: #000000;
    outline: 0;
}
.serviceFlowStep .modal_formWrapper{
    margin: auto 0;
    width: 80%;
}
.textareaRow{
    margin: 10px auto;
    width: 90%;
}

.serviceFlowStep button{
    margin: 0px 20px;
}

