.shopSocialGrid .grid-item,.shopSocialGrid .grid-sizer{
    width: calc(33.333% - 33px);
    height: auto;
    margin-bottom: -3px;
    overflow: hidden;
    margin-right: 16px;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}
.shopSocialGrid .grid-item:nth-of-type(odd){
    margin-right:0;
    width: calc(33.333% - 33px);
}
.grid.shopSocialGrid {
    width: calc(100% - 49px);
    margin-top: 92px;
    margin-left: auto;
    background: #FFFFFF;
    margin-right: auto;
    overflow-x: hidden;
}
.shopSocialCardInfo > h4 > span {
    display: block;
    padding-top: 8px;
    font-size: 16.5px;
    text-align: center;
    font-weight: 400;
    font-family: 'Azo Sans', Helvetica, sans-serif;
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    text-align: left;
    letter-spacing: .045em;
    -ms-transform: none;
    top: initial;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}
.shopSocialGrid .grid-item img {
    width: calc(100% + 5px);
    cursor: pointer;
    transition: filter .45s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: -webkit-filter .45s cubic-bezier(0.19, 1, 0.22, 1);
}
.shopSocialCardInfo {
    /* position: relative; */
    left: 0;
    right: 0;
    background: transparent;
    height: auto;
    padding: 0 0 5px;
    z-index: 10;
    text-align: center;
    transition: transform .35s cubic-bezier(0.19, 1, 0.22, 1) .2s, opacity .35s cubic-bezier(0.19, 1, 0.22, 1) .2s, -webkit-transform .35s cubic-bezier(0.19, 1, 0.22, 1) .2s,background-color 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    bottom: 6px;
    opacity: 1;
}
.shopSocialGrid .grid-item .mediaWrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
.shopSocialGrid .grid-item > a {
    overflow: hidden;
    display: block;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    padding: 11px;
    cursor: pointer;
    padding-bottom: 8px;
}

.shopSocialCardInfo > h4 {
    margin-bottom: 28px;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    height: auto;
    margin: 0 auto 11px;
    color: #000000;
    display: inline-block;
    float: left;
    margin-right: 0;
    width: calc(100% - 95px);
    position: relative;
    line-height: 1.33;
    font-family: 'Lyontext',serif;
    padding-top: 12px;
    vertical-align: top;
}

.shopSocialCardInfo > div > h5 {
    font-weight: 600;
    margin-top: 5px;
    font-size: 12.5px;
    line-height: 46px;
    background: rgb(255, 255, 255);
    border-width: 2px;
    color: #000000;
    border: 0;
    height: 42px;
    position: absolute;
    right: 5px;
    top: 0;
    padding: 0 14px 0 20px;
    box-shadow: 0 0 10px rgba(156, 156, 156, 0.18);
}
body.shopinstagram.index .mainHeader {
    box-shadow: none;
}
.shopSocialGrid .grid-item > a:hover .shopSocialCardInfo {
    opacity: 1;
}

.shopSocialGrid .grid-item > a:hover img {
    -webkit-filter: brightness(103%) saturate(103%);
}
.pageWrapper > .fixed_h1_cushion {
    position: fixed;
    color: #000000;
    top: 85px;
    left: 23px;
    right: 40px;
}

.pageWrapper > .fixed_h1_cushion h1.as_m {
    color: #000000;
    font-weight: 100;
    font-size: 52px;
    text-align: left;
    display: block;
    letter-spacing: .1em;
    padding-right: 18px;
}

.shopSocialCardInfo:before {content: '';position: absolute;bottom: 0;height: 1px;width: 100%;background: #e1e1e1;left: 0;-moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);-o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);-webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);}

.shopSocialCardInfo > div {
    /* position: relative; */
    display: inline-block;
    float: right;
    text-align: left;
    vertical-align: top;
    margin-top: 9px;
}

.shopSocialCardInfo:after {content: '';display: table;clear: both;}
.shopSocialCardInfo > div > span {
    text-transform: uppercase;
    font-size: 10.5px;
    font-weight: 600;
    color: #000000;
    letter-spacing: .12em;
    margin-left: -1px;
    width: auto;
    position: relative;
    top: -5px;
    display: inline-block;
    text-align: center;
    border: 1px solid #000000;
    padding: 5px 0;
    padding-top: 9px;
    line-height: 1.15;
    background: #FFFFFF;
    padding-left: 29px;
    padding-right: 8px;
    margin-left: -28px;
    border-radius: 0px;
}

.shopSocialCardInfo > div > icon {
    background-image: url(/content/frontend/assets/img/instagram_icon.png);
    -moz-filter: brightness(0%);
    -ms-filter: brightness(0%);
    -o-filter: brightness(0%);
    filter: brightness(0%);
    -webkit-filter: brightness(0%);
    width: 11px;
    margin-right: 2px;
    height: 11px;
    display: inline-block;
    margin-left: 11px;
    opacity: .2;
    margin-top: 15px;
    left: 3px;
    z-index: 10;
    top: -2px;
    position: relative;
    background-size: 100%;
    opacity: 1;
    background-repeat: no-repeat;
}
.pageWrapper.shopSocialPageWrapper {
    width: 100%;
    display: inline-block;
    padding-top: 3px;
    background: #FFFFFF;
    margin-top: 65px;
    padding-left: 1px;
    overflow-x: hidden;
}

.pageWrapper.shopSocialPageWrapper + .pagination {
    float: left;
    width: 56px;
    display: inline-block;
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 2px;
    top: 65px;
}

.pageWrapper.shopSocialPageWrapper + .mainFooterWrapper {
    display: none;
}

.pageWrapper.shopSocialPageWrapper ~ .mainFooterWrapper {
    display: none;
}

.pageWrapper.shopSocialPageWrapper + .pagination li {
    display: inline-block;
    width: calc(50% - 2px);
    color: #FFFFFF;
    float: left;
    text-align: center;
    margin-right: 2px;
    font-size: 10.5px;
    margin-bottom: 2px;
    font-weight: bold;
}

.pageWrapper.shopSocialPageWrapper + .pagination li:nth-child(even) {
    margin-right: 0;
}

.pageWrapper.shopSocialPageWrapper + .pagination li a {
    background: #242424;
    display: block;
    padding: 6px 0 2px;
}
#loading-spinner > .discoball{
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: discoball_hue;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* background: #e1e1e1; */
    border-radius: 200px;
    border: 2px solid #e1e1e1;
    height: 70px;
    width: 70px;
    /* box-shadow: 0 3px 200px -3px #e1e1e1; */
    margin: -15px auto 0;
}

div#loading-spinner.loading_spinner_active {
    opacity: 1;
}
div#loading-spinner {
    position: absolute;
    /* display: none; */
    width: 80px;
    height: 160px;
    padding-top: 80px;
    padding-bottom: 31px;
    /* opacity: 0; */
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    pointer-events: none;
    opacity: 0;
    -moz-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -webkit-transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: all 0.25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

@media screen and (max-width:710px){
    .shopSocialGrid .grid-item, .shopSocialGrid .grid-sizer{
    width: 100%!important;
    }
    div.grid.shopSocialGrid{
        width: 100%!important;
    }
    .pageWrapper > .fixed_h1_cushion h1.as_m{
        font-size:24px!important;
        margin-left: -3px;
    }
}