.pageWrapper.pageStoreWrapper {
    background: #FFFFFF;
}

.pageWrapper.pageStoreWrapper .cushion_h1 {
    color: #000000;
    text-align: center;
    padding-top: 0;
    padding-bottom: 31px;
    margin-bottom: 16px;
    background: #FFFFFF;
    position: fixed;
    z-index: 0;
    left: 2px;
    right: 2px;
    top: 0;
}
.action_row > a i.material-icons {
    font-size: 12.5px!important;
}
.firstGrid.row.row_of_2 > .mediaCopyWrapper img {
    margin: 0 auto;
    display: block;
    width: 100%;
}
.firstGrid.row.row_of_2 > .mediaCopyWrapper > div h5 {
    text-transform: uppercase;
    font-size: 14.5px;
    font-weight: 500;
    letter-spacing: .1em;
}

.firstGrid.row.row_of_2 > .mediaCopyWrapper div.abs_trans_center {
    background: #f4f4f4;
    padding: 86px;
}
.firstGrid.row.row_of_2 > .mediaCopyWrapper > div {
    margin-bottom: -9px;
    position: relative;
}

.firstGrid.row.row_of_2 {
    max-width: 1080px;
    margin: 0 auto;
}

.firstGrid.row.row_of_2 {}
.firstGrid.row.row_of_2 .videoWrapper video {
    width: 152vw!important;
    height: 100%!important;
}

.row.row_of_2 > .videoWrapper.col {
    overflow: hidden;
    position: relative;
    width: 25%;
    height: 86vw;
}

.videoWrapper.col:after {
    position: absolute;
    left: 0;
    top: 2px;
    right: 0;
    bottom: 0;
    /* background: rgba(255, 174, 168, 0.8); */
    content: '';
    width: 100%;
    height: calc(100% - 6px);
}

body.nycstore div#mainHeader {
}

.customManufacture {
    z-index: 1;
    position: relative;
    margin-top: -2px;
    padding-top: 22px;
    width: calc(100vw - 4px);
    background: #FFFFFF;
    margin-left: 2px;
    padding-bottom: 2px;
    background-image: -moz-linear-gradient( -90deg, rgb(253,241,244) 0%, rgb(236,237,246) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(253,241,244) 0%, rgb(236,237,246) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(253,241,244) 0%, rgb(236,237,246) 100%);
}

.customManufacture > h2 {
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 2vw;
    letter-spacing: .12em;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    text-transform: lowercase;
    font-size: 40px;
    letter-spacing: .052em;
    margin-top: 28px;
    color: #24262b;
    width: 100%;
    z-index: 2;
    text-align: center;
    margin-bottom: -7px;
    font-weight: 800;
    position: relative;
    line-height: 1.01;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    font-family: 'Savoy Regular', times, serif;
}

.customManufacture {}
.pageWrapper.pageStoreWrapper .cushion_h1 h1 {
    color: #FFFFFF;
    font-size: 5.2vw;
    position: relative;
    line-height: 1.1;
    z-index: 1;
    width: initial;
    font-weight: 600;
    text-align: left;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    font-size: 66px;
    letter-spacing: .035em;
    font-family: 'Savoy Regular', times, serif;
    font-style: italic;
    font-weight: 600;
    text-transform: capitalize;
}

.pageWrapper.pageStoreWrapper .cushion_h1 h3 {
    font-weight: 100;
    text-transform: lowercase;
    font-size: 20px;
    letter-spacing: .03em;
    margin-top: 14px;
    color: #FFFFFF;
    width: 100%;
    z-index: 2;
    text-align: left;
    position: relative;
    line-height: 1.01;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.pageWrapper.pageStoreWrapper .cushion_h1 p {font-weight: 500;max-width: 560px;padding: 0 18px;text-align: justify;line-height: 1.55;margin: 39px auto;font-size: 13.5px;}

div#maps > iframe {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 340px;
    min-height: 292px;
}

div#maps {
    margin: 0 auto;
    text-align: center;
    width: calc(100% - 398px);
    margin: 0 auto;
    display: inline-block!important;
    background: #f4f4f4;
    height: 340px!important;
    position: relative;
    z-index: 1;
    margin-top: 2px;
    margin-left: 2px;
}

div#maps > iframe#streetView {
    margin-left: 5%;
}

a#slideToCustom {
    border: 0;
    font-weight: 900;
    font-size: 11.5px;
    padding-right: 30px;
    padding-left: 30px;
    height: 48px;
}

.pageStoreWrapper .action_row {
    text-align: left;
    padding: 27px 0 62px;
    position: relative;
    z-index: 1;
}

div#maps:after {
    clear: both;
    content: '';
    display: Table;
}

.action_row > a {
    width: auto;
    padding-top: 19px;
    vertical-align: top;
    margin-right: 18px;
    background: #FFFFFF;
    font-we: 600;
    color: #000000;
    font-size: 10.5px;
    border: 0;
    font-weight: 900;
    height: 48px;
    border-radius: 2px;
}

a#slideToContact {
    background: #FFFFFF;
    color: #000000;
    border-color: #FFFFFF;
    font-weight: 600;
    font-size: 11.5px;
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
    height: 48px;
    margin-right: 24px;
}

.videoInitial {
    overflow: hidden;
    height: 51vw;
    z-index: 0;
}
body.nycstore div#mainHeader.headerShadow {
}
.videoInitial > video {
    width: calc(100vw - 4px)!important;
    margin: 0 auto;
    display: block!important;
    height: auto!important;
}
.firstGrid.row.row_of_2 > .mediaCopyWrapper {
    width: 100%;
}
.factoryExplore > div.contactInfo {
    background: #24262b;
    position: relative;
    left: 0;
    width: 392px;
    height: auto;
    max-width: 640px;
    margin: 2px auto 0;
    float: left;
    margin-left: 2px;
    display: inline-block;
    padding: 40px 28px;
    z-index: 10;
    text-align: center;
    height: 340px;
}

.factoryExplore {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin-top: 38vw;
    padding-top: 2px;
}

.factoryExplore > div.contactInfo h5 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .3em;
    margin-bottom: 10px;
    color: #e5e5e5;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 10.5px;
    font-family: 'Warnock', times, serif;
}

.factoryExplore > div.contactInfo > div:first-child {
    margin-bottom: 32px;
}
.pageWrapper.pageStoreWrapper .cushion_h1:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.48),rgba(0, 0, 0, 0));
    z-index: 1;
    width: 400px;
}
.videoOverlayWrapper {
    position: absolute;
    left: 50px;
    top: 120px;
}
.factoryExplore p.as_r > span {
    text-transform: uppercase;
    letter-spacing: .3em;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 10.5px;
    font-family: 'Warnock', times, serif;
    margin-bottom: 6px;
    display: block;
}
.factoryExplore > p.as_r {
    text-align: left;
    /* font-family: 'Calendas-Plus', Times, serif; */
    line-height: 1.78;
    margin: 0 auto 2px;
    font-size: 14px;
    width: calc(100vw - 4px);
    font-weight: 400;
    background: transparent;
    padding: 20px 28px;
    letter-spacing: .01em;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.65;
    font-weight: 300;
    margin-left: 2px;
    background: #24262b;
    padding: 40px 50px 41px;
    box-shadow: 0 0 0 2px #FFFFFF;
}

.action_row > a:hover {
    background: #24262b;
    color: #FFFFFF;
}

a#launchFactoryExploreSlides > h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    margin: 0 auto -1px;
    line-height: 1.1;
    letter-spacing: .15em;
    text-transform: uppercase;
    letter-spacing: .3em;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 10.5px;
    font-family: 'Warnock', times, serif;
}

.launchFactoryExplore {
    text-align: center;
}

a#launchFactoryExploreSlides > p {
    text-align: justify;
    /* font-family: 'Calendas-Plus', Times, serif; */
    line-height: 1.78;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    background: transparent;
    padding: 14px 0;
    letter-spacing: .01em;
    padding-top: 4p;
    font-size: 12.5px;
    padding-right: 12px;
    text-align: left;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.65;
    font-weight: 300;
}
.mediaCopyWrapper.col.makeCustomSlider div.abs_trans_center h5 {
    color: #FFFFFF;
    width: 100%;
    z-index: 2;
    font-size: 14px;
    text-align: center;
    word-spacing: 0;
    text-transform: uppercase;
    background: #242424;
    letter-spacing: .12em;
    padding: 19px 25px 17px;
    position: relative;
    font-weight: 600;
    line-height: 1.01;
}

.mediaCopyWrapper.col.makeCustomSlider .slick-slide {
    overflow: hidden;
    height: 435px;
}

.mediaCopyWrapper.col.makeCustomSlider .slick-slide img {
    width: 100%;
}
.mediaCopyWrapper.col.makeCustomSlider.slick-initialized.slick-slider {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.mediaCopyWrapper.col.makeCustomSlider.slick-initialized.slick-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.mediaCopyWrapper.col.makeCustomSlider.slick-initialized.slick-slider > button {
    display: none!important;
}

.customManufacture > h5 {
    text-transform: uppercase;
    letter-spacing: .32em;
    font-size: 10.5px;
    font-weight: 400;
    text-align: center;
    color: #24262b;
    margin-bottom: 50px;
    padding-left: 12px;
    padding-right: 12px;
}

@media screen and (max-width: 540px){
    .storeSlider.slick-slider{
    height: 45vh;
}
    div#maps{
        width:100%!important;
    }
    div.customManufacture > h2{
       font-size: 20px;
       padding-left:48px;
       padding-right:48px;
       margin-top: 3px;
    }
    div.factoryExplore > div.contactInfo{
    width: 100%!important;
}
    .customManufacture > h5{
        margin-bottom:12px;
        font-size: 8.5px;
        display: none;
    }
    div div.videoOverlayWrapper > h3{
    font-size: 14px!important;
    line-height: 1.4!important;
}
    div.videoOverlayWrapper > h1, div.videoOverlayWrapper > h3{
        text-align:center!important;
        margin-left: auto!important;
        margin-right: auto!important;
        font-size: 40px!important;
        color: #24262b!important;
        display: block!important;
        text-shadow: none!important;
    }
    div.videoOverlayWrapper{
        left: 0!important;
        top: 0!important;
        text-align: center!important;
        color: #24262b!important;
    }
    div.pageWrapper.pageStoreWrapper .cushion_h1:before{
        opacity: 0!important;
    }
    a#launchFactoryExploreSlides > h2{
    }
.pageWrapper.pageStoreWrapper .cushion_h1 h3{
    font-size: 28px;
    color: #24262b!important;
    width: calc(100% - 56px);
}
    .pageWrapper.pageStoreWrapper .cushion_h1{
    }
    .pageWrapper.pageStoreWrapper .cushion_h1,.videoOverlayWrapper{
        position:relative!important;
        margin-top: 52px;
        left: 0!important;
        padding-bottom: 12px;
        margin-bottom: 0;
    }
    .pageStoreWrapper .action_row{
        text-align:center!important;
        padding-bottom: 0px;
        display:block!important;
        padding-top: 12px!important;
        padding-bottom: 20px!important;
    }
    .action_row > a{
        padding-left: 0!important;
        padding-right: 0!important;
        height: 28px!important;
        padding-top: 10px!important;
        margin-right: 22px!important;
        float:none!important;
        font-size: 9.5px!important;
        padding-right: 0!imp;
        color: #24262b!important;
    }
    .factoryExplore{
        margin-top: 2px!important;
        padding-top: 0!important;
    }
}
.storeSlider.slick-slider > button {
    background-size: 24px 56px;
    height: 100%;
    background-color: rgba(36, 38, 43, 0.5);
    top: initial;
    margin-top: 0!important;
    opacity: 1;
    bottom: 0;
    transform: none!important;
}

.storeSlider.slick-slider > button.slick-prev {
    left: 0;
}

.storeSlider.slick-slider > button.slick-next {
    right: 0!important;
}
.factoryExplore > div.contactInfo a {
    color: #FFFFFF;
    font-weight: 300;
    letter-spacing: .03em;
    font-size: 12.5px;
    margin-bottom: 6px;
    display: inline-block;
}

.factoryExplore > div.contactInfo a {
    border-bottom: 0px solid #FFFFFF;
}

.factoryExplore > div.contactInfo > div:last-child > a {}

.factoryExplore > div.contactInfo a.bookAppt {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 10.5px;
    letter-spacing: .125em;
    padding-top: 3px;
    display: inline-block;
    border-bottom-width: 2px;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.factoryExplore > div.contactInfo a.bookAppt:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.pageWrapper.pageStoreWrapper + .mainFooterWrapper {
    box-shadow: none!important;
}