.pageWrapper.subcategoryPageWrapper.pageLeftNavSidebar {
    margin-top: 0;
    background: #FFFFFF;
}

.subCategoryHero {
    width: 100%;
    height: 40vw;
    position: relative;
    min-height: 232px;
    margin-top: 2px;
    z-index: 2;
    border-bottom: 2px solid rgb(250, 250, 250);
}

.subCategoryHero img.media {
    position: relative;
    width: calc(100% + 2px);
    height: 100%;
    margin: 0;
}
.subCategoryHero .image_mask {
    height: 100%;
    margin-left: -200px;
    width: calc(100% + 200px);
}
div#leftNavSidebar .mCSB_inside>.mCSB_container .accordionUI:last-child {
    margin-bottom: 60px;
}
.hero_description_wrapper.black h1.as_l {
    color: #000000;
    font-family: 'CortadoScriptWeb', serif;
    text-transform: lowercase;
    letter-spacing: -.01em;
}
body.categories .pageWrapper.subcategoryPageWrapper.pageLeftNavSidebar .offersSliderWrapper {
    left: 0;
    display: block!important;
    visibility: visible!important;
    opacity: 1!important;
    bottom: 0!important;
    right: 0!important;
    position: fixed;
    margin-top: 0!important;
    margin-bottom: 0!important;
    top: initial;
    z-index: 20;
    background: rgba(250, 250, 250, 0.95);
}
.col.productGridItem > a:hover .mediaWrapper .media {
    opacity: .7;
}
.hero_description_wrapper.black .btn.btn_white, .hero_description_wrapper.black .btn.btn_white:hover,.subCategoryHero:hover .hero_description_wrapper.black .btn.btn_white{
    border-color: #000000!important;
    color: #FFFFFF!important;
    -webkit-text-fill-color: initial!important;
    background: rgba(36, 38, 43, 0.95)!important;
    font-size: 12.5px;
    letter-spacing: .14em;
    font-weight: 900;
}
body.categories.category .mainFooterWrapper .footerSiteIndexSection {
}
body.categories.category div#leftNavSidebar {
    position: fixed;
    top: 65px!important;
    display: block!important;
    margin-top: 0;
    height: calc(100vh - 125px);
    min-height: calc(100vh - 65px);
}
.subCategoryHero:hover div.btn {
    color: #000000;  /* Fallback: assume this color ON TOP of image */
}

.subCategoryHero:hover div.btn:after {
    position: absolute;
    left: -1px;
    content: '';
    right: -1px;
    top: -1px;
    bottom: -1px;
    z-index: -1;
    background-color: #FFFFFF;
}

.subcategoryPageWrapper .product_inventory_gridui{
    padding-top:0;
    top: 0;
    position:relative;
    border-bottom: 2px solid rgba(250,250,250,1);
    padding-bottom: 2px;
    margin-bottom: 0;
    border-bottom: 0!important;
    margin-top: -2px;
    z-index: 10;
}

.subcategoryPageWrapper .product_inventory_gridui .product_grid_ui{
    padding-bottom: 2px;
}

.subcategoryPageWrapper .product_inventory_gridui .product_grid_ui .productGridItem a .mediaWrapper{
    top: 7px;
    overflow: hidden;
    left: 7px;
    right: 7px;
    bottom: 7px;
}
.mainHeader  ul.header_link_list.as_r.tab.left_float>li:first-child {
    margin-left: -20px;
}
.breadcrumbs > .row > .col:first-child {}

.breadcrumbs > .row > .col:first-child p {
    padding-left: 0;
}

.breadcrumbs .otherSubCats > .col:last-child p {
    padding-right: 0;
}
.breadcrumbs .col p {
    letter-spacing: .31em;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12.5px;
    padding: 2px 10px 0;
    height: 48px;
    line-height: 48px;
    color: rgba(36, 38, 43, 0.35);
}

.breadcrumbs .col {
    height: 48px;
}

.breadcrumbs .arrow {
    display: inline-block;
    float: left;
    margin-right: 3px;
    margin-left: 2px;
    margin-top: 22px;
    opacity: .65;
}

.breadcrumbs .arrow icon {
    margin-top: 1px;
}

.breadcrumbs .arrow icon svg {
    display: block;
    width: 7px;
}

.breadcrumbs .arrow icon svg path {
    stroke-width: 5px;
    stroke: #000000;
}

.subcategoryPageWrapper .breadcrumbs {
    padding-left: 40px;
    height: 58px;
    padding-right: 40px;
    position: fixed;
    top: 92px;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(250, 250, 250, 0.95);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0.28, 0.11, 0.32, 1),height .15s cubic-bezier(0.28, 0.11, 0.32, 1), background-color .25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -moz-transition: -moz-transform .1s cubic-bezier(0.28, 0.11, 0.32, 1),height .15s cubic-bezier(0.28, 0.11, 0.32, 1), background-color .25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    -o-transition: -o-transform .1s cubic-bezier(0.28, 0.11, 0.32, 1),height .15s cubic-bezier(0.28, 0.11, 0.32, 1), background-color .25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
    transition: transform .1s cubic-bezier(0.28, 0.11, 0.32, 1),height .15s cubic-bezier(0.28, 0.11, 0.32, 1), background-color .25s cubic-bezier(0.01, 0.98, 0.265, 0.98);
}

.breadcrumbs .col.activePage p {
    color: rgba(36, 38, 43, 1);
}

.breadcrumbs span.separator {
    float: left;
    display: none;
}

.breadcrumbs span.separator icon {
    background: rgba(156, 156, 156, 0.15);
    display: block;
    height: 18px;
    width: 1px;
    vertical-align: top;
    margin-top: 16px;
}

.breadcrumbs .otherSubCats:after {
    clear: both;
    content: '';
    display: table;
}
.breadcrumbs .col > a {
    display: block;
}
.breadcrumbs .otherSubCats {
    margin-left: 10px;
    display: inline-block;
    float: right;
}
#mainHeader.mainHeaderSearchActive ~ .subcategoryPageWrapper .breadcrumbs {
    -webkit-transform: translateY(98px);
    transform: translateY(98px);
}

#mainHeader.mainHeaderSearchActive ~ .subcategoryPageWrapper .breadcrumbs.breadcrumbsShifted {
    -webkit-transform: translateY(64px);
    transform: translateY(64px);
}
.otherSubCats {}
.breadcrumbs .right_float.inventoryFilterBar {
    width: initial;
    background: transparent;
    height: initial;
    line-height: initial;
}
.inventoryFilterBar .filterOption .row > .col.sizeBox > div:hover {
    background-color: #F5F5F5;
}

.toggleFilterOptions[data-filter_optiontype="color"] + .dropdownContent{
    overflow: scroll;
}
.toggle_dropdown.activeFilterOption + .hidden.dropdownContent {
    max-height: calc(100vh - 160px);
    border-color: rgba(36, 38, 43, 0.05);
}

a.col.colorSwatchBox > .optionBox > div h5.as_t {}

.subcategoryPageWrapper .collectionRow .collectionRowWrapper .productSliderWrapper {
}

.breadcrumbs .right_float.inventoryFilterBar label.lyon_r.dg {
    display: inline-block;
    font-size: 10px;
    padding-top: 21px;
    padding-right: 0px;
    vertical-align: top;
    color: #9e9e9e;
    padding-left: 0px;
    text-transform: uppercase;
}

.breadcrumbs .right_float.inventoryFilterBar .dropdown_ui {
    display: inline-block;
    height: 39px;
    width: 90px;
    border: 0;
    padding-right: 0;
    padding-left: 0;
    background: transparent;
    box-shadow: none;
    vertical-align: top;
}

.breadcrumbs .right_float.inventoryFilterBar .dropdown_ui .visible {
    cursor: pointer;
}

.breadcrumbs .right_float.inventoryFilterBar .dropdown_ui p.as_r.sort_by_main {
    font-size: 12.5px;
    letter-spacing: .015em;
    text-transform: capitalize;
    color: rgba(36, 38, 43, 0.85);
    padding-left: 2px;
}

.breadcrumbs .right_float.inventoryFilterBar .dropdown_ui icon {
    right: -1px;
    top: 24px;
    /* width: 11px; */
}
.pageWrapper.subcategoryPageWrapper.pageLeftNavSidebar.headerCollapsed .mainFooterWrapper {
    box-shadow: none;
}

.inventoryFilterBar .filterOption .row > a.col.colorSwatchBox {
    display: inline-block;
    float: left;
    height: 32px;
    width: 100%!important;
    margin-right: 4px;
    margin-bottom: 0;
    left: 0;
    margin-left: 0;
    position: relative;
    z-index: 1;
}
a.col.colorSwatchBox > .optionBox:hover {
    background-color: #eeeeee;
}

.inventoryFilterBar a.col.colorSwatchBox .optionBox:hover h5 {
    color: rgba(36, 38, 43, 1)!important;
}
.inventoryFilterBar .filterOption .row > a.col.colorSwatchBox h5.as_t {
    position: relative;
    font-size: 8px;
    font-weight: 900;
    text-align: center;
    color: rgba(36, 38, 43,.95);
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100% - 32px);
    opacity: 1;
    text-align: left;
    float: left;
    margin-top: 11px;
    padding-top: 12px;
    pointer-events: none;
    letter-spacing: .12em;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 3px;
    font-size: 10px;
    padding-left: 0;
    font-weight: 900;
    color: rgba(53, 55, 62, 0.65);
    padding-left: 6px;
    margin-left: 0;
    padding-top: 0px;
    transform: none!important;
}

.filterOption.filterOption_color {
    margin-left: 0;
    margin-top: -5px;
    padding-top: 0;
    padding-bottom: 22px;
    padding-left: 0;
    padding-right: 0;
}

.toggle_dropdown.down_arrow.activeFilterOption {
    background-color: transparent;
}

.inventoryFilterBar .filterOption .row > a.col.colorSwatchBox .media {
    border-radius: 0;
    width: 20px;
    display: inline-block;
    float: left;
    height: 20px;
    margin-top: 6px;
}

.inventoryFilterBar .filterOption .row > a.col.colorSwatchBox .optionBox:hover h5.as_t {
}
.inventoryFilterBar .filterOption .row > a.col.colorSwatchBox .optionBox.selected h5.as_t {
    color: rgba(36, 38, 43,1);
}
.inventoryFilterBar .filterOption .row > a.col.colorSwatchBox:hover {
    z-index: 2;
}

.hidden.dropdownContent .filterOption.filterOption_size {
    padding-top: -;
}
.tileIconWrapper > .row > .col {
    width: calc(100% - 1px)!important;
    margin-bottom: 2px!important;
}

.subcategoryPageWrapper .product_inventory_gridui .collectionRow:after {
    display: none;
}
.inventoryFilterBar .filterOption .row > .col.sizeBox > div:before {content: '';display: inline-block;float: left;width: 13px;vertical-align: top;margin-top: 10px;height: 13px;border: 2px solid rgba(53, 55, 62, 0.65);}

div#clearFilter > a span.lyon_r {
    display: inline-block;
    position: absolute;
    float: left;
    width: 10px;
    height: 10px;
    left: 4px;
    top: 50%;
    z-index: 10;
    margin-top: -4px;
    vertical-align: top;
}
.subCategoryHero.bannerOff {
    height: initial;
    padding-top: 164px;
    min-height: initial;
    padding-bottom: 6px;
}
.subCategoryHero.bannerOff .hero_description_wrapper {
    position: relative!important;
}

.subCategoryHero.bannerOff .hero_description_wrapper .abs_vert_center {
    position: relative;
    -webkit-transform: none!important;
    transform: none!important;
    top: initial;
    left: initial;
}

.subcategoryPageWrapper .product_inventory_gridui .collectionRow .collectionRowWrapper {
    padding-bottom: 0px;
    border-bottom: 0!important;
}
.subCategoryHero.bannerOff span.subcategory_name.cortado {
    color: #24262b!important;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .34em;
    font-family: 'Azo Sans', Arial, sans-serif;
    font-style: normal;
    display: block;
    text-align: center;
    font-size: 44px;
    line-height: 1;
}

.subcategoryPageWrapper .breadcrumbs > .row {
    padding-top: 5px;
}

.inventoryFilterBar .hidden.dropdownContent {
    width: 190px;
    position: absolute;
    margin-top: 0;
    background: rgba(250, 250, 250, 0.95);
    border-top: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.col.productsUI-layout-toggler {
    bottom: 0;
}