.background_overlay.backgroundOverlayFadingIn {
    opacity: 1;
}

.background_overlay {
    background: rgba(27, 27, 32, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    bottom: 0;
    -webkit-transition: .85s cubic-bezier(.165,.84,.44,1);
    transition: .85s cubic-bezier(.165,.84,.44,1);
}

.watchHero {
    width: 100%;
    position: relative;
}

.watchHero video#banner_video {
    width: 100%;
}

.watchHero > .mainContentWidth {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(calc(-50% - 25px));
    transform: translateY(calc(-50% - 25px));
    opacity: 0;
    text-align: center;
    left: 0;
    right: 0;
    -webkit-transition: -webkit-transform .4s cubic-bezier(.165,.84,.44,1) .5s,opacity .3s ease-in-out .6s;
    transition: transform .4s cubic-bezier(.165,.84,.44,1) .5s,opacity .3s ease-in-out .6s;
}

h2.gothamLight {}

h2.gothamLight > icon.djiIcon.djiIconUpload {
    width: 24px;
    height: 24px;
    display: inline-block;
}
icon.djiIcon.djiIconUpload {
    width: 50px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    margin-top: -4px;
    margin-right: 3px;
}

.mainContentWidth.mainContentWidth_watchPage h2.dji-text {
    color: #FFFFFF;
    font-size: 47px;
    vertical-align: top;
    font-weight: 100;
    letter-spacing: .05em;
}

.watchHero > .mainContentWidth h6.gohamLight {
    margin: 32px auto 24px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: .025em;
}

.watchHero > .mainContentWidth a.solidBlueBtn {
    background: #44a8f2;
    margin-top: 12px;
}

.watchHero > .mainContentWidth a.solidBlueBtn:hover {
    background: #2f8cd2;
}

.mainContentWidth.mainContentWidth_watchPage.fadeInText {
    -webkit-transform: translateY(calc(-50% - 0px));
    transform: translateY(calc(-50% - 0px));
    opacity: 1;
}