@font-face {
    font-family: 'big_johnregular';
    src: url('../font/big_john-webfont.eot');
    src: url('../font/big_john-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/big_john-webfont.woff2') format('woff2'),
         url('../font/big_john-webfont.woff') format('woff'),
         url('../font/big_john-webfont.ttf') format('truetype'),
         url('../font/big_john-webfont.svg#big_johnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}